{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">关联游泳池栅格类别</label>
        <div class="layui-input-inline">
            <select name="sid">
                <option value=""></option>
                {volist name="shange" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.sid"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关联游泳池档案运行类别</label>
        <div class="layui-input-inline">
            <select name="did">
                <option value=""></option>
                {volist name="dangan" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.did"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关联高度类别</label>
        <div class="layui-input-inline">
            <select name="hid">
                <option value=""></option>
                {volist name="height" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.hid"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">所属产品分类</label>
        <div class="layui-input-inline">
            <select name="s_id">
                <option value=""></option>
                {volist name="swingcates" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.s_id"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">游泳池产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产品图纸</label>
        <div class="layui-input-block">
            <input type="text" name="tuzhi" value='{$vo.tuzhi|default=""}'  class="layui-input">
            <span style="color:#ff2600;">*某些产品没有图纸，可以选择不上传;</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">'描述</label>
        <div class="layui-input-block">
            <input type="text" name="miaoshu" value='{$vo.miaoshu|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标准颜色</label>
        <div class="layui-input-block">
            <input type="text" name="color" value='{$vo.color|default=""}'   class="layui-input">
            <span style="color: #ff2600;">*多个服务信息以英文的,分割。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">'特殊颜色</label>
        <div class="layui-input-block">
            <input type="text" name="te_color" value='{$vo.te_color|default=""}'   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">'径向布局</label>
        <div class="layui-input-block">
            <input type="text" name="buju" value='{$vo.buju|default=""}'   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">'服务信息</label>
        <div class="layui-input-block">
            <input type="text" name="fuwu" value='{$vo.fuwu|default=""}'   class="layui-input">
            <span style="color: #FF0000;">*多个服务信息以英文的,分割。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系</label>
        <div class="layui-input-block">
            <textarea name="lianxi" class="layui-textarea">{if isset($vo['id'])}{$vo.lianxi}{/if}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">招标文书pdf</label>
        <div class="layui-input-block">
            <input type="text" name="zhaobiao" value='{$vo.zhaobiao|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='zhaobiao' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手册pdf</label>
        <div class="layui-input-block">
            <input type="text" name="shouce" value='{$vo.shouce|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='shouce' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">价目表pdf</label>
        <div class="layui-input-block">
            <input type="text" name="jiamu" value='{$vo.jiamu|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='jiamu' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产品数据表pdf</label>
        <div class="layui-input-block">
            <input type="text" name="chanp" value='{$vo.chanp|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='chanp' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--<button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        $('form [name="tuzhi"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>
{/block}

