{include file="public/header" /}

<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a>
                        </li>
                        <li><a href="{:url('index/architects')}">能力</a>
                        </li>
                        <li><a href="{:url('index/architects')}">顾客</a>
                        </li>
                        <li class="last active"><span>建筑承包商</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="darkcolor-banner "><img title="为什么入口垫对您的建筑有很好的意义！" alt="有用的信息，建设者"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Wissenswertes-fuer-Bauherren.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">为什么入口垫对您的建筑有很好的意义！</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">有用的信息，建设者</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco入口垫系统保护您的相邻地板覆盖物免受污垢。</font><font
                                    style="vertical-align: inherit;">因此，这些需要更少的清洁，降低滑倒事故和保护环境的风险。</font><font
                                    style="vertical-align: inherit;">当然，地板覆盖物可以保持更长时间的吸引力。</font><font
                                    style="vertical-align: inherit;">此外，emco入口垫可以卷起来，使它们非常坚固，易于铺设。</font><font
                                    style="vertical-align: inherit;">结合定制设计和高品质的工艺，它们可以帮助您的入口区域成为一个宏伟的入口。&nbsp;</font></font>
                            </p><a href="{:url('index/entrance_mats')}" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">了解更多关于emco入口垫的信息</font></font></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">不只是一个门垫！</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post">
                        <a href="{:url('index/functions')}"
                                             class="animation"><img title="功能和好处" alt="功能和好处"
                                                                   src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-eingangsmatten-funktion-vorteile-bauherren.jpg"
                                                                    width="555" height="270"></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">功能和好处</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">与建筑师一起规划和执行您的项目 - 您将看到emco入口垫系统的耐用性。</font></font>
                            </p><a href="{:url('index/functions')}" class="btn-more"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">更多关于功能</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/cleaning_and_maintenance')}"
                                             class="animation"><img title="清洁和维护" alt="清洁和维护"
                                                                   src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Reinigung-und-Pflege.jpg"
                                                                    width="555" height="270"></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">清洁和维护</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">您应遵循的提示和规则，以延长您的emco入口垫的使用寿命并保护相邻的地板覆盖物。</font></font>
                            </p><a href="{:url('index/cleaning_and_maintenance')}"
                                   class="btn-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">更多关于清洁</font></font></a></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div id="c5021" class="csc-default"></div>
    <div id="c3391" class="csc-default">
        <section class="darkcolor-banner "><img title="emco产品查询" alt="得到一个入口垫的报价：它快速而简单"
                                               src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Teaser_XXL/emco-Produktanfrage.jpg"
                                                width="1280" height="585">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco产品查询</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">得到一个入口垫的报价：它快速而简单</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">只需两步即可轻松完成：选择您想要的emco入口垫并添加配件。</font><font
                                        style="vertical-align: inherit;">发送给emco以及您的联系方式。</font><font
                                        style="vertical-align: inherit;">完成！</font></font></p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们会及时处理您的产品查询，如果我们有任何疑问，请尽快与您联系。</font><font
                                        style="vertical-align: inherit;">为您量身定制的emco入口垫提供最快捷的方式！</font></font></p><a
                                        href="{:url('index/product_enquiry')}" class="btn btn-default"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">立即咨询产品！</font></font></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a
                            href="{:url('index/entrance_mats_service')}">
                        <img title="emco服务" alt="emco服务"
                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Service.jpg" width="555" height="270">
                    </a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">emco服务</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">规划，测量，清洁，罗纹地毯更换和维修。</font><font
                                    style="vertical-align: inherit;">我们不会让你失望。</font><font
                                    style="vertical-align: inherit;">我们的服务团队将很乐意为您提供建议。</font></font></p><a
                                    href="{:url('index/entrance_mats_service')}"
                                    class="btn-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">入口消光服务</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post">
                        <a href="__STATIC__/index/fileadmin/user_upload/Kunden/Bauherren/Bauherreninfo_2015.pdf"
                                             title="Broschüreherunterladen" target="_blank">
                            <img title="建筑承包商的信息" alt="建筑承包商的信息"
                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Bauherren-Informationen.jpg"
                                 width="555" height="270"></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">建筑承包商的信息</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">在这里下载宣传册“emco入口消光 - 客户的重要信息”。</font></font></p><a
                                    href="__STATIC__/index/fileadmin/user_upload/Kunden/Bauherren/Bauherreninfo_2015.pdf"
                                    title="Broschüreherunterladen" target="_blank" class="btn-more"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">下载手册</font></font></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="标准尺寸的emco垫" alt="对你的家来说不可或缺"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Normmatten.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">标准尺寸的emco垫</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">对你的家来说不可或缺</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">它们与地板齐平，并且在铺设瓷砖时可以通过铺设器轻松安装（没有绊倒的风险 - 不会滑动 -
                                不会在门下堵塞）。</font></font></p><a
                                    href="{:url('index/emco_domestic_mats')}"
                                    title="去国内垫" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">了解更多有关emco家用垫的信息</font></font></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="emco徽标垫" alt="完美的点睛之笔"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-Logomatten.jpg"
                                            width="1280" height="520">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">emco徽标垫</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">完美的点睛之笔</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> - 适用于室内和室外区域。</font><font
                                    style="vertical-align: inherit;">使用emco的徽标垫为您的入口区带来最佳效果。</font><font
                                    style="vertical-align: inherit;">为您的访客提供热情的欢迎，他们可以看到。</font></font></p><a
                                    href="{:url('index/carpet_mats')}" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">了解有关徽标垫的更多信息</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="c3395" class="csc-default">
        <section class="lightcolor-banner "><img title="建筑师的Darling®2018适用于emco" alt="被选为清洁区最受欢迎的制造商"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Teaser_XXL/emco-gewinnt-Architects-Darling.jpg"
                                                 width="1280" height="580">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">建筑师：亲爱</font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 2018
                                EMCO</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被选为清洁区最受欢迎的制造商</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">在2018年，EMCO巴乌赢得了一枚建筑师达林</font></font><sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">奖（基于2100名德国建筑师和规划师的调查）我们的多功能和创新的污物收集解决方案。</font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们很高兴能与这个奖项，并认为这是一种激励，继续开发新的，高品质和创新的产品，在未来：EMCO创新，EMCO
                                    ECOLINE </font></font><sup><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">®</font></font></sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    PIONEER，尚无无与伦比，是我们要求所提供的完美的污垢证明 - 针对每种情况的收集解决方案。</font></font></p><a
                                        href="{:url('index/entrance_mats_range')}"
                                        class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在发现各种入口垫！</font></font></span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="darkcolor-banner "><img title="装修" alt="翻新，翻新，现代化"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Investoren_und_Bauherren/emco-SanReMo.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">建议用于清新</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">翻新，翻新，现代化</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">翻新整个入口区域是值得的：成功公司的文化在干净，精心照料的入口处闪耀。</font></font>
                            </p>
                            <a href="en/competences/customers/building-contractors/refurbish-renovate-modernise.html"
                               class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">刷新入口区域的图像</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="c6267" class="csc-default">
        <section class="darkcolor-banner "><img
               src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-zubehoer-eingangsmatten.png"
                width="2560" height="900" alt="">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">入口垫配件</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附加功能 -
                                    更多设计</font></font></h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">使用emco的创新理念，保证建筑物内的清洁度和安全性，或引起对入口区域的注意，或通过视觉亮点展示道路。 </font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在用emco的功能和设计元素增强您的入口垫系统！</font></font></p><a
                                        href="{:url('index/entrance_mat_accessories')}"
                                        title="现在发现扩展" class="btn btn-default"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在发现扩展</font></font></span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="c3397" class="csc-default">
        <section class="darkcolor-banner ">
            <img src="__STATIC__/index/fileadmin/user_upload/Startseite/iconset.png" width="1280" height="164" alt="">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>



    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>
    {include file="public/footer" /}
</body>
</html>