{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>You are here</span></li>
                            <li class="first"><a href="en/designing-clean-entrances.html">emco bau</a></li>
                            <li><a href="en/products/entrance-mats.html">products</a></li>
                            <li><a href="en/products/carpet-mats.html">carpet mats</a></li>
                            <li class="last active"><span>emco Classic - Classic</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <div id="c816" class="csc-default">
            <div class="tx-sz-comdbproducts">
                <section class="product-area" data-product="206" data-variant="381">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="carousel">
                                    <div class="mask">
                                        <div class="slideset">
                                            {volist name="banner" id="vo"}
                                            <div class="slide">
                                           <a href="{$vo.img}" class="t3colorbox-products animation" data-rel="slider" onclick="return false;">
                                            <img alt="Classic" src="{$vo.img}" style="width:417px;height:416px;"/></a>
                                            </div>
                                            {/volist}

                                            <!--<div class="slide"><a-->
                                                    <!--href="fileadmin/_processed_/csm_emco_bau_emco_Classic_2__143131_07bf11228d.jpg"-->
                                                    <!--class="t3colorbox-products animation" data-rel="slider"-->
                                                    <!--onclick="return false;"><img alt="Classic"-->
                                                                                 <!--src="fileadmin/_processed_/csm_emco_bau_emco_Classic_2__143131_1466a34595.jpg"-->
                                                                                 <!--width="413" height="416"/></a></div>-->
                                            <!--<div class="slide"><a-->
                                                    <!--href="fileadmin/_processed_/csm_emco_bau_emco_Classic_3__143129_2f9e76d879.jpg"-->
                                                    <!--class="t3colorbox-products animation" data-rel="slider"-->
                                                    <!--onclick="return false;"><img alt="Classic"-->
                                                                                 <!--src="fileadmin/_processed_/csm_emco_bau_emco_Classic_3__143129_598c57d0a3.jpg"-->
                                                                                 <!--width="312" height="416"/></a></div>-->
                                            <!--<div class="slide"><a-->
                                                    <!--href="fileadmin/_processed_/csm_emco_bau_classic_shop_ref2__70527_a115963a68.jpg"-->
                                                    <!--class="t3colorbox-products animation" data-rel="slider"-->
                                                    <!--onclick="return false;"><img alt="Classic"-->
                                                                                 <!--src="fileadmin/_processed_/csm_emco_bau_classic_shop_ref2__70527_b777311dfa.jpg"-->
                                                                                 <!--width="410" height="416"/></a></div>-->
                                        </div>
                                    </div>
                                    <ul class="pagination">
                                        {volist name="banner" id="vo"}
                                        <li><a href="#"><img alt="Classic" src="{$vo.img}" style="width:76px;height:75px;"/></a></li>
                                             {/volist}
                                        <!--<li><a href="#"><img alt="Classic"-->
                                                             <!--src="fileadmin/_processed_/csm_emco_bau_emco_Classic_2__143131_1564faa29b.jpg"-->
                                                             <!--width="75" height="75"/></a></li>-->
                                        <!--<li><a href="#"><img alt="Classic"-->
                                                             <!--src="fileadmin/_processed_/csm_emco_bau_emco_Classic_3__143129_7103749888.jpg"-->
                                                             <!--width="57" height="75"/></a></li>-->
                                        <!--<li><a href="#"><img alt="Classic"-->
                                                             <!--src="fileadmin/_processed_/csm_emco_bau_classic_shop_ref2__70527_ea4ed5da99.jpg"-->
                                                             <!--width="74" height="75"/></a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="product-details"><h2>emco {$mats.names}</h2>
                                    <div class="meta"><strong class="comments">{$mats.names}</strong></div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="categories-holder">
                    <form action="#" class="categories-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right"><a
                                        class="btn-overview btn btn-default" href="{:url('index/carpet_mats')}"><span>概述</span></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <section class="accordion-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-1"><h4 class="panel-title"><a
                                                role="button" class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse-1" aria-expanded="true"
                                                aria-controls="collapse-1">技术图纸</a></h4></div>
                                        <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="heading-1">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="accordion-tags no-padding">
                                                            <ul class="image-list-no-margin">
                                                                <li>
                                                                    <a href="{$mats.tuizhi}"
                                                                       class="t3colorbox-products"
                                                                       data-rel="information-1873789">
                                                                        <img src="{$mats.tuizhi}" width="417" height="102" alt=""/></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-2"><h4 class="panel-title"><a
                                                role="button" class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse-2" aria-expanded="false"
                                                aria-controls="collapse-2">技术数据</a></h4></div>
                                        <div id="collapse-2" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="heading-2">
                                            <div class="panel-body">
                                                <table class="table no-margin">
                                                    <tr>
                                                        <td data-uid="703">Backing material</td>
                                                        <td>emco FLEX® rubber coating, thickness approx. 1.4 mm plus
                                                            border reinforcement, smooth or dimpled
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="704">Border width</td>
                                                        <td>Approx. 20 mm</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="705">Pile height</td>
                                                        <td>Approx. 8 - mm</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="706">Pile material</td>
                                                        <td>High twist nylon (100% polyamide 6), effective pile weight
                                                            650 g/m2
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="707">Height</td>
                                                        <td>Approx. 10 - mm</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="708">Total weight (g/m²)</td>
                                                        <td>2.5 kg/m²</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="709">Dimension tolerance in %</td>
                                                        <td>3 %</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="710">Tread border label</td>
                                                        <td>By request</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="711">Water absorption</td>
                                                        <td>Approx. 3 to 4 litres per m2</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="712">Max. washing temperature °C</td>
                                                        <td>80 °C</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="713">Oil resistant (nitrile rubber back)</td>
                                                        <td>Extremely good</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="714">Electrostatic behaviour</td>
                                                        <td>Extremely low electrostatic charging, volume resistance 2.2
                                                            x 1011 Ohms, in acc. with DIN 54345
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="715">Resistance to fire</td>
                                                        <td>Acc. to Cfl–s1 (in acc. with EN 13501), flame resistant
                                                            available
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="716">Warranty</td>
                                                        <td>10 years or 200 washes, subject to proper care, cleaning and
                                                            storage.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-uid="717">Standard dimensions in cm</td>
                                                        <td>85 x 75<br/>85 x 120<br/>85 x 150<br/>100 x 200<br/>115 x
                                                            180<br/>115 x 200<br/>115 x 240<br/>150 x 200<br/>150 x
                                                            250<br/>200 x 200<br/>200 x 300<br/>200 x 400<br/>Special
                                                            dimensions possible, up to 200 x 500 cm
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-3"><h4 class="panel-title"><a
                                                role="button" class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse-3" aria-expanded="false"
                                                aria-controls="collapse-3">颜色</a></h4></div>
                                        <div id="collapse-3" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="heading-3">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="accordion-tags no-padding">
                                                            <ul class="image-list-no-margin">
                                                                {volist name="color" id="vo"}
                                                                <li><img src="{$vo.img}" width="122" height="122" alt=""/><span>{$vo.title}</span></li>
                                                                {/volist}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="downloads-section">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-12"><h2>下载</h2></div>
                            </div>
                            <div class="posts">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="post">
                                            <a href="{$mats.sz_table}"
                                               class="download-icon download-icon-pdf" target="_blank"
                                               title="Download this document" data-gtm-event="download"
                                               data-gtm-file-name="{$mats.sz_table}">
                                            <div class="text"><strong class="title">产品数据表</strong><span
                                                    class="file-size">pdf 206 KB</span></div>
                                        </a></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="post"><a
                                                href="{$mats.shou_ce}"
                                                class="download-icon download-icon-pdf" target="_blank"
                                                title="Download this document" data-gtm-event="download"
                                                data-gtm-file-name="{$mats.shou_ce}">
                                            <div class="text"><strong class="title">手册</strong><span
                                                    class="file-size">pdf 8 MB</span></div>
                                        </a></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="post"><a
                                                href="{$mats.info}"
                                                class="download-icon download-icon-pdf" target="_blank"
                                                title="Download this document" data-gtm-event="download"
                                                data-gtm-file-name="{$mats.info}">
                                            <div class="text"><strong class="title">建筑物业主的信息</strong><span class="file-size">pdf 170 KB</span></div>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>
{include file="public/footer" /}
</body>
</html>