{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li class="last active"><span>地毯垫</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner "><img
                title="Carpet mats from emco outstanding quality and technical innovation"
                alt="Carpet mats from emco outstanding quality and technical innovation"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/Teppichmatten-von-emco.jpg" width="1280"
                height="620"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>来自emco的地毯垫</h1>
                                <h2>卓越的品质和技术创新</h2>
                                <p class="bodytext">
                                    <span style="line-height: 1.42857; ">
                               不仅仅是污垢收集，无论是标准形状还是特殊形状。无论是印有图像还是促销信息 - 来自emco的徽标垫都凭借其高品质的工艺和精心设计的产品细节给人留下了良好的印象。
                                </span>
                                </p>
                                <p class="bodytext">
                                    充分利用技术创新为您实现最大的个性化：为定制图案提供几乎无限种类的颜色。无论是公司徽标还是图像 - emco徽标垫都能让您的设计焕然一新。
                                </p>
                                <p class="bodytext">
                                    我们的创新生产技术意味着您的地毯垫可以切割成您想要的任何形状：来自emco的塑料垫！
                                </p>
                                <p class="bodytext">
                                    现在就了解CLASSIC和IMAGE系列中的所有产品，亲自了解优秀的emco质量！
                                </p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>emco标志垫：干净，防滑，可清洗和有效的促销工具</h1></div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner "><img title="emco IMAGE STYLE Your special request is our standard"
                                                alt="emco IMAGE STYLE Your special request is our standard"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/emco-Image-Style.jpg"
                                                width="1280" height="620"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco IMAGE STYLE</h1>
                                <h2>您的特殊要求是我们的标准</h2>
                                <p class="bodytext">
                                    <span style="line-height: 1.42857; ">
                                        高品质与创新的完美结合，满足您的独特需求：emco IMAGE STYLE将高清洁性能与高度个性化设计相结合。
                                    </span>
                                </p>
                                <p class="bodytext">
                                    每个可能的特殊形状的标志垫：emco IMAGE STYLE形状垫以精确的精度切割，并通过复杂的印刷工艺为您单独打印。
                                </p>
                                <p class="bodytext">
                                    量身定制的标志垫，采用特殊形状：选择顶级品质的emco IMAGE STYLE设计垫！
                                </p>
                                <div></div>
                                <a href="https://emco.emco-bau.com/en/products/carpet-mats/detail/product/show/emco-image-style-5/image-style-en.html"
                                   class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco CLASSIC timeless, robust &amp; high quality"
                                                alt="emco CLASSIC timeless, robust &amp; high quality"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/emco-Classic.jpg"
                                                width="1280" height="520"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco CLASSIC</h1>
                                <h2>永恒，强大和高品质</h2>
                                <p class="bodytext">
                                    我们的经典地毯垫 - emco CLASSIC系列中的型号坚固耐用，可靠地吸收污垢和水分。它们确保系统地保护地板和地板覆盖物。使用emco CLASSIC标准垫，您的清洁成本可以长期降低。
                                </p>
                                <p class="bodytext">
                                    emco CLASSIC脚垫非常通用：它们可以在工业环境中使用，就像在办公楼中一样 - 以及干净地板很重要的地方。
                                </p>
                                <p class="bodytext">
                                    现在选择五种颜色之一的emco CLASSIC型号！
                                </p><a href="https://emco.emco-bau.com/en/products/carpet-mats/detail/product/show/emco-classic-5/classic-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco IMAGE Your carpet mat – your logo"
                                                alt="emco IMAGE Your carpet mat – your logo"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/emco-Image.jpg"
                                                width="1280" height="620"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco IMAGE</h1>
                                <h2>你的地毯垫 - 你的标志</h2>
                                <p class="bodytext">
                                    非常特别的地毯垫：emco IMAGE地毯垫采用您自己的定制设计印刷。每个印刷品最多可以制作32种鲜艳色彩。而且您也不必在使用emco IMAGE垫子的清洁性能上妥协！
                                </p>
                                <p class="bodytext">
                                    从广泛的色谱中选择您的公司颜色，甚至包括混合精确色调的可能性，以准确再现公司徽标，品牌名称或产品。
                                </p>
                                <p class="bodytext">
                                    由于采用了现代染色工艺，不仅可以忠实再现字符，字母和图形元素，还可以重新创建轮廓，阴影和颜色渐变。
                                </p>
                                <p class="bodytext">
                                    亲身体验：emco IMAGE垫子是具有高清洁性能和附加值的徽标垫。完美的高标准！
                                </p>
                                <div></div>
                                <a href="https://emco.emco-bau.com/en/products/carpet-mats/detail/product/show/emco-image-5/image-en.html"
                                   class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img title="emco IMAGE OUTDOOR Quality in every kind of weather"
                                                 alt="emco IMAGE OUTDOOR Quality in every kind of weather"
                                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/emco-Image-Outdoor.jpg"
                                                 width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco IMAGE OUTDOOR</h1>
                                <h2>各种天气的质量</h2>
                                <p class="bodytext">
                                    无论天气如何，IMAGE OUTDOOR系列的徽标垫都很好看。真正的emco创新：户外第一个标志垫！
                                </p>
                                <p class="bodytext">
                                    emco IMAGE OUTDOOR垫子可定制印刷，可清洗，防风雨，排水和色彩鲜艳。即使在强烈，直射的阳光下，抗紫外线，染色纤维系统的颜色仍然明亮而坚固。
                                </p>
                                <p class="bodytext">
                                    emco IMAGE OUTDOOR标志垫自然也可以作为特殊形状的形状垫。选择来自emco的高性能，防风雨户外垫。
                                </p>
                                <div></div>
                                <a href="https://emco.emco-bau.com/en/products/carpet-mats/detail/product/show/emco-image-outdoor-5/image-outdoor-en.html"
                                   class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="emco logo mat designer Get creative and design a perfect logo mat for your customers"
                alt="emco logo mat designer Get creative and design a perfect logo mat for your customers"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teppichmatten/emco-Logomatten-Designer.jpg" width="1280"
                height="620"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco 标志垫设计师</h1>
                                <h2>获得创意并为您的客户设计完美的徽标垫</h2>
                                <p class="bodytext">
                                    使用emco的徽标垫设计师，您可以根据客户的要求在线设计地毯垫。
                                </p>
                                <p class="bodytext">
                                    从众多颜色，尺寸，信息和设计中进行选择。使用自定义品牌完成徽标垫：来自emco的顶级设计垫。
                                </p>
                                <a href="en/logomattendesigner/logo-mat-designer-login.html"
                                        title="Request access to the logo mat designer now!"
                                        class='btn btn-default'>
                                    <span>现在请求微标垫设计师</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c1356" class="csc-default">
            <section class="darkcolor-banner "><img title="Service from emco We’re there when you need us!"
                                                    alt="Service from emco We’re there when you need us!"
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teaser_XXL/service-von-emco.jpg"
                                                    width="1280" height="540"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>来自emco的服务</h1>
                                    <h2>当你需要我们时，我们就在你身边！</h2>
                                    <p class="bodytext">
                                        我们为我们的产品感到自豪，并保证我们的材料和工艺的卓越品质。emco产品经过认证，在生产过程中经过多项质量控制。
                                    </p>
                                    <p class="bodytext">
                                        如果仍然没有按照您的预期运作，我们的客户服务就在您身边。我们将竭诚为您服务！
                                    </p>
                                    <h3>电话: <span class="hotline-wrapper">+49 591 / 9140 0</span><br/>
                                        <p>&nbsp;</p></h3>
                                    <a href="{:url('index/contact')}" class='btn btn-default'><span>电邮我们</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

             {include file="public/menu" /}

        </div>
    </div>

 {include file="public/footer" /}
</body>
</html>