{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li class="last active"><span>实例探究</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="lightcolor-banner ">
            <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-emporia-referenz.jpg" width="1280"
                height="620" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>EMPORIA，马尔默</h1>
                                <h2>满足最高要求的最佳品质</h2>
                                <p class="bodytext"><span
                                        style="font-size:13px; font-family:Arial; color:#000000; "></span></p>
                                <p class="bodytext">
                                    三层有200家商店，销售面积68,000平方米，平均每天有25,000名访客：恩波里亚是斯堪的纳维亚半岛最大的购物中心之一。
                                </p>
                                <p class="bodytext">
                                    Wingårdh办公室的建筑师最关注视觉和功能的完美。我们很自豪能够通过我们的入口垫成为这个建筑项目的一部分，并保证清洁和完美的第一印象。
                                </p>
                                <p class="bodytext">&nbsp;</p>
                                <p class="bodytext"><a
                                        href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_Empora_Malmoe_08.04-GB_3_.pdf"
                                        title="Initiates file download"
                                        class="btn-download"><span>下载PDF</span></a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>经验丰富的建筑师计划与emco</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a
                                href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_TheSquaire-Frankfurt_161114_GB_2_.pdf"
                                class=animation><img alt="Enter the working world of tomorrow"
                                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-the-squair-referenz.jpg"
                                                     width="360" height="220"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_TheSquaire-Frankfurt_161114_GB_2_.pdf">法兰克福的Squaire</a></strong>
                                <p class="bodytext">
                                    法兰克福The Squaire的建筑是未来主义的，利用概念也面向未来。emco通过现代有效的入口垫支持这种创新的建筑。
                                </p><a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_TheSquaire-Frankfurt_161114_GB_2_.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a
                                href="fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_stadtgalerie-schweinfurt_screen.pdf"
                                class=animation><img alt="New shopping and leisure centre is a magnet for visitors"
                                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-stadtgalerie-schweinfurt-referenz.jpg"
                                                     width="555" height="336"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_stadtgalerie-schweinfurt_screen.pdf">Stadtgalerie购物中心，Schweinfurt，德国</a></strong>
                                <p class="bodytext">
                                    购物中心的建筑是一项特殊的挑战。交通极为繁忙，路线短，最大舒适度和功能性。位于Schweinfurt的Stadtgalerie购物中心的emco入口垫专为挑战性压力而设计。
                                </p>
                                <a href="fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_stadtgalerie-schweinfurt_screen.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a
                                href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_libeskindvilla_datteln_25.10.pdf"
                                class=animation><img alt="A prototype for exclusive accommodation and consistent design"
                                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-bau-libeskind-villa-referenz.jpg"
                                                     width="360" height="220"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_libeskindvilla_datteln_25.10.pdf">LibeskindVilla, Datteln</a></strong>
                                <p class="bodytext">
                                    具有动感线条的白灰色建筑无疑具有其建筑师的标志：着名的纽约建筑师Daniel Libeskind。入口垫无可否认地带有我们的签名：emco的入口垫。
                                </p>
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_libeskindvilla_datteln_25.10.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-bau-gelderlandplein-referenz.jpg"
                width="1280" height="620" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="caption"><h1>Gelderlandplein，阿姆斯特丹</h1>
                                <h2>“Gelderlandplein”购物中心的新标识</h2>
                                <p class="bodytext">
                                    “Gelderlandplein是阿姆斯特丹南部的一个购物中心。
                                    该中心最初是为当地购物者设计的，可以追溯到战后年代，它已经变成了一个国际地位的主要景点.7,000平方米的新建面地区：购物，生活，工作和旅游。
                                </p>
                                <p class="bodytext">
                                    建筑和功能已经完美融合，尤其是在入口区域由emco Bau进行的3区清洁协助。
                                </p>
                                <p class="bodytext">
                                    <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/emcobau-Referenz_Gelderlanplein-Amsterdam_160729_DT_3_.pdf"
                                        class="btn-download"><span>下载 PDF</span></a></p></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-bau-ozeanum-referenzen.jpg" width="1280"
                height="590" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>Ozeaneum Stralsund（水族馆）</h1>
                                <h2>交通繁忙，清洁地板</h2>
                                <p class="bodytext">
                                    <span style="font-size:13px; font-family:Arial; color:#000000; "></span></p>
                                <p class="bodytext">
                                    施特拉尔松德港岛上的Ozeaneum是德国最大的海事博物馆。根据斯图加特建筑公司“Behnisch＆Partner”的设计，该建筑功能齐全，结构朝向大海。
                                </p>
                                <p class="bodytext">
                                    尽管交通极为繁忙，但由emco设计的入口垫为主要景点的清洁做出了贡献。
                                </p>
                                <p class="bodytext"><span
                                        style="font-size:13px; font-family:Arial; color:#000000; "></span></p>
                                <p class="bodytext"><a
                                        href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_ozeanum-stralsund_screen.pdf"
                                        class="btn-download"><span>下载 PDF</span></a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a
                                href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_ADAC-muenchen_16.07.pdf"
                                class=animation><img alt="Die Zentrale der gelben Engel"
                                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-adac-zentrale-referenz.jpg"
                                                     width="360" height="220"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_ADAC-muenchen_16.07.pdf">慕尼黑ADAC中心</a></strong>
                                <p class="bodytext">
                                    清洁黄色天使的地板。emco为ADAC的慕尼黑总部配备了高品质的入口垫。
                                </p><a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_ADAC-muenchen_16.07.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau_Referenz_Bahnhof-Luettich_08.04-GB_3_.pdf"
                                class=animation>
                                <img alt="Liège-Guillemins: Liège's high-speed railway station"
                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-bahnhof-luettich-referenz.jpg"
                                     width="360" height="220"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau_Referenz_Bahnhof-Luettich_08.04-GB_3_.pdf">Liège-Guillemins火车站
                                </a></strong>
                                <p class="bodytext">
                                    比利时列日市的主要火车站和整个瓦隆区：Liège-Guillemins。根据Santiago Calatrava的设计于2009年9月完工。入口垫：emco！
                                </p>
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau_Referenz_Bahnhof-Luettich_08.04-GB_3_.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_thyssenkrupp-essen_Screen.pdf"
                               class=animation>
                                <img alt="Back home: New group headquarters with appeal"
                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-bau-tyssen-referenz.jpg"
                                     width="360" height="220"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_thyssenkrupp-essen_Screen.pdf">蒂森克虏伯埃森
                                </a></strong>
                                <p class="bodytext">
                                    2010年，蒂森克虏伯股份公司将新集团总部设在埃森投入运营。从那以后，生活又回到了鲁尔大都市的这个地区。我们的入口垫创造了完美的第一印象，并支持建筑的清洁。
                                </p>
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/referenz_thyssenkrupp-essen_Screen.pdf"
                                        class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-palais-vest-referenz.jpg" width="1280"
                height="590" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>Palais Vest，雷克林豪森</h1>
                                <h2>现代购物中心的尊贵接待</h2>
                                <p class="bodytext">
                                    “现代化的购物中心为市中心的顾客铺上了红地毯。雷克林豪森的Palais Vest是新一代购物中心的完美典范。建筑风格，综合城市发展，提供各种服务，提供鲁尔区北部一个非常成功的冒险世界。
                                </p>
                                <p class="bodytext">
                                    红色“”地毯“”：emco的入口垫系统。
                                </p>
                                <p class="bodytext"><a
                                        href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_PalaisVest-Recklinghausen_161114_GB.pdf"
                                        class="btn-download"><span>下载 PDF</span></a></p></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/emco-koenig-der-loewen-hamburg-referenz.jpg"
                width="1280" height="590" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>&nbsp;</h1>
                                <h1>在汉堡港口的舞台剧院</h1>
                                <h2>入口成为一个盛大的展示</h2>
                                <p class="bodytext">
                                    高雅的娱乐艺术与汉堡的高端文化密切相关。
                                    易北河港口的舞台剧院拥有更多的商店，而不仅仅是为游客提供令人兴奋的音乐剧，着名艺术家的雕塑和绘画确保在户外区域和门厅享受愉快的文化体验。
                                </p>
                                <p class="bodytext">
                                    即使集成的emco入口垫不是圆形的，它也会在入口处变圆。跟随狮子的召唤，发现emco为舞台剧院所做的事情。
                                </p>
                                <p class="bodytext">
                                    <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_KoenigderLoewen-Hamburg_15.09-GB.pdf"
                                        title="Initiates file download"
                                        class="btn-download"><span>下载 PDF</span></a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img title="Guidance system and barrier-free access with emco spin safe"
                                                 alt="Reference report for DATEV"
                                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/referenz-DATEV.png"
                                                 width="2560" height="1082"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>DATEV，纽伦堡</h1>
                                <h2>入口处的网络连接</h2>
                                <p class="bodytext">
                                    DATEV是德国最大的IT服务提供商之一。
                                    该公司在25个国家和国际地区拥有7000名员工。
                                    定向和无障碍通道是纽伦堡总部入口区现代化的主要考虑因素。
                                </p>
                                <p class="bodytext">
                                    作为面向未来的，对社会负责的公司，DATEV决定引进SPIN ®外管局从EMCO制导系统。
                                </p>
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/english/emcobau-Referenz_DATEV-Nuernberg_GB_Screen-150dpi.pdf"
                                        title="Take a look at the brochure now" target="_blank" class='btn btn-default'><span>下载 PDF</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>



{include file="public/footer" /}

</body>
</html>