{include file="public/header" /}

                        <div class="w1">
                            <div class="breadcrumb-holder">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ol class="breadcrumb">
                                                <li><span>你在这里</span></li>
                                                <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                                                <li><a href="{:url('index/architects')}">能力</a></li>
                                                <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                                                <li class="last active"><span>清理</span></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div><!--TYPO3SEARCH_begin-->
                            <section class="darkcolor-banner "><img title="Clean-off from emco"
                                                                    alt="Clean-off covering, high-quality and effective"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-erster-eindruck-emco.png"
                                                                    width="1280" height="580"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>emco清理系统</h1>
                                                    <h2>第一印象：清洁。</h2>
                                                    <p class="bodytext">您的入口区域会对您的客户和业务合作伙伴获得的第一印象产生重大影响。有意识或无意识地做到这一点!</p>
                                                    <p class="bodytext">高品质的emco清洁覆盖物可防止建筑物内的灰尘和湿气。这有助于您改善形象并降低清洁成本。因此，emco清洁覆盖物还可降低由潮湿和潮湿引起的事故风险。</p>
                                                    <p class="bodytext">防止建筑物内的污垢。降低清洁成本。确保安全。emco为每种应用提供完美的清洁解决方案。</p></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="research-holder dark">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12"><h1>清洁：用emco有效减少污垢！</h1></div>
                                    </div>
                                </div>
                            </div>
                            <section class="posts-holder ">
                                <div class="container col-4-layout">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post post-teaser-icons">
                                                <div class="image-wrapper">
                                                    <img class="svg" title="cleanliness" alt="cleanliness"
                                                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-sauberkeit-steigern-emco.svg"
                                                                                width="0" height="0"/></div>
                                                <div class="text-holder"><h2 class="promotion-header">清洁度</h2>
                                                    <p class="promotion-subheader">改善</p></div>
                                            </article>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post post-teaser-icons">
                                                <div class="image-wrapper"><img class="svg" title="cleanliness" alt="cleanliness"
                                                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/kosten-reduzieren-emco.svg"
                                                                                width="0" height="0"/></div>
                                                <div class="text-holder"><h2 class="promotion-header">清洁度</h2>
                                                    <p class="promotion-subheader">减少</p></div>
                                            </article>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post post-teaser-icons">
                                                <div class="image-wrapper"><img class="svg" title="pays off in" alt="pays off in"
                                                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-amortisierung-6-monate-emco.svg"
                                                                                width="0" height="0"/></div>
                                                <div class="text-holder"><h2 class="promotion-header">得到回报</h2>
                                                    <p class="promotion-subheader">6 个月</p></div>
                                            </article>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post post-teaser-icons">
                                                <div class="image-wrapper"><img class="svg" title="Environmental" alt="Environmental"
                                                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-umwelt-schonen-emco.svg"
                                                                                width="0" height="0"/></div>
                                                <div class="text-holder"><h2 class="promotion-header">环境</h2>
                                                    <p class="promotion-subheader">受保护</p></div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="darkcolor-banner "><img title="Cut costs with emco clean-off"
                                                                    alt="Reduce costs with clean-off coverings"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/kosten-reduzieren-sauberlauf-emco.png"
                                                                    width="1280" height="580"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>清理削减成本</h1>
                                                    <h2>这笔投资在短短六个月内就能收回成本！</h2>
                                                    <p class="bodytext">清洁覆盖物降低了清洁成本。清洁间隔可以延长。平均需要 <span style="font-weight: bold; ">六个月</span>
                                                        来支付您的emco清洁区的购买成本。这并未考虑由于事故而产生的可能成本，这些事故导致需要医疗，补偿或导致收入损失。</p>
                                                    <p class="bodytext">更重要的是，在清洁间隔之间也会吸收污垢和水分。因此，您的入口区域将始终给人留下干净的印象。并且您的地板覆盖物受到保护，这意味着它几乎不需要经常更换。</p>
                                                    <p class="bodytext">削减成本并从emco中选择清理！</p>
                                                    <p class="bodytext">
                                                        <a href="__STATIC__/index/fileadmin/user_upload/Broschueren/emco_Sauberlaufbroschuere2020_GB_Screen_150dpi.pdf"
                                                            title="Broschüre downloaden" class="btn-download"><span>下载手册</span></a>
                                                    </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="posts-holder ">
                                <div class="container col-2-layout">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post"><img
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/Abnahme-des-Schmutzanfalls-mit-emco.jpg"
                                                    width="555" height="270" alt=""/>
                                                <div class="text-block"><strong class="promotion-h2">有效运作</strong>
                                                    <p class="bodytext">从emco清除可减少建筑物内的污染。每5-6米后，每只脚至少需要三步。这样可以实现最佳的清洁性能，并且可以有效地吸收污垢。</p></div>
                                            </article>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <article class="post"><img
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/Querschnitt-Sauberlauf-emco.png"
                                                    width="555" height="270" alt=""/>
                                                <div class="text-block"><strong class="promotion-h2">测试清洁度</strong>
                                                    <p class="bodytext">测试结果证明，来自emco的清洁覆盖物占据了大约65％的污垢和高达90％的水分。
                                                        清洁材料中的中空纤维的特殊布置提供了吸收的污垢的最佳覆盖。
                                                    </p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="darkcolor-banner "><img title="Clean-off prevents accidents" alt="Avoid slipping with clean-off"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/emco-unfall-risiko-sauberlauf-vermeiden.png"
                                                                    width="1280" height="580"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>避免意外事故！</h1>
                                                    <h2>安全：为您带来可观的附加好处。</h2>
                                                    <p class="indent">绊倒，滑倒，摔倒：同年发生数十万起事故。随着受影响者的痛苦，此类事故也会产生相当大的经济后果。如果您的建筑物发生此类事故，则您需要承担责任。在道德和经济上都是如此！
                                                    </p>
                                                    <p class="indent">医疗费用估计每年约为3.3亿欧元。工作时间损失的数量更多：每年约80亿欧元（来自VBG德国雇主责任保险协会的信息）。
                                                    </p>
                                                    <p class="indent">防止因潮湿或潮湿的地板引起的事故！emco的清洁覆盖物可靠地吸收水分，因此可防止潮湿的地板。
                                                    </p>
                                                    <a href="{:url('index/conmtact')}" title="get in touch with emco"
                                                                      class='btn btn-default'><span>今天收到建议</span></a></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="darkcolor-banner ">
                                <img title="Clean-off: ecological and environmentally friendly"
                                     alt="Clean-off covering produced sustainably"
                                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-umwelt-schonen.png" width="1280" height="580"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>清理了与 Econyl<sup>®</sup></h1>
                                                    <h2>减少污染物，保护环境！</h2>
                                                    <p class="bodytext">您不需要在清理时几乎同样清洁地板。这不仅可以节省资金 - 显着降低化学清洁剂的使用量也可以保护环境。</p>
                                                    <p class="bodytext">但是，emco更进了一步 - 许多清洁覆盖物都是用可持续生产的再生材料制造的 Econyl<sup>®</sup>
                                                        的生态循环，优质尼龙。从尼龙废料制造。
                                                    </p>
                                                    <p class="bodytext">结合出色的清洁性能，出色的成本效益和一致的环保性 - 现在可以通过emco进行清理！</p>
                                                    <a href="http://www.econyl.com/de/" title="more about Econyl®" target="_blank"
                                                                    class='btn btn-default'><span>了解更多有关Econyl®信息</span></a></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="research-holder dark">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12"><h1>完美整合：3区清洁和清洁</h1></div>
                                    </div>
                                </div>
                            </div>
                            <div id="c5499" class="csc-default">
                                <section class="darkcolor-banner "><img title="System combination emco 3-zone-cleaning"
                                                                        alt="system combination for reducing dirt"
                                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                                        width="1280" height="540"/>
                                    <div class="caption-holder">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <div class="caption"><h1>来自emco的3区清洁服务</h1>
                                                        <h2>理想的系统组合，可减少污垢</h2>
                                                        <p class="bodytext">emco 3区清洁系统是我们经过验证的有效减少污垢的组合。任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。</p>
                                                        <p class="bodytext">3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。它降低了清洁成本，
                                                            并保护了相邻的地板覆盖物和建筑设施。该系统具有防滑特性，有助于防止事故发生。</p>
                                                        <p class="bodytext">所有emco创新，如触觉引导系统或SENATOR OUTDOOR都可以轻松集成到您的清洁系统中。保持入口区域清洁 - 与emco！</p>
                                                        <a href="{:url('index/zone_cleaning')}"
                                                                class='btn btn-default'><span>有关3区清洁的有关信息</span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <section class="darkcolor-banner "><img title="Contact emco clean-off" alt="Receive advice on clean-off today"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Kontakt-zum-emco-Eingangsmatten-Service.jpg"
                                                                    width="1280" height="580"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>清理计划</h1>
                                                    <h2>受益于我们的经验！</h2>
                                                    <p class="bodytext">我们很乐意帮助您规划清理解决方案。得益于多年的经验以及能够提供全方位解决方案的供应商所提供的灵活性。
                                                        emco在那里提供建议并遵循它。它将以完全符合您的项目和要求的方式进行，以确保最佳的清洁效果。</p>
                                                    <p class="indent">我们的清洁专家认为系统解决方案远远超出简单的清洁垫。听取我们的建议并选择德国工程部的产品，以及50年的入门区域清洁技术经验。</p>
                                                    <a href="{:url('index/contact')}" title="receive advice on clean-off today"
                                                       class='btn btn-default'><span>今天收到建议</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="research-holder dark">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12"><h1>品种：来自emco的清洁产品</h1></div>
                                    </div>
                                </div>
                            </div>
                            <section class="darkcolor-banner "><img title="Extensive clean-off range from emco"
                                                                    alt="Full range of clean-off products from emco"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/Sauberlauf-sortiment-emco.png"
                                                                    width="1280" height="540"/>
                                <div class="caption-holder">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="caption"><h1>清洁范围</h1>
                                                    <h2>精选：非常适合建筑师！</h2>
                                                    <p class="bodytext">emco提供各种高品质的清洁覆盖物。我们的产品非常适合任何房间。
                                                        从不常用到大量使用。PREMIUM是我们的清洁覆盖物，适用于需求特别高的房间。
                                                    </p>
                                                    <p class="bodytext">颜色：几乎一切皆有可能！定制地板。根据你的设计。带有您的徽标。MAXIMUS Image显示广告和信息。</p>
                                                    <p class="bodytext">
                                                        被激发灵感！从各种清洁覆盖物中进行选择，专注于功能和外观。我们很乐意为您提供建议！
                                                    </p>
                                                    <a href="{:url('index/clean_off_system')}" title="discover the clean-off range"
                                                       class='btn btn-default'><span>发现产品系列</span></a></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </section><!--TYPO3SEARCH_end--></div>
                        <div id="c2906" class="csc-default">
                            <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
                                 data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
                                 data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

                                {include file="public/menu" /}

                            </div>
                        </div>
{include file="public/footer" /}

</body>
</html>