{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                            <li class="last active"><span>清洁和维护</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="lightcolor-banner ">
            <img title="emco Eingangsmatten richtig pflegen"
                 alt="halten Sie emco Eingangsmatten dauerhaft sauber mit der richtigen Pflege"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Richtige-Pflege-von-emco-Eingangsmatten.jpg" width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco入口垫：采取适当的照顾</h1>
                                <h2>持久清洁，高性能</h2>
                                <p class="bodytext">emco入口垫坚固耐用。清洁和维护也很简单！</p>
                                <p class="bodytext">
                                    大多数emco入口垫的设计使得大部分污垢通过空间被引导到垫子中。同样，定期清洁和维护可提高清洁性能并延长emco入口垫的使用寿命。
                                </p>
                                <p class="bodytext">这很简单：emco可以轻松清洁您的入口垫。</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner ">
            <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
                <source src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Reinigung.mp4"
                        type="video/mp4">
            </video>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="caption"><h1>使用寿命长</h1>
                                <h2>清洁emco入口垫：快速简便！<br/><br/></h2>
                                <a href="#youtube-cjQnqpBcpFU" class="btn btn-default t3colorbox-youtube hidden-xs"
                                        title="Watch the video now"><span> 立即观看视频 </span></a>
                                <div style="display: none;">
                                    <div id="youtube-cjQnqpBcpFU">
                                        <iframe width="640" height="360"
                                                src="https://www.youtube-nocookie.com/embed/cjQnqpBcpFU?rel=0"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>清洁入口垫：通过三个简单的步骤！</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Leichte-Verschmutzung-von-emco-Eingangsmatten.jpg"
                                width="360" height="270" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">轻污</strong>
                                <p class="bodytext"><span style="font-weight: bold; ">每天吸尘一次:</span>
                                    根据使用水平，每天应使用刷式吸尘器清洁您的emco入口垫。这将消除轻微污染。
                                </p>
                                <p class="bodytext">&nbsp;</p>
                                <p class="bodytext">&nbsp;</p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Mittlere-Verschmutzung-von-emco-Eingangsmatten.jpg"
                                width="360" height="270" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">中度污染</strong>
                                <p class="bodytext"><span style="font-weight: bold; ">
                                    每周扫一次: </span>
                                    抽真空并卷起垫子后，只需用扫帚清扫底部和垫子。这将清除收集的污垢。
                                </p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Starke-Verschmutzung-von-emco-Eingangsmatten.jpg"
                                width="360" height="270" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">重污染</strong>
                                <p class="bodytext"><span style="font-weight: bold; ">
                                    每月清洗一次: </span>
                                    彻底清洗后，用高压清洗机处理。在短暂的干燥时间后再次铺设垫子。或者，使用标准地板清洁机。
                                </p></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner ">
            <img title="Jetzt emco Eingangsmatten Service kontaktieren"
                 alt="jetzt dem kompetenten emco Eingangsmatten-Service kontaktieren"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Kontakt-zum-emco-Eingangsmatten-Service.jpg"
                 width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco入口垫 - 服务</h1>
                                <h2>当你需要我们时，我们就在你身边！</h2>
                                <p class="bodytext">
                                    我们的入口垫清洁服务随时为您服务。您对入口垫的移动清洁服务有任何疑问吗？我们的服务团队将竭诚为您提供建议和帮助。给我们打个电话！
                                </p>
                                <h3>电话: +49 591 9140 514<br/>&nbsp;</h3>
                                <a href="{:url('index/entrance_mats_service')}"
                                        class='btn btn-default'><span>更多关于我们的入口垫服务</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="emco’s special cleaning vehicle is the only one of its kind. This mobile cleaning system cleans emco entrance mats quickly and thoroughly. The mats can also be pre-dried. And this can all be done directly at your premises, without any additional water "
                alt="emco’s special cleaning vehicle is the only one of its kind. This mobile cleaning system cleans emco entrance mats quickly and thoroughly. The mats can also be pre-dried. And this can all be done directly at your premises, without any additional water "
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Mobile-Eingangsmatten-Reinigung-von-emco.jpg"
                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>移动清洁系统</h1>
                                <h2>方便彻底：来自emco！</h2>
                                <p class="bodytext">
                                    emco的特殊清洁车是同类产品中唯一的一款。这款移动式清洁系统可快速彻底地清洁emco入口垫。垫子也可以预先干燥。
                                </p>
                                <p class="bodytext">
                                    这一切都可以直接在您的场所完成，无需任何额外的水或电源连接！更重要的是，emco的入口垫专家确保以环保的方式处理脏水。
                                </p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}
        </div>
    </div>

{include file="public/footer" /}
</body>
</html>