{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                            <li class="last active"><span>清理系统</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <div id="c5487" class="csc-default">
            <section class="darkcolor-banner "><img title="Clean-off from emco"
                                                    alt="Clean-off covering, high-quality and effective"
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-erster-eindruck-emco.png"
                                                    width="1280" height="580"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>emco清理系统</h1>
                                    <h2>第一印象：清洁。</h2>
                                    <p class="bodytext">
                                        您的入口区域会对您的客户和业务合作伙伴获得的第一印象产生重大影响。有意识或无意识地做到这一点！
                                    </p>
                                    <p class="bodytext">
                                        高品质的emco清洁覆盖物可防止建筑物内的灰尘和湿气。这有助于您改善形象并降低清洁成本。因此，emco清洁覆盖物还可降低由潮湿和潮湿引起的事故风险。
                                    </p>
                                    <p class="bodytext">
                                        防止建筑物内的污垢。降低清洁成本。确保安全。emco为每种应用提供完美的清洁解决方案。
                                    </p>
                                    <a href="en/competences/products/clean-off.html" class='btn btn-default'><span>去产品</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c3465" class="csc-default">
            <div class="tx-sz-comdbproducts">
                <div class="categories-holder init product-view">
                    <!--<form class="categories-form facet-form">-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h2>产品搜索器
                                </h2></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="post"><strong class="pull-right numFound-holder"><span class="numFound">19</span>
                                        结果</strong><a href="#" class="facet-reset btn-more pull-right">重置所有过滤器</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>请选择 ...</label></div>
                                    <div class="form-group">
                                   <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" class="isFirst jcf-hidden" name="clean" id="clean">
                                       <option value="">请选择...</option>
                                        {volist name="clean" id="vo"}
                                       <option value="{$vo.id}">{$vo.title}</option>
                                         {/volist}
                                   </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--</form>-->
                </div>
                <!--
                <section class="listenseite-post comdbproducts-loader" style="display:none;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-wrapper"><img
                                    src="typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66"
                                    height="66" alt=""/>
                                <h3>Loading products ...</h3></div>
                        </div>
                    </div>
                </section>
                -->
                <div class="comdbproducts-holder" data-detailpid="1050" data-listpid="1049" data-language="1"
                     data-category="77" data-teaser="0" data-attribute="" data-trusticon="" data-facet-name=""
                     data-facet-value="" data-facet-multiple="0" data-facet-stepbystep="" data-pictogram="7130">
                     {volist name="cleans" id="vo"}
                    <section class="listenseite-post listenseite-post-results" id="clear_{$vo.cid}">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="listenseite-image">
                                        <a class="animation-neg" href="en/products/clean-off-system/detail/product/show/maximusR-2/maximusR-en.html">
                                            <img alt="MAXIMUS®" src="{$vo.img}" width="555" height="270"/></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="product-details"><h2>
                                        <a href="{:url('index/clean_off_system_info')}?id={$vo.id}">{$vo.title}</a></h2>
                                        <div class="meta"><strong class="comments">{$vo.small_title}</strong></div>
                                        <p></p>
                                        <div class="btn-holder">
                                            <a class="btn btn-default" href="{:url('index/clean_off_system_info')}?id={$vo.id}"><span>学到更多</span></a>
                                        </div>
                                        <div class="icons-holder">
                                            <ul class="icon-frames">
                                                {volist name="$vo.tubiao" id="vv"}
                                                <li><img title="Anti-static" alt="Icon " src="{$vv}" width="44" height="44"/></li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {/volist}
                </div>
                {$pages|raw}
                <!-- 分页 todo  -->
                <div class="row pagination-wrapper" style="display: none;">
                    <div class="col-xs-12">
                        <div class="pagination-holder">
                            <nav>
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li class="page-2"><a href="en/products/clean-off-system/products-page/2.html">2</a>
                                    </li>
                                    <li class="last next"><a href="en/products/clean-off-system/products-page/2.html">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>
{include file="public/footer" /}
<script>
    //搜索
    $("#clean").change(function(){
       var cid = $(this).children("option:selected").val();
       console.log(cid);
       if(cid!=0 || cid != ''){
           $("section#clear_"+cid).show();
           $("section#clear_"+cid).siblings('section').hide();
       }else{
          window.location.href="{:url('index/clean_off_system')}";
       }
    });
</script>
</body>
</html>