{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index/')}}">emco bau</a></li>
                            <li class="last active"><span>联系</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>联系emco Bau专家</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder" id="c1338">
            <div class="container">
                <div class="posts">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-left">
                                <div id="c1334" class="csc-default">
                                    <div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">我们是来帮助你的！</h2></div>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">您对emco产品有任何疑问吗？我们随时待命，乐于回答您的问题。</p>
                                    <p class="bodytext">
                                        <a href="{:url('index/contacts')}"
                                           title="Opens internal link in current window"><span>立即联系</span></a>
                                    </p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">例如，如果您对公司有一般性问题，我们在总公司和子公司的人员将很乐意回答这些问题：</p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">
                                        <address class="receiver-wrapper">
                                    <p style="font-style: normal; "><span style="font-weight: bold; ">安高建筑技术（滁州）有限公司</span><br/>
                                    <span style="line-height: 1.42857; ">安徽省滁州市九江东路203号</span></p>
                                    <p style="font-style: normal; ">电话: 0550-3567500 18019818826 徐经理
                                        <br/>传真: 0550-3567577
                                    </p>
                                    <p style="font-style: normal; ">
                                        <a href="javascript:linkTo_UnCryptMailto('nbjmup+cbvAfndp/ef');" title="Ihre Anfrage an emco Bau" class="mail">
                                            <span> yl.xu@china-emco.com</span></a></p></address></p><pclass="bodytext">&nbsp;</p>
                                    <p class="bodytext">&nbsp;</p></div>
                                <ul class="social-networks">
                                    <li><a href="https://www.facebook.com/emco.bautechnik" target="_blank"
                                           class="icon-facebook" title="Follow us on Facebook"></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCZsbPvR3y3CVgee4NZF-W5Q"
                                           target="_blank" class="icon-youtube" title="Follow us on Youtube"></a></li>
                                    <li><a href="https://plus.google.com/u/0/+Emco-bau/posts" target="_blank"
                                           class="icon-google-plus" title="Follow us on Google+"></a></li>
                                    <li><a href="https://twitter.com/emco_group" target="_blank" class="icon-twitter"
                                           title="Follow emco Group auf Twitter"></a></li>
                                    <li><a href="https://www.xing.com/companies/emcobau-undklimatechnikgmbh%26co.kg"
                                           target="_blank" class="icon-xing" title="Follow us on Xing"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-right">
                                <div id="c1331" class="csc-default">
                                    <div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">你还有别的问题吗？</h2></div>
                                    <p class="bodytext"><span style="font-size: 26px; line-height: 29px;">我们很乐意回复您的信息。</span></p>
                                </div>

                                <div id="c1332" class="csc-default">
                                    <div class="tx-powermail" id="form1" data-title="">
                                         <!-- 提交之后 跳转-->
                                        <div class="powermail_create" data-powermail-form="1" style="display:none;">
                                            <p class="bodytext">
                                            <span style="line-height: 20px; ">感谢您的查询。</span></p>
                                            <p class="bodytext">
                                                 我们会回复您的请求并尽快回复您。
                                                在此之前，请不要犹豫，通过电话与我们联系：
                                            </p>
                                            <p class="bodytext"><span style="font-weight: bold;">
                                                    emco Bau- und Klimatechnik GmbH＆Co。KG</span>
                                            </p>
                                            <p class="bodytext">
                                               Breslauer Str。 34-38 <br>
                                             <font style="vertical-align: inherit;">49808 Lingen（Ems）</font></p>
                                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">电话：+49 591/91 40
                                                0 </font></font><br><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">传真：+49 5917/91 40 852</font></font>
                                            </p>
                                            <p class="bodytext"><a
                                                    href="javascript:linkTo_UnCryptMailto('nbjmup+cbvAfndp/ef');"><span><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">bau </font></font><span
                                                    style="display: none;"><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">没有垃圾邮件</font></font></span><font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">@ emco.de</font></font></span></a>
                                            </p></div>


                                        <div class="contactus-holder">
                                            <form data-parsley-validate="data-parsley-validate" data-validate="html5" data-powermail-ajax="true" data-powermail-form="1" enctype="multipart/form-data" name="field"
                                                  class="contact-form powermail_form powermail_form_1 " id="Kontaktformular"
                                                  action="{:url('index/contact_commit')}" method="post">
                                                <!--<div>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][@extension]" value="Powermail"/>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][@vendor]" value="In2code"/>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][@controller]" value="Form"/>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][@action]" value="form"/>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][arguments]" value="YTowOnt992d941e392ee730a9873a61b27721f5daf9e87db"/>
                                                   <input type="hidden" name="tx_powermail_pi1[__referrer][@request]"
                                                       value="a:4:{s:10:&quot;@extension&quot;;s:9:&quot;Powermail&quot;;s:11:&quot;@controller&quot;;s:4:&quot;Form&quot;;s:7:&quot;@action&quot;;s:4:&quot;form&quot;;s:7:&quot;@vendor&quot;;s:7:&quot;In2code&quot;;}a8502f07f35aaba3ccfaec2eef369c66855bacfd"/><input
                                                       type="hidden" name="tx_powermail_pi1[__trustedProperties]"
                                                       value="a:2:{s:5:&quot;field&quot;;a:13:{s:6:&quot;anrede&quot;;i:1;s:4:&quot;name&quot;;i:1;s:8:&quot;nachname&quot;;i:1;s:5:&quot;strae&quot;;i:1;s:2:&quot;nr&quot;;i:1;s:3:&quot;plz&quot;;i:1;s:3:&quot;ort&quot;;i:1;s:4:&quot;land&quot;;i:1;s:6:&quot;e_mail&quot;;i:1;s:7:&quot;telefon&quot;;i:1;s:9:&quot;nachricht&quot;;i:1;s:11:&quot;datenschutz&quot;;a:1:{i:0;i:1;}s:4:&quot;__hp&quot;;i:1;}s:4:&quot;mail&quot;;a:1:{s:4:&quot;form&quot;;i:1;}}22e249522353d0698b5c6eb0f813d6ba8d2f693a"/>

                                               </div> -->
                                                <div class="form-holder ">
                                                    <fieldset class="powermail_fieldset powermail_fieldset_1 ">
                                                        <div id="powermail_fieldwrap_4431"
                                                             class="powermail_fieldwrap powermail_fieldwrap_typoscript powermail_fieldwrap_4431 ">
                                                            <div class="tx-sz-contactfinder">
                                                                <div class="szCfGeocheck szCfTriggerUpdate"
                                                                     id="szCf-4431" data-pid="99"><p>帮助我们找到合适的联系方式。</p>
                                                                    <div class="region-wrapper"><label>您的位置</label>
                                                                        <div class="form-group">
                                                                            <a class="input-group-addon szCfGeolocation" title="Find location"></a>
                                                                            <input value="" placeholder="您所在的地理位置..." class="form-control szCfAutocomplete" type="text"
                                                                                 id="address"  required="required" name="address"
                                                                                autocomplete="off" data-parsley-required-message="请填写这个字段"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="theme-wrapper"><label>你的主题</label>
                                                                        <div class="form-group">
                                                                            <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" class="form-control szCfCategory"
                                                                                name="jibie" id="jibie">
                                                                            <option value="0">请选择专家级别...</option>
                                                                                {volist name="zhuan" id="list"}
                                                                            <option value="{$list.id}">{$list.title}</option>
                                                                                {/volist}
                                                                        </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="form-hint">标有*的所有字段均为必填项。</span>
                                                        <div id="powermail_fieldwrap_5"
                                                             class="checkbox-holder powermail_fieldwrap powermail_fieldwrap_radio powermail_fieldwrap_5 ">
                                                            <fieldset><span class="label-title">地址形式</span>
                                                                <div class="powermail_radio_outer ">
                                                                    <div class="radio-inline powermail_radio_inner powermail_radio_inner_1">
                                                                        <input data-parsley-errors-container=".powermail_field_error_container_anrede" data-parsley-class-handler=".powermail_fieldwrap_5 div:first"
                                                                               class="powermail_radio" id="powermail_field_anrede_1" type="radio"
                                                                               name="sex" value="2"/>
                                                                        <label for="powermail_field_anrede_1">太太.</label>
                                                                    </div>
                                                                    <div class="radio-inline powermail_radio_inner powermail_radio_inner_2">
                                                                        <input class="powermail_radio" id="powermail_field_anrede_2"
                                                                               type="radio" name="sex" value="1"/>
                                                                        <label for="powermail_field_anrede_2">先生.</label>
                                                                    </div>
                                                                    <div class="powermail_field_error_container powermail_field_error_container_anrede"></div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div id="powermail_fieldwrap_1"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_1 ">
                                                            <input placeholder="名字" class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_name" type="text" name="names" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_6"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_6 ">
                                                            <input placeholder="姓" class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_xing" type="text" name="xing" value=""/>
                                                        </div>
                                                        <div class="fields-holder">
                                                            <div class="strabe-holder">
                                                                <div id="powermail_fieldwrap_7"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_7 layout3">
                                                                    <input placeholder="街道" class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_street" type="text"
                                                                           name="street" value=""/>
                                                                </div>
                                                            </div>
                                                            <div class="hausnr-holder">
                                                                <div id="powermail_fieldwrap_8"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_8 layout2">
                                                                    <input placeholder="街道号No." class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_nr" type="text" name="number" value=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fields-holder">
                                                            <div class="ort-holder">
                                                                <div id="powermail_fieldwrap_9"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_9 layout1">
                                                                    <input placeholder="邮政编码" class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_plz" type="text" name="zip_code" value=""/>
                                                                </div>
                                                            </div>
                                                            <div class="plz-holder">
                                                                <div id="powermail_fieldwrap_10"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_10 layout4">
                                                                    <input placeholder="城市" class="form-control powermail_field powermail_input " id="powermail_field_ort" type="text"
                                                                           name="city" value=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="powermail_fieldwrap_11"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_11 ">
                                                            <input placeholder="国家" class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_land" type="text" name="county" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_2"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_2 ">
                                                            <input required="required" data-parsley-required-message="Please fill out this field"
                                                                   data-parsley-trigger="change" data-parsley-error-message="请填写您的邮箱地址"  placeholder="邮箱地址 *"
                                                                   class="form-control powermail_field powermail_input " id="powermail_field_e_mail" type="email"
                                                                   name="email" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_12"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_12 ">
                                                            <input required="required" data-parsley-required-message="请填写这个字段" data-parsley-trigger="change" placeholder="电话 *"
                                                                   class="form-control powermail_field powermail_input " id="powermail_field_telefon" type="text"
                                                                   name="tel" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_3" class="form-group textarea-holder powermail_fieldwrap powermail_fieldwrap_textarea powermail_fieldwrap_3 ">
                                                            <textarea required="required" data-parsley-required-message="请填写这个字段" data-parsley-trigger="change" rows="5"
                                                                                        cols="20" placeholder="请填写备注信息 *"
                                                                                        class="powermail_field powermail_textarea "
                                                                                        id="powermail_field_nachricht"
                                                                                        name="info"></textarea>
                                                        </div>

                                                       <!-- todo 使用代码注释-->
                                                        <div style="display:none;" id="powermail_fieldwrap_4518" class="powermail_fieldwrap powermail_fieldwrap_check powermail_fieldwrap_4518 ">
                                                            <fieldset>
                                                                <div class="powermail_check_outer ">
                                                                    <div class="checkbox powermail_check_inner powermail_check_inner_1">
                                                                        <label for="powermail_field_datenschutz_1">
                                                                            <input type="hidden" name="tx_powermail_pi1[field][datenschutz]" value=""/>
                                                                            <input required="required"
                                                                                   data-parsley-required-message="请勾选我已阅读隐私声明"
                                                                                   data-parsley-errors-container=".powermail_field_error_container_datenschutz"
                                                                                   data-parsley-class-handler=".powermail_fieldwrap_4518 div:first"
                                                                                   class="powermail_checkbox powermail_checkbox_4518"
                                                                                   id="powermail_field_datenschutz_1"
                                                                                   type="checkbox" name="tx_powermail_pi1[field][datenschutz][]"
                                                                                   value="我已阅读隐私声明并同意处理这些数据以处理我的查询."/>

                                                                            我已阅读<a href="{:url('index/private_policy')}" target="_blank">隐私声明</a>
                                                                            并同意处理这些数据以处理我的查询。</label></div>
                                                                    <div class="powermail_field_error_container powermail_field_error_container_datenschutz"></div>
                                                                </div>
                                                            </fieldset>
                                                        </div>

                                                        <span></span>
                                                        <div id="powermail_fieldwrap_4" class="powermail_fieldwrap powermail_fieldwrap_submit powermail_fieldwrap_4 ">
                                                            <button class="powermail_field powermail_submit btn btn-default pull-right"
                                                                    type="submit" name="" value=""><span>发送</span>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                    <!--
                                                    <input class="powermail_form_uid" type="hidden" name="tx_powermail_pi1[mail][form]" value="1"/>
                                                    <div style="margin-left: -99999px; position: absolute;">
                                                        <label for="powermail_hp_1">Don't fill this field!</label>
                                                        <input autocomplete="off" id="powermail_hp_1" type="text" name="tx_powermail_pi1[field][__hp]" value=""/>
                                                    </div>
                                                    -->
                                                </div>
                                            </form>
                                        </div>
                                        <div class="hidden" style="display: none;">
                                            <input type="hidden" id="powermailLanguage" value="1"/>
                                            <input type="hidden" id="powermailPid" value="35"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--TYPO3SEARCH_end-->
    </div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>


{include file="public/footer" /}
<script>
   // $(document).ready(function(){
        $("div#powermail_fieldwrap_4").click(function(){
            var address = $('#address').val();
            var jibie = $("#jibie").val();
            var name = $("#powermail_field_name").val();
            var xing = $("#powermail_field_xing").val();
            var street = $("#powermail_field_street").val();
            var number = $("#powermail_field_nr").val();
            var city = $("#powermail_field_ort").val();
            var county =$("#powermail_field_land").val();
            var email= $("#powermail_field_e_mail").val();
            var tel =$("#powermail_field_telefon").val();
            var info =$("#powermail_fieldwrap_3").val();
            var sex = $("input[name='sex'][checked]").val();
            var zip_code =$("#powermail_field_plz").val();
             $.ajax({
                 url:"{:url('index/contact_commit')}",
                 type:'post',
                 data:{
                     address:address,
                     jibie:jibie,
                     name:name,
                     xing:xing,
                     street:street,
                     number:number,
                     city:city,
                     email:email,
                     county:county,
                     tel:tel,
                     sex:sex,
                     zip_code:zip_code,
                     info:info,
                 },
                 success:function(result){
                     console.log(result);
                      if(result.code == 200){
                          $('#c1332 div.contactus-holder').hide();
                          $("#c1332 div.powermail_create").show();
                          return false;
                      }else{
                          alert('提交失败！');
                      }
                 }
             });
        });
 //   })
</script>
</body>
</html>