{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                            <li><a href="{:url('index/entrance_mats_service')}">服务</a></li>
                            <li class="last active"><span>下载</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
   <section class="darkcolor-banner ">
            <img title="emco download centre"
                 alt="Find images and information quickly and easily"
                 src="__STATIC__/index/fileadmin/user_upload/Service/emco-Downloads.jpg" width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco下载中心</h1>
                                <h2>快速轻松地查找图像和信息</h2>
                                <p class="bodytext">
                                    下载您的emco产品的所有信息：下载中心包含<br/>
                                    招标邀请，小册子，价目表和摄影材料的文本。
                                </p>
                                <p class="bodytext">还没找到你要找的东西？联系我们！</p>
                                <p class="bodytext">
                                    <a href="{:url('index/brochures')}" title="go to our brochures" class="btn"><span>到小册子</span></a></p>
                                    <a href="{:url('index/contact')}" class='btn btn-default'><span>立刻联系emco</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    <div id="c849" class="csc-default">
    <div class="tx-sz-comdbproducts">
        <div class="categories-holder download-view" style="">
            <!--<form class="categories-form facet-form post">-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">下载中心 </font></font></h2></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p><strong>
                            <a href="#" class="facet-reset btn-more"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">重置所有过滤器</font></font></a></strong></p></div>

                        <!-- 注释 todo
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 facet-holder">
                            <div class="form-group">
                                <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" name="PRODUKTGRUPPPE_INTERNET_EBENE_1_SEL_BAU" class="jcf-hidden">
                                <option value="2153" data-value="Entrance matting systems">入口消光系统</option>
                            </select>
                            </div>
                        </div>
                         -->
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                            <div class="form-group">
                                <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" id="cid" name="PRODUKTGRUPPPE_INTERNET_EBENE_2_SEL_BAU" class="jcf-hidden">
                                <option value="">请选择 ...</option>
                                {volist name="mats_cates" id="vo" }
                                <option value="{$vo.id}" data-value="{$vo.title}" {if condition="$Think.get.cid eq $vo.id"} selected=""{/if}>{$vo.title}</option>
                                {/volist}
                               </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                            <div class="form-group">
                                <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" id="pid" name="PRODUKTGRUPPPE_INTERNET_EBENE_3_SEL_BAU" class="jcf-hidden">
                                <option value="">请选择 ...</option>
                                {volist name="mats_pro" id="vo" }
                                <option value="{$vo.id}" data-value="{$vo.title}" {if condition="$Think.get.pid eq $vo.id"} selected=""{/if}>{$vo.title}</option>
                                {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                            <div class="form-group">
                                <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" id="did" name="PRODUKTGRUPPPE_INTERNET_EBENE_4_SEL_BAU"  class="jcf-hidden">
                                    <option value="">请选择 ...</option>
                                    {volist name="downloads" id="vo" }
                                    <option value="{$vo.id}" data-value="{$vo.title}" {if condition="$Think.get.did eq $vo.id"} selected=""{/if}>{$vo.title}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facet-form-filter">
                    <!--
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12"><h3><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">文件</font></font></h3></div>
                                    <div class="col-xs-12 checkbox-holder">
                                        <div class="row">
                                            <input type="hidden" name="SZ_DOCUMENT_TYPE" value="">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox">
                                                    <label><span class="jcf-checkbox jcf-unchecked">
                                                        <span></span>
                                                        <input type="checkbox" class="checkbox" name="" data-value="" value="" style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;">
                                                    </span>
                                                    <span class="checkbox-text">招标文本</span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <span class="jcf-checkbox jcf-unchecked"><span></span>
                                                    <input type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="PRODUCT_DATA_SHEET" value="33721"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span>
                                                    <span class="checkbox-text">产品数据表</span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="BROCHURE" value="33722"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">小册</font></font></span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="PRICE_LIST" value="33723"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">价目单价目表</font></font></span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="INFO_FOR_BUILDING_OWNERS" value="33724"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">建筑物业主的信息</font></font></span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span>
                                                    <input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="RENOVATIONMODERNISATION" value="33725"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">改造/现代化</font></font></span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="3-ZONE_CLEANING_SYSTEM" value="33726"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">3区清洁系统</font></font></span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_DOCUMENT_TYPE"
                                                        data-value="INOX_BROCHURE" value="143572"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">Inox宣传册</font></font></span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12"><h3><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">媒体</font></font></h3></div>
                                    <div class="col-xs-12 checkbox-holder">
                                        <div class="row"><input type="hidden" name="SZ_MEDIA_TYPE" value="">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox">
                                                    <label><span class="jcf-checkbox jcf-unchecked"><span></span>
                                                    <input type="checkbox" class="checkbox" name="SZ_MEDIA_TYPE" data-value="" value="33717" style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span>
                                                    <span class="checkbox-text">产品图片</span></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="checkbox"><label><span
                                                        class="jcf-checkbox jcf-unchecked"><span></span><input
                                                        type="checkbox" class="checkbox" name="SZ_MEDIA_TYPE"
                                                        data-value="TECHNICAL_DRAWING" value="33719"
                                                        style="position: absolute; height: 100%; width: 100%; opacity: 0; margin: 0px;"></span><span
                                                        class="checkbox-text"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">技术图纸</font></font></span></label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            <!--</form>-->
        </div>
        <section class="listenseite-post comdbproducts-downloader">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-wrapper">
                        <img src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66"
                            height="66" alt="">
                        <h3>正在创建ZIP存档...</h3></div>
                </div>
            </div>
        </section>

        <div class="comdbproducts-holder" data-detailpid="" data-language="1" data-category="5">


     {volist name="downs" id="vo"}
    <div class="listenseite-post-results" style="">
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{$vo.title} -{$vo.ctitle}{$vo.btitle}</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- 产品pdf 文件 -->
        <section class="downloads-section downloadcenter-section document-holder" {if condition=" $Think.get.did gt 2"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
            <div class="container">
                <div class="row">
                    <div class="posts">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 downloadcenter-filelist">
                                  {notempty name="vo.zhaobiao_text"}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-AUSSCHREIBUNGSTEXTE visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 3"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.zhaobiao_text}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.zhaobiao_text}" data-gtm-event="download" >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文本</font></font></strong>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                  {else /}
                                  {/notempty}

                                  {notempty name="vo.wuye"}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-INFO_FOR_BUILDING_OWNERS visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 6"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.wuye}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.wuye}" data-gtm-event="download" >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">建筑物业主的信息</font></font></strong>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                  {else /}
                                  {/notempty}

                                  {notempty name="vo.clear"}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-3-ZONE_CLEANING_SYSTEM visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 7"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.clear}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.clear}" data-gtm-event="download" >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3区清洁系统</font></font></strong>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                  {else /}
                                  {/notempty}

                                  {notempty name="vo.shouce" }
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-BROCHURE visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 5"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.shouce}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.shouce}" data-gtm-event="download" >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">手册</font></font></strong>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                    {else /}
                                  {/notempty}

                                  {notempty name="vo.zhuangxiu"}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-RENOVATIONMODERNISATION visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 9"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.zhuangxiu}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.zhuangxiu}" data-gtm-event="download" >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">装修/现代化</font></font></strong>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                   {else /}
                                   {/notempty}

                                  {notempty name="vo.chanp"}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 facet-form-filter-PRODUCT_DATA_SHEET visible" {if condition=" $Think.get.did gt 2  &&  $Think.get.did eq 4"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
                                    <div class="post">
                                        <a href="{$vo.chanp}" class="downloadcenter-files download-icon download-icon-pdf" target="_blank" title="" data-url="{$vo.chanp}" data-gtm-event="download"  >
                                            <div class="text">
                                                <strong class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品数据表</font></font></strong>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                   {else /}
                                {/notempty}

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="post">
                                    <!--
                                    <a href="#" class="btn btn-download pull-right" data-download="emco DIPLOMAT With ribbed carpet insert.zip" data-gtm-event="download" data-gtm-file-name="{$vo.title}.zip" onclick ="down_text('{$vo.id}')" >
                                        下载为ZIP文件</a>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 产品图 -->
        {notempty name="vo.img" }
        <section class="downloads-section downloadcenter-section facet-form-filter- visible" {if condition=" $Think.get.did eq 1"} style="" {elseif condition="$Think.get.did eq null" /}style=""{else /} style="display:none;" {/if}>
            <div class="container">
                <div class="row">
                    <div class="posts">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="title">产品图片</h3>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="accordion-tags">
                                    <ul class="downloadcenter-filelist">
                                        {volist name="$vo.img" id="v1" }
                                        <li class="downloadcenter-files imagesVariant" data-url="{$v1.img}">
                                            <a href="{$v1.img}" target="_blank">
                                                <img src="{$v1.img}"  style="width:105px;height:105px;" alt="">
                                            </a>
                                        </li>
                                        {/volist}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="accordion-tags">
                                    <!--
                                    <a href="#" class="btn btn-download pull-right" data-download="emco DIPLOMAT With ribbed carpet insert.zip" data-gtm-event="download" data-gtm-file-name="emco DIPLOMAT With ribbed carpet insert.zip" onclick="fireTagManagerEvent(this);">
                                        下载为ZIP文件</a>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {else /}
        {/notempty}
        <!-- 技术图纸 -->
         {notempty name="vo.tuzhi"}
        <section class="downloads-section downloadcenter-section facet-form-filter-TECHNICAL_DRAWING visible" {if condition=" $Think.get.did eq 2"} style="" {elseif condition="$Think.get.did eq null" /}style="" {else /} style="display:none;" {/if}>
            <div class="container">
                <div class="row">
                    <div class="posts">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="title">技术图纸</h3>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="accordion-tags">
                                    <ul class="downloadcenter-filelist">

                                        <li class="downloadcenter-files" data-url="{$vo.tuzhi}">
                                            <a href="{$vo.tuzhi}" target="_blank">
                                                <img src="{$vo.tuzhi}"  alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="accordion-tags">
                                    <!--
                                    <a href="#" class="btn btn-download pull-right" data-download="emco DIPLOMAT With ribbed carpet insert.zip" data-gtm-event="download" data-gtm-file-name="emco DIPLOMAT With ribbed carpet insert.zip" onclick="fireTagManagerEvent(this);">
                                        下载为ZIP文件
                                    </a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         {/notempty}
    </div>
      {/volist}
            {$page|raw}
    </div>

    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>

{include file="public/footer" /}
<script>
    $("#cid").change(function(){
        var cid = $(this).val();
        if(cid =='null'|| cid==undefined){return false;}
        window.location.href="{:url('index/downloads')}?cid="+cid;
    });

    $("#pid").change(function(){
        var cid = $("#cid").val();
        var pid = $(this).val();
        if(cid =='null'|| cid==undefined){
            window.location.href="{:url('index/downloads')}?cid="+"&pid="+pid;
        }else{
            window.location.href="{:url('index/downloads')}?cid="+cid+"&pid="+pid;
        }
    });

    $("#did").change(function(){
        var cid = $("#cid").val();
        var pid = $("#pid").val();
        var did = $(this).val();
        if((cid=='null'&& pid=='null')|| (cid==undefined && pid==undefined)){
            window.location.href="{:url('index/downloads')}?cid="+"&pid="+"&did="+did;
        }else{
            window.location.href="{:url('index/downloads')}?cid="+cid+"&pid="+pid+"&did="+did;
        }
    })

</script>

<script>
  function down_text(id){
      if(id != 0){
          $.ajax({
              url:"{:url('index/down_pdf')}",
              type:'post',
              data:{id:id},
              success:function(){

              }
          })
      }
  }

</script>





</body>
</html>