{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                            <li><a href="{:url('index/entrance_mats_service')}">服务</a></li>
                            <li class="last active"><span>下载</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner ">
            <img title="emco download centre"
                 alt="Find images and information quickly and easily"
                 src="__STATIC__/index/fileadmin/user_upload/Service/emco-Downloads.jpg" width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco下载中心</h1>
                                <h2>快速轻松地查找图像和信息</h2>
                                <p class="bodytext">
                                    下载您的emco产品的所有信息：下载中心包含<br/>
                                    招标邀请，小册子，价目表和摄影材料的文本。
                                </p>
                                <p class="bodytext">还没找到你要找的东西？联系我们！</p>
                                <p class="bodytext">
                                    <a href="{:url('index/brochures')}" title="go to our brochures" class="btn"><span>到小册子</span></a></p>
                                    <a href="{:url('index/contact')}" class='btn btn-default'><span>立刻联系emco</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c849" class="csc-default">
            <div class="tx-sz-comdbproducts">
                <div class="categories-holder init download-view" style="display: none;">
                    <form class="categories-form facet-form post">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>下载中心</h2></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p><strong>
                                    <a href="#" class="facet-reset btn-more">重置所有过滤器</a></strong></p></div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 facet-holder">
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' name="PRODUKTGRUPPPE_INTERNET_EBENE_1_SEL_BAU">
                                        <option value="2153" data-value="Entrance matting systems">Entrance matting
                                            systems
                                        </option>
                                        <option value="2154" data-value="3-zone cleaning system">3-zone cleaning
                                            system
                                        </option>
                                        <option value="2155" data-value="Carpet mats">Carpet mats</option>
                                        <option value="2156" data-value="Swimming pool grates">Swimming pool grates
                                        </option>
                                        <option value="2157" data-value="Grilles">Grilles</option>
                                    </select></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' name="PRODUKTGRUPPPE_INTERNET_EBENE_2_SEL_BAU">
                                        <option value="">Please choose ...</option>
                                        <option value="2158" data-value="Function">Function</option>
                                        <option value="91265" data-value="Entrance mat systems for indoor areas">
                                            Entrance mat systems for indoor areas
                                        </option>
                                        <option value="91266" data-value="Entrance mat systems for outdoor areas">
                                            Entrance mat systems for outdoor areas
                                        </option>
                                        <option value="2161" data-value="Short overview">Short overview</option>
                                        <option value="41616" data-value="Cleaning &amp; care tips">Cleaning & care
                                            tips
                                        </option>
                                        <option value="2163" data-value="Benefits">Benefits</option>
                                        <option value="91267"
                                                data-value="Entrance mat systems for protection against fine dirt (zone 2)">
                                            Entrance mat systems for protection against fine dirt (zone 2)
                                        </option>
                                        <option value="91268"
                                                data-value="Entrance mat systems for protection against coarse dirt (zone 1)">
                                            Entrance mat systems for protection against coarse dirt (zone 1)
                                        </option>
                                        <option value="91269"
                                                data-value="C/R/O clean-off system for protection against damp dirt (zone 3)">
                                            C/R/O clean-off system for protection against damp dirt (zone 3)
                                        </option>
                                        <option value="2167" data-value="Entrance mats for automatic door systems">
                                            Entrance mats for automatic door systems
                                        </option>
                                        <option value="2168" data-value="Accessories">Accessories</option>
                                        <option value="2169" data-value="emco Classic">emco Classic</option>
                                        <option value="2170" data-value="emco Image">emco Image</option>
                                        <option value="2171" data-value="emco Image Style">emco Image Style</option>
                                        <option value="2172" data-value="emco Image Outdoor (design mats)">emco Image
                                            Outdoor (design mats)
                                        </option>
                                        <option value="2173" data-value="Swimming pool grates">Swimming pool grates
                                        </option>
                                        <option value="2174" data-value="Floor gratings">Floor gratings</option>
                                        <option value="2175" data-value="Hygiene mats">Hygiene mats</option>
                                        <option value="2176" data-value="Covering gratings">Covering gratings</option>
                                    </select></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="form-group"><select
                                            data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'
                                            name="PRODUKTGRUPPPE_INTERNET_EBENE_3_SEL_BAU">
                                        <option value="">Please choose ...</option>
                                        <option value="2177" data-value="emco DIPLOMAT">emco DIPLOMAT</option>
                                        <option value="2178" data-value="emco MARSCHALL">emco MARSCHALL</option>
                                        <option value="86785" data-value="emco SPIN®Safe">emco SPIN®Safe</option>
                                        <option value="2180" data-value="emco PLAZA">emco PLAZA</option>
                                        <option value="2186" data-value="emco ECOLINE® PIONEER">emco ECOLINE® PIONEER
                                        </option>
                                        <option value="2181" data-value="emco SENATOR">emco SENATOR</option>
                                        <option value="2182" data-value="emco RADIAL">emco RADIAL</option>
                                        <option value="2183" data-value="emco GS17">emco GS17</option>
                                        <option value="2184" data-value="emco KADETT">emco KADETT</option>
                                        <option value="143732" data-value="emco TWINGUARD">emco TWINGUARD</option>
                                        <option value="2188" data-value="emco ASSISTENT 560">emco ASSISTENT 560</option>
                                        <option value="2185" data-value="Rubber honeycomb mats">Rubber honeycomb mats
                                        </option>
                                        <option value="2191" data-value="MAXIMUS®">MAXIMUS®</option>
                                        <option value="2192" data-value="MAXIMUS® Image">MAXIMUS® Image</option>
                                        <option value="86786" data-value="CARE">CARE</option>
                                        <option value="88947" data-value="MAXIMUS® ASSISTANCE">MAXIMUS® ASSISTANCE
                                        </option>
                                        <option value="86787" data-value="INNOVA">INNOVA</option>
                                        <option value="86788" data-value="PRESTIGE">PRESTIGE</option>
                                        <option value="86789" data-value="CONTURA">CONTURA</option>
                                        <option value="2193" data-value="SCRATCH">SCRATCH</option>
                                        <option value="2194" data-value="CONFORM">CONFORM</option>
                                        <option value="2195" data-value="CONFORM SE">CONFORM SE</option>
                                        <option value="2197" data-value="FOCUS">FOCUS</option>
                                        <option value="2200" data-value="TRAFFIC">TRAFFIC</option>
                                        <option value="2202" data-value="PREMIUM">PREMIUM</option>
                                        <option value="2189" data-value="emco Attaché RS">emco Attaché RS</option>
                                        <option value="2205" data-value="Accessories">Accessories</option>
                                        <option value="2207" data-value="emco installation frame 500">emco installation
                                            frame 500
                                        </option>
                                        <option value="2208" data-value="Installation frames in standard sizes">
                                            Installation frames in standard sizes
                                        </option>
                                        <option value="2209" data-value="Lumina installation frame">Lumina installation
                                            frame
                                        </option>
                                        <option value="2210" data-value="Ramp edge">Ramp edge</option>
                                        <option value="2211" data-value="T-profile">T-profile</option>
                                        <option value="2212" data-value="Cover strip">Cover strip</option>
                                        <option value="2213"
                                                data-value="Stainless steel profile with individual lettering">Stainless
                                            steel profile with individual lettering
                                        </option>
                                        <option value="2214" data-value="Replacement product">Replacement product
                                        </option>
                                        <option value="2215" data-value="Dirt collection well">Dirt collection well
                                        </option>
                                        <option value="2216" data-value="Substructure">Substructure</option>
                                        <option value="2217" data-value="emco Sales aids">emco Sales aids</option>
                                        <option value="2218" data-value="Mat joining brackets">Mat joining brackets
                                        </option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                        <div class="facet-form-filter">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12"><h3>文件</h3></div>
                                            <div class="col-xs-12 checkbox-holder">
                                                <div class="row"><input type="hidden" name="SZ_DOCUMENT_TYPE" value=""/>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label>
                                                            <input type="checkbox"
                                                                   class="checkbox"
                                                                   name="SZ_DOCUMENT_TYPE"
                                                                   data-value="AUSSCHREIBUNGSTEXTE" value="33727"/>
                                                            <span class="checkbox-text">招标文本</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="PRODUCT_DATA_SHEET"
                                                                                            value="33721"/><span
                                                                class="checkbox-text">Product data sheet</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="BROCHURE"
                                                                                            value="33722"/><span
                                                                class="checkbox-text">Brochure</span></label></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="PRICE_LIST"
                                                                                            value="33723"/><span
                                                                class="checkbox-text">Price list</span></label></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="INFO_FOR_BUILDING_OWNERS"
                                                                                            value="33724"/><span
                                                                class="checkbox-text">Info for building owners</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="RENOVATIONMODERNISATION"
                                                                                            value="33725"/><span
                                                                class="checkbox-text">Renovation/modernisation</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="3-ZONE_CLEANING_SYSTEM"
                                                                                            value="33726"/><span
                                                                class="checkbox-text">3-zone cleaning system</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="INOX_PROSPEKT"
                                                                                            value="143395"/><span
                                                                class="checkbox-text">Inox Prospekt</span></label></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_DOCUMENT_TYPE"
                                                                                            data-value="INOX_BROCHURE"
                                                                                            value="143572"/><span
                                                                class="checkbox-text">Inox brochure</span></label></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12"><h3>Media</h3></div>
                                            <div class="col-xs-12 checkbox-holder">
                                                <div class="row"><input type="hidden" name="SZ_MEDIA_TYPE" value=""/>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="DETAILBILDER"
                                                                                            value="33717"/><span
                                                                class="checkbox-text">Product images</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="REFERENCES_IMAGES"
                                                                                            value="33718"/><span
                                                                class="checkbox-text">References images</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="TECHNICAL_DRAWING"
                                                                                            value="33719"/><span
                                                                class="checkbox-text">technical drawing</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="FUNCTION"
                                                                                            value="33720"/><span
                                                                class="checkbox-text">Function</span></label></div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="EXAMPLE_IMAGES"
                                                                                            value="33728"/><span
                                                                class="checkbox-text">Example images</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="checkbox"><label><input type="checkbox"
                                                                                            class="checkbox"
                                                                                            name="SZ_MEDIA_TYPE"
                                                                                            data-value="SLIDER"
                                                                                            value="42436"/><span
                                                                class="checkbox-text">Slider</span></label></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <section class="listenseite-post comdbproducts-downloader">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-wrapper"><img
                                    src="typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66"
                                    height="66" alt=""/>
                                <h3>ZIP archive is being created ...</h3></div>
                        </div>
                    </div>
                </section>
                <section class="listenseite-post comdbproducts-loader">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-wrapper"><img
                                    src="typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66"
                                    height="66" alt=""/>
                                <h3>Loading documents ...</h3></div>
                        </div>
                    </div>
                </section>
                <div class="comdbproducts-holder" data-detailpid="" data-language="1" data-category="5"></div>
            </div>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>
{include file="public/footer" /}
</body>
</html>