{include file="public/header" /}
                <div class="w1">
                    <div class="breadcrumb-holder">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ol class="breadcrumb">
                                        <li><span>你在这里</span></li>
                                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                                        <li><a href="{:url('index/architects')}">能力</a></li>
                                        <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                                        <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                                        <li class="last active"><span>ECOLINE®PIONEER</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div><!--TYPO3SEARCH_begin-->
                    <section class="darkcolor-banner "><img title="emco ECOLINE® PIONEER"
                                                            alt="High-quality entrance mat: durable and eco friendly"
                                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/emco-ecoline-pionier.png"
                                                            width="1280" height="700"/>
                        <div class="caption-holder">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="caption"><h1>emco&nbsp;<span style="font-weight: bold; ">ECOLINE<sup>®</sup>&nbsp;</span><span
                                                style="font-weight: bold; ">PIONEER</span></h1>
                                            <h2>高品质的入口垫：耐用，环保</h2>
                                            <p class="bodytext">emco ECOLINE<sup>®</sup> 是生态工程的完美入口地垫：在自然界中，没有废物没有这样的事情。EMCO ECOLINE的创新理念<sup>®</sup>
                                                入口地垫是基于自然的例子。从一开始就避免了废物的产生。</p>
                                            <p class="bodytext">emco遵循循序渐进，系统化的环保方法。在生产和处理过程中，产品不断反馈到与环境原则一致的循环中。</p>
                                            <p class="bodytext">随着emco ECOLINE<sup>®</sup> PIONEER 入口地垫，供以后再利用的机会已经考虑到在设计阶段，甚至开始生产之前。结果是可持续的质量和100％的可回收性！</p><a
                                                    href="{:url('index/entrance_mats')}"
                                                    class="btn btn-default product-link"><span>去产品</span></a></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="research-holder dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12"><h1>emcoECOLINE®PIONEER：完全可回收，性能卓越</h1></div>
                            </div>
                        </div>
                    </div>
                    <section class="posts-holder ">
                        <div class="container col-3-layout">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <article class="post"><img
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/100-Prozent-recyclebar-mit-emco.jpg"
                                            width="360" height="270" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">100％可回收</strong>
                                            <p class="bodytext">emco ECOLINE<sup>®</sup> PIONEER 入口地垫是100％可回收。这节约了资源并提升了项目的生态声誉。</p></div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <article class="post">
                                        <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Sprachversionen/Feinstaubbindung-mit-emco_klein_EN.jpg"
                                            width="360" height="270" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">陷阱细尘</strong>
                                            <p class="bodytext">emco ECOLINE<sup>®</sup> PIONEER 捕获细尘能够与高于平均水平的有效性危害健康。它可以保护健康并确保最大程度的清洁。</p></div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <article class="post">
                                        <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Kostenfreie-Ruecknahme-von-emco.jpg"
                                            width="360" height="270" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">免费恢复</strong>
                                            <p class="bodytext">EMCO收回组件从ECOLINE<sup>®</sup>免费PIONEER 入口地垫：把回收付诸实践！您可以避免处置成本并保护环境。</p></div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="darkcolor-banner "><img title="Dust control: breathe easy"
                                                            alt="Protect your health and the environment"
                                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Sprachversionen/Feinstaubbindung-mit-emco_EN.jpg"
                                                            width="1280" height="580"/>
                        <div class="caption-holder">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="caption"><h1>防尘：轻松呼吸</h1>
                                            <h2>保护您的健康和环境</h2>
                                            <p class="bodytext">emco ECOLINE<sup>®</sup> 是你的健康有好处：感谢
                                                DESSO AirMaster<sup>®</sup> 专利技术, emco ECOLINE<sup>®</sup>陷阱特别是大量细小的灰尘在其肋骨和其广泛的轮廓非常小的循环。结果是用户的另一个好处，因为即使少量的细尘也可能对健康有害。</p>
                                            <p class="bodytext">特别适用于带有空气幕系统或开门的入口区域，在这些区域中，细小的灰尘不断被搅动。保持健康并与EMCO ECOLINE保护环境<sup>®</sup> PIONEER 入口地垫具有优化的细微粉尘控制</p>
                                            <a href="{:url('index/entrance_mats')}" class="btn btn-default product-link"><span>去产品</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="posts-holder ">
                        <div class="container col-4-layout">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <article class="post"><img
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Flexibles-Design-von-emco.jpg"
                                            width="260" height="195" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">灵活的设计</strong>
                                            <p class="bodytext"><span
                                                    style="font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 24px; ">emco ECOLINE<sup>®</sup> PIONEER 适应，以满足您的愿望。该设计几乎可以任何几何形状。您可以选择四种不同的颜色。</span>
                                            </p></div>
                                    </article>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <article class="post"><img
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Reisnigungsleistung-von-emco.jpg"
                                            width="260" height="195" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">清洁效率</strong>
                                            <p class="bodytext"><span
                                                    style="font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 24px; ">在EMCO ECOLINE的生态环保建设<sup>®</sup> PIONEER 入口地垫不限制它的清洗效率以任何方式：优秀成绩。</span>
                                            </p></div>
                                    </article>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <article class="post"><img
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Stark-belastbar-mit-emco.jpg"
                                            width="260" height="195" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">非常有弹性</strong>
                                            <p class="bodytext"><span
                                                    style="font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 24px; ">ECOLINE<sup>®</sup> PIONEER 入口地垫是稳健的，非常有弹性，在熟悉的EMCO质量。适用于室内和室外覆盖区域。</span>
                                            </p></div>
                                    </article>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <article class="post"><img
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Service-von-emco.jpg"
                                            width="260" height="195" alt=""/>
                                        <div class="text-block"><strong class="promotion-h2">服务</strong>
                                            <p class="bodytext">
                                                我们来这里是为了帮助您：我们将协助您与您的EMCO ECOLINE<sup>®</sup> 从一开始开拓者。通过与emco相关的大型建筑服务，您将始终获得最佳建议。&nbsp;</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="research-holder dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12"><h1>生态入口垫：严格思考</h1></div>
                            </div>
                        </div>
                    </div>
                    <section class="darkcolor-banner "><img
                            title="Sustainable building Green building: emco ECOLINE® PIONEER entrance mats"
                            alt="Sustainable building Green building: emco ECOLINE® PIONEER entrance mats"
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Nachhaltig-bauen-mit-emco.jpg"
                            width="1280" height="580"/>
                        <div class="caption-holder">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="caption"><h1>可持续建筑&nbsp;</h1>
                                            <h2>绿色建筑: emco ECOLINE<sup>®</sup> PIONEER 入口垫</h2>
                                            <p class="bodytext">建筑认证很重要，但很复杂。设计可持续建筑物的艰巨任务需要一种考虑每个组成部分的方法。很高兴知道您的入口区域有一个“绿色解决方案”。
                                                </p>
                                            <p class="bodytext">随着 ECOLINE<sup>®</sup> PIONEER 入口垫, EMCO使建筑物的质量作出了宝贵贡献。与emco的绿色建筑！</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="darkcolor-banner "><img
                            title="Desso AirMaster® floor covering Strength &amp; quality combined to protect the environment"
                            alt="Desso AirMaster® floor covering Strength &amp; quality combined to protect the environment"
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Desso-AirMaster-Bodenbelaege-von-emco.jpg"
                            width="1280" height="500"/>
                        <div class="caption-holder">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="caption"><h1>Desso AirMaster<sup>®</sup> 地板覆盖物</h1>
                                            <h2>强度和质量相结合，以保护环境</h2>
                                            <p class="bodytext">EMCO与DESSO，高档织物地面覆盖的国际知名制造商紧密合作：这个从摇篮到摇篮®公司供应套用于EMCO ECOLINE<sup>®</sup> 先锋.</p>
                                            <p class="bodytext">在近80年来，DESSO赢得了杰出的声誉作为高品质方块地毯，地毯和人造草皮的生产厂家，拥有先进的设计和从摇篮到摇篮<sup>®</sup>
                                                理念为重点。
                                            </p>
                                            <p class="bodytext">DESSO &amp; emco:环保入口垫和可持续发展的强大合作伙伴关系。
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="lightcolor-banner "><img
                            title="From recyclable materials to raw materials emco ECOLINE® PIONEER: the eternal cycle"
                            alt="From recyclable materials to raw materials emco ECOLINE® PIONEER: the eternal cycle"
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/ecoline-pionier/Aus-Wertstoff-wird-Rohstoff-mit-emco.jpg"
                            width="1280" height="580"/>
                        <div class="caption-holder">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="caption"><h1>emco ECOLINE<sup>®</sup> PIONEER: 永恒的循环</h1>
                                            <h2>从可回收材料到原材料</h2>
                                            <p class="bodytext">在其生命周期的结束，一个入口地垫等EMCO ECOLINE ® PIONEER并不仅仅在垃圾填埋场结束。可以返回垫子并将其组件分离出来。然后，这些可用于生产新的入口垫的有价值和可持续的用途</p>
                                            <p class="bodytext">通过这种方式，原材料可以从有价值的可回收材料中回收，从这些原材料中可以制造出高质量的产品 - 在这种情况下相当多的产品：铝型材，脚踏隔音材料和热塑性弹性体垫片，电线电缆和不锈钢，黄铜螺旋接头中，DESSO EcoBase螺钉®背衬材料和聚酰胺插入件。</p>
                                            <p class="bodytext">帮助我们保护环境，并选择一个EMCO入口地垫：在ECOLINE ®先锋！</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="research-holder dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12"><h1>适合2区：环保且耐用</h1></div>
                            </div>
                        </div>
                    </div>
                    <div id="c2040" class="csc-default">
                        <section class="darkcolor-banner "><img title="System combination emco 3-zone-cleaning"
                                                                alt="system combination for reducing dirt"
                                                               src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                                width="1280" height="540"/>
                            <div class="caption-holder">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <div class="caption"><h1>来自emco的3区清洁服务</h1>
                                                <h2>理想的系统组合，可减少污垢</h2>
                                                <p class="bodytext">emco 3区清洁系统是我们经过验证的有效减少污垢的组合。任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。</p>
                                                <p class="bodytext">
                                                    3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。它降低了清洁成本，并保护了相邻的地板覆盖物和建筑设施。该系统具有防滑特性，有助于防止事故发生。
                                                </p>
                                                <p class="bodytext">所有emco创新，如触觉引导系统或SENATOR OUTDOOR都可以轻松集成到您的清洁系统中。保持入口区域清洁 - 与emco！</p>
                                                <a href="{:url('index/zone_cleaning')}"
                                                        class='btn btn-default'><span>有关3区清洁的有关信息</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div><!--TYPO3SEARCH_end--></div>
                <div id="c2906" class="csc-default">
                    <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
                         data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
                         data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

                        {include file="public/menu" /}

                    </div>
                </div>

{include file="public/footer" /}
</body>
</html>