{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                        <li><a href="{:url('index/swimming')}">游泳池格栅</a></li>
                        <li class="last active"><span>>emco 723设计</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="lightcolor-banner "><img title="723设计游泳池光栅" alt="时尚的emco游泳池光栅"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Schwimmbadroste/723_Design/emco-723-design-schwimmbadrost-dark.png"
                                             width="2560" height="1080">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">emco </font></font><span
                                style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">723设计</font></font></span></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">时尚地设计您的游泳池</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">2017年，emco
                                723设计游泳池光栅赢得了三项设计奖：红点奖，黄金浪潮和法国创新奖Laureat由emco前往游泳池光栅。</font><font
                                    style="vertical-align: inherit;">在美观性和灵活性方面，emco 723 Design为覆盖溢流通道提供了独特的解决方案。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco 723 Design适用于直泳池流和斜角。</font><font
                                    style="vertical-align: inherit;">溢流通道的覆盖物可以与用于游泳池周围区域的瓷砖材料时尚地结合，从而产生和谐且视觉上吸引人的整体外观。</font></font>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="emco 723 Design获得多个奖项" alt="奖项标志：红点奖，Laureat，Golden Wave"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Schwimmbadroste/723_Design/auszeichnungen-emco-723-design.png"
                                            width="2560" height="540">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="游泳池格栅，时尚的泳池边缘覆盖" alt="覆盖游泳池的溢流通道"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Schwimmbadroste/723_Design/schwimmbadrost-723-design-offen.png"
                                            width="2560" height="1080">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">屡获殊荣的游泳池光栅</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创新设计解决方案再次获得提名</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">通过emco 723
                                Design，emco创建了一个覆盖溢出通道的创新解决方案。</font><font style="vertical-align: inherit;">定制的塑料插件在现场用瓷砖或天然石条粘合。</font><font
                                    style="vertical-align: inherit;">这使得光栅可以时尚地融入游泳池周围的区域。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco 723 Design凭借其</font></font><br><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">永恒的设计</font><font
                                    style="vertical-align: inherit;">赢得了多个奖项</font><font
                                    style="vertical-align: inherit;">，并被提名为</font></font><br><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">2019年德国设计奖。</font></font></p><a
                                    href="{:url('index/swimming')}"
                                    class="btn btn-default product-link"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">转到产品</font></font></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">客户对emco 723 Design的看法</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="posts-holder" id="c7376">
        <div class="container">
            <div class="posts">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div id="c7375" class="csc-default csc-space-after-40">
                            <blockquote style="margin-bottom:0;margin-top:0;"><p class="bodytext"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">»具有卓越视觉吸引力的产品，可无缝地围绕泳池边缘。</font><font
                                    style="vertical-align: inherit;">我们当然有兴趣再次在类似项目中使用该产品，这不仅要归功于它的外观，还要考虑到制造商在规划和执行阶段提供的出色支持。«</font></font>
                            </p>
                                <p class="bodytext"><span style="font-weight: bold;"><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cathrin Schultz</font></font></span><br><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Dipl.-Ing。</font><font style="vertical-align: inherit;">建筑师（BDA）</font></font></p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div id="c7374" class="csc-default csc-space-after-40">
                            <blockquote style="margin-bottom:0;margin-top:0;"><p class="bodytext"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">»emco安装计划和水刀布局规范的准确性意味着瓷砖条与723
                                DESIGN塑料盒完美匹配。</font><font style="vertical-align: inherit;">更重要的是，由于所提供的粘合剂说明，启动和粘贴瓷砖的过程甚至比我们原先想象的更快！«</font></font>
                            </p>
                                <p class="bodytext"><span style="font-weight: bold; "><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">赖Schönenborn</font></font></span><br><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">主瓦工</font></font></p></blockquote>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div id="c7373" class="csc-default csc-space-after-40">
                            <blockquote style="margin-bottom:0;margin-top:0;"><p class="bodytext"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">»我们的国际客户对产品非常满意！</font><font
                                    style="vertical-align: inherit;">除了它的外观之外，真正积极的是它的设计中根本没有金属，这意味着氯化水没有腐蚀通道盖的风险。</font><font
                                    style="vertical-align: inherit;">这种emco产品将成为我们在未来天然石材渠道覆盖项目中的首选产品。«</font></font>
                            </p>
                                <p class="bodytext"><span style="font-weight: bold; "><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">DenhaZießnitzKMDProjekt</font></font></span><br><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    GmbH，Gotha</font></font></p></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">最佳使用emco 723设计：</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Schwimmbadroste/723_Design/hotel-wellness-bad-723-design.png"
                            width="1110" height="480" alt="">
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">酒店和水疗池</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco
                                723设计的最佳应用：游泳池主要关注游泳池光栅与泳池边缘的视觉和谐整合。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Schwimmbadroste/723_Design/privat-schwimmbad-723-design.png"
                            width="1110" height="480" alt="">
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">私人游泳池</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">在私密的氛围中体验emco 723 Design的美学。</font><font
                                    style="vertical-align: inherit;">您在家的游泳池不仅可以让您去游泳，还可以感受到舒适和放松。</font></font></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>

    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>
 {include file="public/footer" /}
</body>
</html>