{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                            <li class="last active"><span>入口垫范围</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner "><img title="emco entrance mat range Your perfect entrance mat system"
                                                alt="emco entrance mat range Your perfect entrance mat system"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/Eingangsmatten-Sortiment-von-emco.jpg"
                                                width="1280" height="520"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1 class="indent">emco入口垫系列</h1>
                                <h2>完美的入口垫系统</h2>
                                <p class="bodytext">
                                    emco的多样性令人印象深刻：我们精选的高品质入口垫和完美协调的系统概念为几乎所有使用领域提供了解决方案。
                                    <br/>
                                    除了长期以来的高标准，emco还代表着创新和高度专业化的解决方案。适用于室内和室外区域的清洁耐用系统 - 始终根据您的特定需求量身定制。
                                    <br/>
                                    emco入口垫：保持入口区清洁！
                                </p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>清洁入口的完美组合：emco 3区清洁</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="c1953" class="csc-default">
            <section class="darkcolor-banner "><img title="System combination emco 3-zone-cleaning"
                                                    alt="system combination for reducing dirt"
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                    width="1280" height="540"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption"><h1>来自emco的3区清洁服务</h1>
                                    <h2>理想的系统组合，可减少污垢</h2>
                                    <p class="bodytext">
                                        emco 3区清洁系统是我们经过验证的有效减少污垢的组合。任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。
                                    </p>
                                    <p class="bodytext">
                                        3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。它降低了清洁成本，并保护了相邻的地板覆盖物和建筑设施。该系统具有防滑特性，有助于防止事故发生。
                                    </p>
                                    <p class="bodytext">
                                        所有emco创新，如触觉引导系统或SENATOR OUTDOOR都可以轻松集成到您的清洁系统中。保持入口区域清洁 - 与emco！
                                    </p>
                                    <a href="{:url('index/zone_cleaning')}" class='btn btn-default'>
                                        <span>有关3区清洁的更多信息</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>灵活的：可配置为室内和室外区域</h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner "><img
                title="emco DIPLOMAT A well-considered message: a superior-quality entrance mat"
                alt="emco DIPLOMAT A well-considered message: a superior-quality entrance mat"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Diplomat.jpg"
                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>&nbsp;</h1>
                                <h1>emco&nbsp;<span style="font-weight: bold; ">DIPLOMAT</span></h1>
                                <h2>一个考虑周全的信息：优质的入口垫</h2>
                                <p class="bodytext">
                                    我们的emco DIPLOMAT入口垫非常适合正常和重载。它可以在任何地方使用，并为各种应用程序提供合适的解决方案。.
                                </p>
                                <p class="bodytext">
                                    经常光顾的建筑物，极端天气条件和有特殊美学要求的区域：使用emco DIPLOMAT，您可以保证打出正确的音符！
                                </p>
                                <p class="bodytext"><span
                                        style="font-weight: bold; ">典型应用示例:</span>&nbsp;酒店，销售室，银行，医生手术和私人入口区。</p><a
                                        href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-diplomat-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco MARSCHALL Perfectly equipped for dirt"
                                                alt="emco MARSCHALL Perfectly equipped for dirt"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Marschall.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1 class="indent">&nbsp;</h1>
                                <h1 class="indent">emco&nbsp;<span style="font-weight: bold; ">MARSCHALL</span></h1>
                                <h2>完美配备污垢</h2>
                                <p class="bodytext">
                                    防御重载：emco MARSCHALL入口垫有效可靠地保护您免受污垢侵害。其坚固的清洁系统坚固且极具弹性。
                                </p>
                                <p class="bodytext">
                                    emco MARSCHALL非常适合超高人数。对于emco MARSCHALL来说，极端挑战，例如耐用汽车和托盘搬运车，不是问题。
                                </p>
                                <p class="bodytext">对于高于平均水平的需求：emco MARSCHALL！</p>
                                <p class="bodytext">
                                    <span style="font-weight: bold; ">典型应用示例:</span>&nbsp; 购物中心，车站，机场和其他极为繁忙的入口区域。
                                </p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-marschall-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco PLAZA Resilient, extremely absorptive, flexible design"
                                                alt="emco PLAZA Resilient, extremely absorptive, flexible design"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Plaza.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1 class="indent">&nbsp;</h1>
                                <h1 class="indent">emco&nbsp;<span style="font-weight: bold; ">PLAZA</span></h1>
                                <h2>弹性，极具吸收力，灵活的设计</h2>
                                <p class="bodytext">
                                    对于存在大量污垢的严苛要求：emco PLAZA入口垫具有极强的弹性，并且由于其高度，可以捕获极大量的污垢。即使异常高的脚步也是emco PLAZA的标准配置。它们可以承受高达7.5吨的托盘搬运车，汽车和卡车的重量而没有任何问题。
                                </p>
                                <p class="bodytext">
                                    emco PLAZA非常灵活：可提供不同颜色的罗纹地毯插件，盒式刷和橡胶嵌件。您的愿景 - 我们的使命：广场可以实现最不寻常的设计！
                                </p>
                                <p class="bodytext"><span
                                        style="font-weight: bold; ">典型应用示例:</span>&nbsp;购物中心，车站和具有极高污垢水平的机场。.</p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-plaza-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco SENATOR For special design and function requirements"
                                                alt="emco SENATOR For special design and function requirements"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Senator.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1 class="indent">&nbsp;</h1>
                                <h1 class="indent">emco&nbsp;<span style="font-weight: bold; ">SENATOR</span></h1>
                                <h2>适用于特殊设计和功能要求</h2>
                                <p class="bodytext">
                                    宽大的外形带来精致的效果：它使emco SENATOR看起来几乎像地毯。因此，emco SENATOR非常适合设计重要的着名入口。
                                </p>
                                <p class="bodytext">
                                    高清洁性能和灵活的负载水平：emco SENATOR不仅看起来不错，这款来自emco的优质入口垫也因其出色的性能价值而令人印象深刻。SENATOR非常灵活 - 插件可用于各种应用。为了让您在上面留下自己的印记，emco SENATOR采用12种罗纹地毯颜色，几乎每种几何形状。
                                </p>
                                <p class="bodytext">特别精美的设计：emco SENATOR为您的入口区域！</p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-senator-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="emco ECOLINE® PIONIER The entrance mat that keeps reinventing itself"
                alt="emco ECOLINE® PIONIER The entrance mat that keeps reinventing itself"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/emco-ecoline-pionier.jpg" width="1280"
                height="700"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco <span style="font-weight: bold; ">ECOLINE<sup>®</sup> PIONEER</span>
                            </h1>
                                <h2>入口垫，不断重塑自我</h2>
                                <p class="bodytext">
                                    我们从一开始就对生产过程采用“闭环”方法，并确保它们根本不产生任何浪费。随着EMCO ECOLINE ®先驱，我们创建的第一个入口地垫遵循这一原则。
                                </p>
                                <p class="bodytext">
                                    原则取自自然：“浪费”是永无止境的自然循环中的食物。对于产品而言，这意味着：使用一种设计方法，使其能够在生物或技术周期中进行管理，这样不仅可以满足其原始用途，而且可以从中获取可用于回收原材料的选项。发展阶段。
                                </p>
                                <a href="competences/products/entrance-mats/ecolinerpioneer.html"
                                        class='btn btn-default'><span>What emco ECOLINE® PIONEER 为环境做了什么</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="emco X-TREME® X-tremely clean. X-tremely safe. X-tremely strong."
                                                alt="emco X-TREME® X-tremely clean. X-tremely safe. X-tremely strong."
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/emco-x-treme.jpg"
                                                width="1280" height="680"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco <span style="font-weight: bold; ">X-TREME</span><sup style="">®</sup>
                            </h1>
                                <h2>X-tremely <span style="font-weight: bold; ">清洁</span>. X-tremely <span style="font-weight: bold; ">安全</span>. X-tremely <span style="font-weight: bold; ">强大</span>.</h2>
                                <p class="bodytext">
                                    emco X-TREME®垫子上的刷毛朝向彼此倾斜，当轮胎在垫子上移动时，纯粹机械地清洁轮胎胎面。
                                    并且也非常彻底：仅仅三次旋转后至少80％。因此，emco X-TREME®为平稳的工作流程和长使用寿命做出了重要贡献。
                                </p>
                                <p class="bodytext">
                                    这种重型垫可承受高达7.5吨的重量。其高品质的材料和出色的工艺意味着emco X-TREME®经久耐用。凭借其模块化结构，emco X-TREME®可完美适应您的要求。而且，为了最佳的易用性，垫子非常容易清洁。
                                </p>
                                <!-- todo 404页面 下面链接-->
                                <a href="competences/products/entrance-mats/x-treme.html"
                                   class='btn btn-default'><span>立即了解emco X-TREME® 更多信息!</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="emco RADIAL Perfect for all entrances with rounded structural shapes"
                alt="emco RADIAL Perfect for all entrances with rounded structural shapes"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Radial.jpg" width="1280"
                height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1 class="indent">&nbsp;</h1>
                                <h1 class="indent">emco&nbsp;<span style="font-weight: bold; ">RADIAL</span></h1>
                                <h2>适合所有具有圆形结构形状的入口</h2>
                                <p class="bodytext">
                                    全面的产品：emco RADIAL！其弧形铝型材非常适合您的建筑。特别是在旋转门内和周围，emco RADIAL入口垫是圆门区域的完美延伸。
                                </p>
                                <p class="bodytext">
                                    垫子已针对重载荷到极端载荷进行了优化。它可以承受托盘搬运车和货车的重量而没有任何问题。
                                    为了您的安全，emco RADIAL还具有防滑功能，并提供针对防火优化的配置。您的emco RADIAL罗纹地毯插件有12种不同颜色可供选择。
                                </p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-radial-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="emco GS 17 An alternative with a closed design for extremely busy locations"
                alt="emco GS 17 An alternative with a closed design for extremely busy locations"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-GS-17.jpg" width="1280"
                height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>&nbsp;</h1>
                                <h1>emco&nbsp;<span style="font-weight: bold; ">GS 17</span></h1>
                                <h2>适用于极度繁忙地点的封闭式设计</h2>
                                <p class="bodytext">
                                    emco GS 17是一款耐磨的入口垫，带有一体式刮刀杆。它的特点是：这个入口垫是一个封闭的系统。与其他emco入口垫不同，刷掉的污垢不会落入型材之间的空间。它保留在垫子的表面上，从那里可以轻松地吸尘。
                                </p>
                                <p class="bodytext">
                                    其结构设计使emco GS 17具有特别的耐磨性。垫子可以承受轮椅，折叠式婴儿车，购物推车，手推车，汽车和托盘搬运车。
                                </p>
                                <p class="bodytext">emco GS 17：您打开入口垫的替代方案！</p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/emco-gs17-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>功能和设计的完美：室内区域的emco入口垫</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout"><h2 class="h1 teaser-header">更多的入口垫</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <a href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-kadett-uk.html?products=&amp;cHash=86048dd8f8cee6c0bd54960e2f89a6b3"
                                class="product-link">
                                <img title="The emco KADETT entrance mat was designed especially for entrances with older security tag detection systems that may be sensitive to metal: the support chassis is made of high-quality plastic!"
                                alt="The emco KADETT entrance mat was designed especially for entrances with older security tag detection systems that may be sensitive to metal: the support chassis is made of high-quality plastic!"
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Kadett.jpg"
                                width="360" height="270"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-kadett-uk.html?products=&amp;cHash=86048dd8f8cee6c0bd54960e2f89a6b3"
                                    class="product-link">emco KADETT</a></strong>
                                <p class="bodytext">
                                    emco KADETT入口垫专门设计用于可能对金属敏感的旧安全标签检测系统的入口：支撑底盘由优质塑料制成！
                                </p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-kadett-uk.html?products=&amp;cHash=86048dd8f8cee6c0bd54960e2f89a6b3"
                                        class="btn-more product-link">去产品</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a
                                href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-assistent-560-uk.html?products=&amp;cHash=1ee420f5d22a74071f65393279b87d03"
                                class="product-link"><img
                                title="The simple alternative for single-family homes and buildings with low footfall: emco ASSISTENT 560. Wear-resistant closed system, for laying on floors."
                                alt="The simple alternative for single-family homes and buildings with low footfall: emco ASSISTENT 560. Wear-resistant closed system, for laying on floors."
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Assistent-560.jpg"
                                width="360" height="270"/></a>
                            <div class="text-block"><strong class="promotion-h2"><a
                                    href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-assistent-560-uk.html?products=&amp;cHash=1ee420f5d22a74071f65393279b87d03"
                                    class="product-link">emco ASSISTENT 560</a></strong>
                                <p class="bodytext">
                                    单户住宅和低人流建筑的简单替代方案：emco ASSISTENT 560.耐磨封闭系统，用于铺设地板。
                                </p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/detail/productfinder/emco-assistent-560-uk.html?products=&amp;cHash=1ee420f5d22a74071f65393279b87d03"
                                        class="btn-more product-link">去产品</a></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <a href="products/clean-off-system/detail.html?products=" class="product-link">
                                <img title="Ribbed mat with high abrasion resistance to cope with heavy usage. Permanently elastic clean-off floor covering: abrasion resistant and robust for applications subject to particularly intensive loads."
                                alt="Ribbed mat with high abrasion resistance to cope with heavy usage. Permanently elastic clean-off floor covering: abrasion resistant and robust for applications subject to particularly intensive loads."
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Attache-RS.jpg"
                                width="360" height="270"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="products/clean-off-system/detail.html?products=" class="product-link">emco ATTACHÈ RS</a></strong>
                                <p class="indent">
                                    罗纹垫具有高耐磨性，可应对大量使用。永久弹性清洁地板覆盖层：耐磨且坚固，适用于承受特别密集负载的应用。
                                </p>
                                <a href="products/clean-off-system/detail.html?products="
                                        class="btn-more product-link">去产品</a></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img
                title="The tactile guidance system from emco Entrance mat systems for the blind and partially sighted"
                alt="The tactile guidance system from emco Entrance mat systems for the blind and partially sighted"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsytem-von-emco.jpg"
                width="1280" height="600"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>来自emco的触觉引导系统</h1>
                                <h2>盲人和弱视人员的入口垫系统</h2>
                                <p class="bodytext">
                                    简而言之，emco-TGS的触觉引导系统是一种入口垫系统，具有额外的好处：在行走时可以用脚底或手杖感受到沿着交通方向纵向延伸的轮廓。
                                </p>
                                <p class="bodytext">
                                    为了帮助理解，该系统（自2013年开始注册）具有特别高对比度的配色方案。触觉引导系统还针对重度到极重的使用进行了优化。
                                </p>
                                <p class="bodytext">
                                    如果通过残疾人通道建筑物包含对您来说很重要，那么触觉引导系统将完美地适合您的项目。
                                </p>
                                <a href="{:url('index/tactile_guidance_system')}" class='btn btn-default'>
                                    <span>了解更多</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="Entrance mats for automatic door systems Highly efficient optimised solutions from emco"
                alt="Entrance mats for automatic door systems Highly efficient optimised solutions from emco"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-fuer-automatische-Tuersysteme.jpg"
                width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>自动门系统的入口垫</h1>
                                <h2>来自emco的高效优化解决方案</h2>
                                <p class="bodytext">
                                    自动门系统的入口垫提出了特殊的挑战，因为DIN 18650（EN 16005）规定了一个小于4 mm的轮廓间隙。
                                </p>
                                <p class="bodytext">
                                    对于您的应用，您可以选择emco DIPLOMAT和emco MARSCHALL，型材间隙为3 mm。特制的铝型材符合法律要求，同时确保自动门系统周围的最佳清洁。
                                </p>
                                <!-- todo 下面 存在 页面 -->
                                <a href="competences/products/entrance-mats/entrance-mats-for-automatic-door-systems.html"
                                        class='btn btn-default'><span>在这里找到合适的垫子</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c5264" class="csc-default">
            <section class="darkcolor-banner "><img title="Clean-off from emco"
                                                    alt="Clean-off covering, high-quality and effective"
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-erster-eindruck-emco.png"
                                                    width="1280" height="580"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>emco清理系统</h1>
                                    <h2>第一印象：清洁。</h2>
                                    <p class="bodytext">
                                        您的入口区域会对您的客户和业务合作伙伴获得的第一印象产生重大影响。有意识或无意识地做到这一点！
                                    </p>
                                    <p class="bodytext">
                                        高品质的emco清洁覆盖物可防止建筑物内的灰尘和湿气。这有助于您改善形象并降低清洁成本。因此，emco清洁覆盖物还可降低由潮湿和潮湿引起的事故风险。
                                    </p>
                                    <p class="bodytext">
                                        防止建筑物内的污垢。降低清洁成本。确保安全。emco为每种应用提供完美的清洁解决方案。
                                    </p>
                                    <a href="{:url('index/clean_off')}" class='btn btn-default'><span>去产品</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>特别适用于户外区域</h1></div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner "><img title="rollable and resistant entrance mat"
                                                alt="emco premium entrance mat outdoor"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor-von-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>&nbsp;</h1>
                                <p class="bodytext">&nbsp;</p>
                                <h1><br/>emco <span style="font-weight: bold;">SENATOR OUTDOOR</span></h1>
                                <h2>明显彻底清除污垢</h2>
                                <p class="bodytext">
                                    emco SENATOR OUTDOOR是一款优质的入口垫，具有超宽的户外区域：防紫外线，防水，防磨损，是各种商业建筑的理想选择。
                                </p>
                                <p class="bodytext">
                                    emco SENATOR OUTDOOR可以实现任何几何形状。除了无烟煤和灰色外，红色也可作为颜色选择。来自emco的SENATOR OUTDOOR是您挑战户外应用的理想选择！
                                </p>
                                <div></div>
                                <a href="competences/products/entrance-mats/senator-outdoor.html"
                                   class='btn btn-default'><span>阅读更多</span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img
                title="Rubber honeycomb mats from emco Tried-and-tested standards for simple solutions"
                alt="Rubber honeycomb mats from emco Tried-and-tested standards for simple solutions"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/Gummiwabenmatten-von-emco.jpg"
                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption">
                                <h1 class="indent">emco <span style="font-weight: bold; ">橡胶蜂窝垫</span></h1>
                                <h2>针对简单解决方案的经过验证的标准</h2>
                                <p class="bodytext">
                                    适用于户外区域，工业建筑，展览厅和体育馆，滑雪缆车，船甲板和登陆阶段的入口和台阶。
                                    优质固体橡胶，防风雨和耐磨。emco的橡胶蜂窝垫具有高吸尘性，特别易于清洁。
                                </p>
                                <a href="https://emco.emco-bau.com/en/products/entrance-mats/productfinder/rubber-honeycomb-mats-en.html"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c6276" class="csc-default">
            <section class="darkcolor-banner "><img
                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-zubehoer-eingangsmatten.png"
                    width="2560" height="900" alt=""/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>入口垫配件</h1>
                                    <h2>附加功能 - 更多设计</h2>
                                    <p class="bodytext">
                                        使用emco的创新理念，保证建筑物内的清洁度和安全性，或引起对入口区域的注意，或通过视觉亮点展示道路。
                                    </p>
                                    <p class="bodytext">
                                        现在用emco的功能和设计元素增强您的入口垫系统！
                                    </p>
                                    <a href="competences/products/entrance-mats/entrance-mat-accessories.html"
                                            title="now discover extensions" class='btn btn-default'><span>现在发现扩展</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c4999" class="csc-default"></div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>
</div>

{include file="public/footer" /}

</body>
</html>