{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="designing-clean-entrances.html">emco bau</a></li>
                        <li><a href="products/entrance-mats.html">产品</a></li>
                        <li class="last active"><span>入口垫总结</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <div id="c708" class="csc-default">
        <div class="tx-sz-comdbproducts">
            <div class="comdboverview-holder" data-category="54" data-language="1" data-tableheader="413"
                 data-tables="406" data-tablevalues="2388,2389,2390" data-tablesections="400"
                 data-tablesectionvalues="9874,2095,9870,2096,2099">
                <div class="posts-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><h1>产品审核</h1>
                                <table class="table table-legend">
                                    <tr>
                                        <td class="text-center legend-holder legend-EMCO_DIPLOMAT">emco DIPLOMAT
                                        </td>
                                        <td class="text-center legend-holder legend-EMCO_MARSCHALL">emco MARSCHALL
                                        </td>
                                        <td class="text-center legend-holder legend-EMCO_GS17">emco GS17</td>
                                        <td class="text-center legend-holder legend-EMCO_PLAZA">emco PLAZA</td>
                                        <td class="text-center legend-holder legend-EMCO_SENATOR">emco SENATOR</td>
                                        <td class="text-center legend-holder legend-RUBBER_HONEYCOMB_MATS">Rubber
                                            honeycomb mats
                                        </td>
                                        <td class="text-center legend-holder legend-EMCO_KADETT">emco KADETT</td>
                                        <td class="text-center legend-holder legend-EMCO_RADIAL">emco RADIAL</td>
                                        <td class="text-center legend-holder legend-EMCO_ECOLINE_PIONEER">emco
                                            ECOLINE® PIONEER
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories-holder init overview-view">
                    <form class="categories-form facet-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h2>产品搜索器</h2></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="post"><strong class="pull-right numFound-holder"><span
                                            class="numFound">92</span> 结果</strong>
                                        <a href="#" class="facet-reset btn-more pull-right">重置所有过滤器</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>脚步声</label></div>
                                    <div class="form-group">
                                        <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" class="isFirst jcf-hidden" name="BEGEHUNG_SEL_EM_BAU">
                                            <option value=""><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">请选择...</font></font></option>
                                            {volist name="holder" id="vo"}
                                            <option value="{$vo.id}" data-value="{$vo.title}">
                                                     {$vo.title}
                                            </option>
                                             {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>翻车和翻车功能:</label></div>
                                    <div class="form-group">
                                        <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" class="jcf-hidden" name="BEROLL_BEFAHRBARKEIT2_SEL_EM_BAU">
                                            <option value="">请选择...</option>
                                            {volist name="fanche" id="fan"}
                                            <option value="{$fan.id}" data-value="{$fan.title}">{$fan.title}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="research-holder dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><h1>户外区域(1区)</h1></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table" style="table-layout: fixed;">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;">大约. 高度 (mm)</th>
                                        <th class="text-center">10</th>
                                        <th class="text-center">12</th>
                                        <th class="text-center">15</th>
                                        <th class="text-center">17</th>
                                        <th class="text-center">22</th>
                                        <th class="text-center">27</th>
                                        <th class="text-center">42</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>带橡胶插件</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="210">
                                                <a href="#">510
                                                G</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="211"><a
                                                    href="#">517
                                                G</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="229"><a
                                                    href="#">517
                                                SG</a></div>
                                            <div class="legend-wrapper legend-EMCO_GS17 variant-holder"
                                                 data-variant="241"><a
                                                    href="#">GS
                                                17 G</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="212"><a
                                                    href="#">522
                                                G</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="214"><a
                                                    href="#">522
                                                TLS G</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="230"><a
                                                    href="#">522
                                                SG</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="231"><a
                                                    href="#">522
                                                TLS S/G</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="213"><a
                                                    href="#">527
                                                G</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="236"><a
                                                    href="#">542
                                                SG</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带橡胶嵌件和刷条</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="215"><a
                                                    href="#">517
                                                GB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="216"><a
                                                    href="#">522
                                                GB</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>带橡胶嵌件和刮刀杆</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="217"><a
                                                    href="#">510
                                                GK</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="218"><a
                                                    href="#">517
                                                GK</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="219"><a
                                                    href="#">522
                                                GK</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="220"><a
                                                    href="#">527
                                                GK</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>用卡式刷</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="221"><a
                                                    href="#">510
                                                CB</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="222"><a
                                                    href="#">517
                                                CB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="232"><a
                                                    href="#">517
                                                SCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="223"><a
                                                    href="#">522
                                                CB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="233"><a
                                                    href="#">522
                                                SCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="224"><a
                                                    href="#">527
                                                CB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="237"><a
                                                    href="#">542
                                                SCB</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带橡胶插件和卡式刷</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="225"><a
                                                    href="#">510
                                                GCB</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="226"><a
                                                    href="#">517
                                                GCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="234"><a
                                                    href="#">517
                                                SGCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="227"><a
                                                    href="#">522
                                                GCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="235"><a
                                                    href="#">522
                                                SGCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="228"><a
                                                    href="#">527
                                                GCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="238"><a
                                                    href="#">542
                                                SGCB</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带户外插件</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="240"><a
                                                    href="#">522
                                                WS-Outdoor</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>没有双环圆刷</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-RUBBER_HONEYCOMB_MATS variant-holder"
                                                 data-variant="242"><a
                                                    href="#">Structura
                                                220</a></div>
                                            <div class="legend-wrapper legend-RUBBER_HONEYCOMB_MATS variant-holder"
                                                 data-variant="243"><a
                                                    href="#">Structura
                                                220 FR</a></div>
                                            <div class="legend-wrapper legend-RUBBER_HONEYCOMB_MATS variant-holder"
                                                 data-variant="246"><a
                                                    href="#">CUBUS
                                                220</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>双环圆刷</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-RUBBER_HONEYCOMB_MATS variant-holder"
                                                 data-variant="244"><a
                                                    href="#">Structura
                                                220 B</a></div>
                                            <div class="legend-wrapper legend-RUBBER_HONEYCOMB_MATS variant-holder"
                                                 data-variant="247"><a
                                                    href="#">CUBUS
                                                220B</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="research-holder dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><h1>室内和室外覆盖区域（2区）</h1></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table" style="table-layout: fixed;">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;">大约. 高度 (mm)</th>
                                        <th class="text-center">10</th>
                                        <th class="text-center">12</th>
                                        <th class="text-center">15</th>
                                        <th class="text-center">17</th>
                                        <th class="text-center">22</th>
                                        <th class="text-center">27</th>
                                        <th class="text-center">42</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>带罗纹地毯插入</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="251"><a
                                                    href="#">510
                                                R</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_KADETT variant-holder"
                                                 data-variant="304"><a
                                                    href="#">515
                                                R</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="252"><a
                                                    href="#">517
                                                R</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="281"><a
                                                    href="#">517
                                                SR</a></div>
                                            <div class="legend-wrapper legend-EMCO_GS17 variant-holder"
                                                 data-variant="303"><a
                                                    href="#">GS
                                                17 R</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="253"><a
                                                    href="#">522
                                                R</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="255"><a
                                                    href="#">522
                                                TLS R</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="282"><a
                                                    href="#">522
                                                SR</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="283"><a
                                                    href="#">522
                                                TLS S/R</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="294"><a
                                                    href="#">522
                                                WR</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="300"><a
                                                    href="#">522
                                                WSR</a></div>
                                            <div class="legend-wrapper legend-EMCO_RADIAL variant-holder"
                                                 data-variant="302"><a
                                                    href="#">522
                                                RDR</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="254"><a
                                                    href="#">527
                                                R</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="289"><a
                                                    href="#">542
                                                SR</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带罗纹地毯插件和刷条</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="256"><a
                                                    href="#">517
                                                RB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="257"><a
                                                    href="#">522
                                                RB</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="297"><a
                                                    href="#">522
                                                WRB</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>带罗纹地毯插件和刮刀杆</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="258"><a
                                                    href="#">510
                                                RK</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="259"><a
                                                    href="#">517
                                                RK</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="260"><a
                                                    href="#">522
                                                RK</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="299"><a
                                                    href="#">522
                                                WRK</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="261"><a
                                                    href="#">527
                                                RK</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>带罗纹地毯和橡胶衬垫（RG）</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="270"><a
                                                    href="#">522
                                                TLS RG</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="286"><a
                                                    href="#">522
                                                TLS S/RG</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>使用MAXIMUS插入</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="271"><a
                                                    href="#">517
                                                M</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="272"><a
                                                    href="#">522
                                                M</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="295"><a
                                                    href="#">522
                                                WM</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="296"><a
                                                    href="#">522
                                                WMI</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="3868"><a
                                                    href="#">522
                                                WMI + Logo</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="273"><a
                                                    href="#">527
                                                M</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>标准尺寸的垫子，带罗纹地毯插入物</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="274"><a
                                                    href="#">522
                                                R 587x389</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="275"><a
                                                    href="#">522
                                                R 787x489</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="276"><a
                                                    href="#">522
                                                R 887x589</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="277"><a
                                                    href="#">522
                                                R 987x589</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="278"><a
                                                    href="#">522
                                                R 987x787</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="279"><a
                                                    href="#">522
                                                R 987x987</a></div>
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="280"><a
                                                    href="#">522
                                                R 1187x787</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td>内部采用DESSOAirMaster®技术</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_ECOLINE_PIONEER variant-holder"
                                                 data-variant="292"><a
                                                    href="#">12</a>
                                            </div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_ECOLINE_PIONEER variant-holder"
                                                 data-variant="293"><a
                                                    href="#">22</a>
                                            </div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="research-holder dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><h1>室内和室外覆盖区域（1区和2区）</h1></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table" style="table-layout: fixed;">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;">大约.高度 (mm)</th>
                                        <th class="text-center">10</th>
                                        <th class="text-center">12</th>
                                        <th class="text-center">15</th>
                                        <th class="text-center">17</th>
                                        <th class="text-center">22</th>
                                        <th class="text-center">27</th>
                                        <th class="text-center">42</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>带罗纹地毯插入物和卡式刷</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="262"><a
                                                    href="#">510
                                                RCB</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="263"><a
                                                    href="#">517
                                                RCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="287"><a
                                                    href="#">517
                                                SRCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="264"><a
                                                    href="#">522
                                                RCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="288"><a
                                                    href="#">522
                                                SRCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="298"><a
                                                    href="#">522
                                                WRCB</a></div>
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="301"><a
                                                    href="#">522
                                                WSRCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="265"><a
                                                    href="#">527
                                                RCB</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="291"><a
                                                    href="#">542
                                                SRCB</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带罗纹地毯和橡胶衬垫（RG）</td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="266"><a
                                                    href="#">510
                                                RG</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="267"><a
                                                    href="#">517
                                                RG</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="284"><a
                                                    href="#">517
                                                SRG</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="268"><a
                                                    href="#">522
                                                RG</a></div>
                                            <div class="legend-wrapper legend-EMCO_MARSCHALL variant-holder"
                                                 data-variant="285"><a
                                                    href="#">522
                                                SRG</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_DIPLOMAT variant-holder"
                                                 data-variant="269"><a
                                                    href="#">527
                                                RG</a></div>
                                        </td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_PLAZA variant-holder"
                                                 data-variant="290"><a
                                                    href="#">542
                                                SRG</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>带户外插件</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <div class="legend-wrapper legend-EMCO_SENATOR variant-holder"
                                                 data-variant="239">
                                                <a href="#">522
                                                    W-Outdoor</a></div>
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="c2511" class="csc-default">
        <section class="darkcolor-banner "><img
                title="Variety: your perfect entrance mat Discover the extensive emco range"
                alt="Variety: your perfect entrance mat Discover the extensive emco range"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/einsatzbereiche-von-emco-eingangsmatten.jpg"
                width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>品种：完美的入口垫</h1>
                                <h2>了解广泛的emco系列</h2>
                                <p class="bodytext">
                                    emco的入口垫系统非常灵活：从高度多样化的高品质emco入口垫中进行选择，针对各种可能的应用进行了优化。
                                </p>
                                <p class="bodytext">
                                    除了我们为室内区域提供多种选择外，我们还多年来完善了我们的户外系列，并根据您的要求量身定制。通过旋转门，您可以找到emco入口垫系统的完美解决方案。
                                </p>
                                <p class="bodytext">
                                    探索emco入口垫所使用的各种位置，找到完美的垫子！
                                </p>
                                <a href="{:url('index/entrance_mats_range')}" class='btn btn-default'>
                                    <span>看看有什么可能</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>
<div id="c2906" class="csc-default">
    <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
         data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
         data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

        {include file="public/menu" /}
    </div>
</div>

{include file="public/footer" /}
</body>
</html>