{include file="public/header" /}

<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('indx/index')}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/architects')}">顾客</a></li>
                        <li><a href="{:url('index/architects')}">建筑师</a></li>
                        <li class="last active"><span>入口和设计</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="darkcolor-banner "><img title="主菜与设计" alt="入口设计完美"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/Entree-und-Design-Teaser-2.png"
                                            width="1280" height="550">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">入口设计完美</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">将创新技术与emco的各种设计相结合。</font><font
                                    style="vertical-align: inherit;">毕竟，它是入口区域，提供整个建筑的第一印象。</font><font
                                    style="vertical-align: inherit;">我们EMCO </font></font><span
                                    style="font-weight: bold;"><a href="{:url('index/inox')}"
                                                                  title="ÖffnetinternenLink im aktuellen Fenster"
                                                                  class="internal-link"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">INOX</font></font></span></a></span><sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                ®</font></font></sup><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">高品质不锈钢型材完美地集成到几乎所有的建筑风格。</font><font
                                    style="vertical-align: inherit;">这就是为什么我们是您理想的项目合作伙伴，不仅在高效技术方面，而且在设计入口区域的外观时。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">与emco合作，通过各种颜色，形状和材料在您的入口区域创建视觉亮点！</font></font>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">使用材料和颜色使空间具有独特的外观</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/entrance_mats_range')}"
                                             title="去入口垫" target="_top" class="animation">
                        <img title="来自emco的设计元素"
                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/senator-elegance-antra01.png" width="555" height="240"
                             alt="">
                    </a>
                        <div class="text-block"><p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">您选择的材料和表面定义了建筑的整体影响。</font><font
                                style="vertical-align: inherit;">为了让您在上面留下自己的印记，emco </font></font><span
                                style="font-weight: bold;">
                            <a href="{:url('index/entrance_mats')}"
                                title="emco SENATOR" target="_blank" class="external-link-new-window"><span><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">SENATOR</font></font></span></a></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">采用12种罗纹地毯颜色，几乎每种几何形状。</font></font>
                        </p><a href="{:url('index/entrance_mats_range')}" title="去入口垫"
                               target="_top" class="btn-more"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">直接去产品</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/entrance_mats_range')}"
                                             title="去入口垫范围" target="_top" class="animation">
                        <img title="来自emco的设计元素"
                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/senator-harmony-braun.png"
                             width="555" height="240" alt=""></a>
                        <div class="text-block"><p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">通过广泛的emco污垢收集系统，您可以确定能够使用合适的成分有效地强调您的建筑所需的风格和情感表达。</font></font>
                        </p><a href="{:url('index/entrance_mats_range')}" title="去入口垫范围"
                               target="_top" class="btn-more"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">发现不同的版本</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/senator-elegance-braun.png"
                            width="555" height="240" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/senator-royal-hellgrau.png"
                            width="555" height="240" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder" id="c6937">
        <div class="container">
            <div class="posts">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-left">
                            <div id="c6936" class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="2">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last"><img
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/Radial-Designskizze.png"
                                                        width="525" height="735" alt=""></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-right">
                            <div id="c6932" class="csc-default"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">时尚的伴奏，最高级的建筑</font></font></h1>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们的理念旨在强调建筑内部空间所表达的特征，并强调其独特性 -
                                    以不显眼的简洁或某些效果给人留下深刻印象。</font><font style="vertical-align: inherit;">emco
                                    Bau提供灵感，展示入口垫系统的多样性，以及它们与其他材料的有效结合程度。</font><font style="vertical-align: inherit;">其弧形铝型材使emco </font></font><span
                                        style="font-weight: bold;"><a
                                        href="{:url('index/entrance_mats')}"
                                        title="emco RADIAL" target="_blank" class="external-link-new-window"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">RADIAL</font></font></span></a></span><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">能够完美适应您的设计。</font></font>
                                </p></div>
                            <section class="posts-holder" id="c6934">
                                <div class="container">
                                    <div class="posts">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div id="c6933" class="csc-default">
                                                    <div class="csc-textpic csc-textpic-left csc-textpic-above csc-textpic-equalheight">
                                                        <div class="csc-textpic-imagewrap" data-csc-images="2"
                                                             data-csc-cols="2">
                                                            <div class="csc-textpic-imagerow csc-textpic-imagerow-last">
                                                                <div class="csc-textpic-imagecolumn csc-textpic-firstcol">
                                                                    <figure class="csc-textpic-image csc-textpic-last">
                                                                        <a href="__STATIC__/index/fileadmin/_processed_/csm_Entree-und-Design-Lobby-2_d8334cba26.png"
                                                                           class="t3colorbox cboxElement"
                                                                           data-rel="cbox6933"><img
                                                                                src="__STATIC__/index/fileadmin/_processed_/csm_Entree-und-Design-Lobby-2_a246362321.png"
                                                                                width="250" height="350" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="csc-textpic-imagecolumn csc-textpic-lastcol">
                                                                    <figure class="csc-textpic-image csc-textpic-last">
                                                                        <a href="__STATIC__/index/fileadmin/_processed_/csm_Entree-und-Design-Eingangsbereich-topview-2_ccf0cab329.png"
                                                                           class="t3colorbox cboxElement"
                                                                           data-rel="cbox6933"><img
                                                                                src="__STATIC__/index/fileadmin/_processed_/csm_Entree-und-Design-Eingangsbereich-topview-2_7f52bd5089.png"
                                                                                width="250" height="350" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-4-layout">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/Azulpala-blaugrau.png"
                            width="250" height="350" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/elegamceneu-antra.png"
                            width="250" height="350" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/koenigsholz-beige.png"
                            width="250" height="350" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/Mosaik-blau.png"
                            width="250" height="350" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/architects')}" title="现在设计你的入口区！"
                                             class="animation"><img title="入口区采用马赛克设计"
                                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/Eingangsbereich-Mosaik-Grid-2.png"
                                                                    width="555" height="240" alt=""></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">设计完美的形式</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">为了让您尽可能地自由设计以实现您的建筑视觉，我们已经将“形式跟随功能”的原则放在首位，并从中获取了“功能跟随形式”的指导原则。</font></font>
                            </p><a href="{:url('index/architects')}" title="现在设计你的入口区！"
                                   class="btn-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">现在设计你的入口区！</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/building_contractors')}"
                                             title="有关开发人员的更多信" class="animation"><img title="来自emco的黑色和黄色入口垫"
                                                                                       src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/emco-schwarzgelbe-matte-2.png"
                                                                                       width="1110" height="480" alt=""></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">结合材料</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">所有组件，各种颜色和图案，相互协调，为您提供几乎取之不尽的设计可能性。</font><font
                                    style="vertical-align: inherit;">因此，您可以完全自由地将开发人员的愿望变为现实。</font></font></p><a
                                    href="{:url('index/building_contractors')}" title="有关开发人员的更多信"
                                    class="btn-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">有关开发人员的更多信息</font></font></a></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div id="c6940" class="csc-default">
        <section class="lightcolor-banner "><img title="emcoINOX®" alt="增强入口垫的元素"
                                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/emco-inox-zubehoer-eingangsmatten.png"
                                                 width="1280" height="540">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">EMCO </font></font><span
                                    style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">增强入口垫的元素</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">随着EMCO </font></font><span
                                        style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">INOX </font></font><sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup></span><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">你可以利用你的品牌和消息从未被使用过的空间。</font><font
                                        style="vertical-align: inherit;">这些个性化元素经过加工处理，具有高品质和弹性，使您的入口垫具有最后的触感。</font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">你没有第二次机会给人留下第一印象。</font><font
                                        style="vertical-align: inherit;">选择个性化的EMCO </font></font><span
                                        style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">INOX </font></font><sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup> </span><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">不锈钢型材做出完美的广告媒介出高品质的入口地垫的。</font></font>
                                </p><a href="{:url('index/inox')}"
                                       class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">发现EMCO INOX </font></font><sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="posts-holder ">
        <div class="container col-4-layout">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/EM4_10.14S_ret.png"
                            width="2074" height="2073" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/EM4_10.15S.png"
                            width="2126" height="2125" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/EM4_10.16S.png"
                            width="2082" height="2086" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/Entree_und_Design/EM4_10.20S.png"
                            width="1685" height="1685" alt="">
                        <div class="text-block"></div>
                    </article>
                </div>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>

    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>
  {include file="public/footer" /}
</body>
</html>