 {include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">产品</a></li>
                            <li class="last active"><span>入口垫</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <div id="c2046" class="csc-default">
            <section class="lightcolor-banner "><img
                    title="Entrance mats from emco the right system for every application"
                    alt="Entrance mats from emco the right system for every application"
                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/funktionale-und-hochwertige-eingangsmatten-von-emco.jpg"
                    width="1280" height="620"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption"><h1>来自emco 入口垫</h1>
                                    <h2>适用于各种应用的正确系统</h2>
                                    <p class="bodytext">
                                        除了多年来建立的顶级质量标准外，emco还提供创新的定制解决方案：功能强大且个性化，具有“德国制造”的专业知识。
                                    </p>
                                    <p class="bodytext">
                                        我们系统的高质量，可定制设计适合您的项目。在emco，您可以找到适合任何情况的正确入口垫系统，无论多么具有挑战性。
                                    </p>
                                    <p class="bodytext">
                                        受到启发 - 并利用我们不妥协的服务：保证与emco的入口垫。
                                    </p>
                                    <a href="{:url('index/entrance_mats_2')}" class='btn btn-default'><span>关于更多入口垫</span></a></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c569" class="csc-default">
            <div class="tx-sz-comdbproducts">
                <!-- 产品 搜索 begin-->
                <div class="categories-holder init product-view" style="display:block;">
                    <form class="categories-form facet-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h2>产品搜索器</h2></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="post"><strong class="pull-right numFound-holder"><span class="numFound">87</span>结果</strong>
                                        <a href="#" class="facet-reset btn-more pull-right">重置所有结果</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>请选择 ...</label></div>
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'
                                            class="isFirst" name="PRODUKTGRUPPPE_INTERNET_EBENE_2_SEL_BAU">
                                        <option value="">请选择...</option>
                                            {volist name="mats_cates" id="vo" }
                                        <option value="{$vo.id}" data-value="{$vo.title}">{$vo.title}</option>
                                            {/volist}
                                       </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>脚步声</label></div>
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="" name="BEGEHUNG_SEL_EM_BAU">
                                        <option value="">请选择...</option>
                                            {volist name="holder" id="vo"}
                                        <option value="{$vo.id}" data-value="{$vo.title}">{$vo.title}</option>
                                            {/volist}
                                    </select></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>翻车和翻车功能：</label>
                                    </div>
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="" name="BEROLL_BEFAHRBARKEIT2_SEL_EM_BAU">
                                        <option value="">请选择...</option>
                                            {volist name="fanche" id="che"}
                                        <option value="{$che.id}" data-value="{$che.title}">{$che.title}</option>
                                            {/volist}
                                    </select></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>大约. 高度 (mm)</label></div>
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="" name="HOEHE_MM_SEL_EM_BAU">
                                        <option value="">请选择...</option>
                                            {volist name="heights" id="gao"}
                                        <option value="{$gao.id}" data-value="{$gao.title}">{$gao.title}</option>
                                            {/volist}
                                    </select></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 facet-holder">
                                    <div class="same-height-holder"><label>请选择...</label></div>
                                    <div class="form-group">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="" name="PRODUKTGRUPPPE_INTERNET_EBENE_3_SEL_BAU">
                                        <option value="">请选择...</option>
                                            {volist name="mats_pro" id="vo" }
                                        <option value="{$vo.id}" data-value="{$vo.title}">{$vo.title}</option>
                                            {/volist}
                                    </select></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                 <!-- end  -->
                <!--  todo 修改成隐藏
                <section class="listenseite-post comdbproducts-loader" style="display:none;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-wrapper">
                                <img src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66"
                                    height="66" alt=""/>
                                <h3>加载产品 ...</h3></div>
                        </div>
                    </div>
                </section>
                -->

                <div class="comdbproducts-holder" data-detailpid="212" data-listpid="3" data-language="1"
                     data-category="54" data-teaser="0" data-attribute="" data-trusticon="" data-facet-name=""
                     data-facet-value="" data-facet-multiple="0" data-facet-stepbystep="" data-pictogram="6870,7130">
                    {volist name="mats_two" id="vo"}
                    <section class="listenseite-post listenseite-post-results" data-product="140" data-variant="253">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="listenseite-image">
                                        <a class="animation-neg" href="">
                                            <img alt="emco DIPLOMAT With ribbed carpet insert" src="{$vo.img}" width="555" height="294"/></a></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="product-details"><h2>
                                        <a href="">{$vo.ptitle}-{$vo.title}</a></h2>
                                        <p>{$vo.info}</p>
                                        <div class="meta"><strong class="comments">有五种产品可供选择</strong></div>
                                        <div class="btn-holder">
                                            <a class="btn btn-default" href="">
                                                <span>发现产品变体</span></a>
                                        </div>
                                        <div class="icons-holder">
                                            <ul class="icon-frames">
                                                {volist name="$vo.tubiao" id="vv" }
                                                <li><img title="Indoor and covered outdoor areas (zone 2)" alt="Icon "
                                                         src="{$vv}"
                                                         width="44" height="44"/></li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {/volist}
                </div>
                {$page|raw}
                <!-- 原分页-->
                 <!--
                <div class="row pagination-wrapper" style="display: none;">
                    <div class="col-xs-12">
                        <div class="pagination-holder">
                            <nav>
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li class="page-2"><a href="products/entrance-mats/products-page/2.html">2</a>
                                    </li>
                                    <li class="page-3"><a href="products/entrance-mats/products-page/3.html">3</a>
                                    </li>
                                    <li class="page-4"><a href="products/entrance-mats/products-page/4.html">4</a>
                                    </li>
                                    <li class="page-5"><a href="products/entrance-mats/products-page/5.html">5</a>
                                    </li>
                                    <li class="page-6"><a href="products/entrance-mats/products-page/6.html">6</a>
                                    </li>
                                    <li class="page-7"><a href="products/entrance-mats/products-page/7.html">7</a>
                                    </li>
                                    <li class="page-8"><a href="products/entrance-mats/products-page/8.html">8</a>
                                    </li>
                                    <li class="page-9"><a href="products/entrance-mats/products-page/9.html">9</a>
                                    </li>
                                    <li class="last next">
                                        <a href="products/entrance-mats/products-page/2.html">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                 -->
            </div>
        </div>
        <!--TYPO3SEARCH_end-->
    </div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>


{include file="public/footer" /}
</body>
</html>