{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li class="last active"><span>入口垫</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner ">
            <img title="Entrance mats System solutions from emco"
                 alt="Entrance mats System solutions from emco"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/hochwertige-eingangsmatten-von-emco-international.jpg" width="1280" height="500"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>入口垫</h1>
                                <h2>来自emco的系统解决方案</h2>
                                <p class="bodytext">
                                    除了多年来建立的顶级质量标准外，emco还提供创新的定制解决方案：功能强大且个性化，采用“德国制造”的专业技术。
                                    <br/><br/>
                                    我们系统的高质量，可定制设计适合您的项目。在emco，您可以找到适合任何情况的正确入口垫系统，无论多么具有挑战性。
                                    <br/><br/>
                                    受到启发 - 并利用我们不妥协的服务：保证与emco的入口垫。
                                    </p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>来自emco的入口垫系统//品种齐全，品质卓越</h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner "><img
                title="Variety: your perfect entrance mat Discover the extensive emco range"
                alt="Variety: your perfect entrance mat Discover the extensive emco range"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/einsatzbereiche-von-emco-eingangsmatten.jpg"
                width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>品种：完美的入口垫</h1>
                                <h2>了解广泛的emco系列</h2>
                                <p class="bodytext">
                                    emco的入口垫系统非常灵活：从高度多样化的高品质emco入口垫中进行选择，针对各种可能的应用进行了优化。
                                </p>
                                <p class="bodytext">
                                    除了我们为室内区域提供多种选择外，我们还多年来完善了我们的户外系列，并根据您的要求量身定制。通过旋转门，您可以找到emco入口垫系统的完美解决方案。
                                </p>
                                <p class="bodytext">
                                    探索emco入口垫所使用的各种位置，找到完美的垫子！
                                </p>
                                <a href="{:url('index/entrance_mats_range')}"
                                        class='btn btn-default'><span>看看有什么可能</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img
                alt="Function &amp; advantages emco entrance mats: functional and high quality"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/funktionale-und-hochwertige-eingangsmatten-von-emco.jpg"
                width="1280" height="620"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>功能和优势</h1>
                                <h2>emco入口垫：功能和高品质</h2>
                                <p class="bodytext">
                                    emco的入口垫系统：顶级质量，完善的标准和创新的定制解决方案。卓越的emco质量的功能性和可定制性。
                                </p>
                                <p class="bodytext">
                                    了解您的emco入口垫的功能如何帮助保持房间清洁。重点仍然是维护和清洁过程中的功能性和易用性。
                                </p>
                                <div></div>
                                 <!-- todo functions 暂时为空 -->
                                <a href="en/competences/products/entrance-mats/functions.html"
                                   class='btn btn-default'><span>详细了解其所有功能</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="System combination emco 3-zone-cleaning"
                                                alt="system combination for reducing dirt"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>来自emco的3区清洁服务</h1>
                                <h2>理想的系统组合，可减少污垢</h2>
                                <p class="bodytext">
                                    emco 3区清洁系统是我们经过验证的有效减少污垢的组合。任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。
                                </p>
                                <p class="bodytext">
                                    3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。
                                    它降低了清洁成本，并保护了相邻的地板覆盖物和建筑设施。该系统具有防滑特性，有助于防止事故发生。
                                </p>
                                <p class="bodytext">
                                    所有emco创新，如触觉引导系统或SENATOR OUTDOOR都可以轻松集成到您的清洁系统中。保持入口区域清洁 - 与emco！
                                    </p>
                                <a href="{:url('index/zone_cleaning')}"
                                        class='btn btn-default'><span>有关3区清洁的更多信息</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>emco入口垫：即使是最苛刻的任务也非常专业</h1></div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner ">
            <img title="Entrance mat service We won’t let you down!"
                 alt="Entrance mat service We won’t let you down!"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/eingangsmatten-service-von-emco.jpg"
                 width="1280" height="540"/>
            <div class="caption-holder">1
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>入口垫服务</h1>
                                <h2>我们不会让你失望！</h2>
                                <p class="bodytext">
                                    我们的emco服务人员将在原位完美清洁您的emco入口垫。必要时，我们的入口垫服务团队将更换损坏或磨损的地毯插件：快速而简单。
                                </p>
                                <a href="{:url('index/entrance_mats_service')}"
                                        class='btn btn-default'><span>了解我们的服务</span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner ">
            <img title="Cleaning and maintenance Easy, quick and clean: entrance mats from emco"
                alt="Cleaning and maintenance Easy, quick and clean: entrance mats from emco"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege-von-emco.jpg" width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>清洁和维护</h1>
                                <h2>简单，快速和干净：来自emco的入口垫</h2>
                                <p class="bodytext">
                                    所有的emco入口垫都经过精心设计，以便污垢通过空间落入垫子中。同样，定期护理将延长你的入口垫的生命周期。
                                </p>
                                <p class="bodytext">
                                    清洁频率，范围和过程由具体的清洁需求决定。了解更多关于照顾您的emco入口垫...
                                </p>
                                <a href="{:url('index/cleaning_and_maintenance')}"
                                   class='btn btn-default'><span>更多关于清洁</span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c6273" class="csc-default">
            <section class="darkcolor-banner "><img
                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-zubehoer-eingangsmatten.png"
                    width="2560" height="900" alt=""/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>入口垫配件</h1>
                                    <h2>附加功能 - 更多设计</h2>
                                    <p class="bodytext">
                                        使用emco的创新理念，保证建筑物内的清洁度和安全性，或引起对入口区域的注意，或通过视觉亮点展示道路。
                                    </p>
                                    <p class="bodytext">
                                        现在用emco的功能和设计元素增强您的入口垫系统！
                                    </p>
                                    <a href="{:url('index/entrance_mat_accessories')}"
                                       title="now discover extensions" class='btn btn-default'><span>现在发现扩展</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
    {include file="public/menu" /}
        </div>
    </div>
    {include file="public/footer" /}
</body>
</html>