
{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/entrance_mats')}">入口垫</a></li>
                        <li class="last active"><span>emco DIPLOMAT带罗纹地毯插片 - 522 R</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <div id="c570" class="csc-default">
        <div class="tx-sz-comdbproducts">
            <section class="product-area" data-product="140" data-variant="253">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="carousel gallery-js-ready autorotation-disabled">
                                <div class="mask" style="height: 320px;">
                                    <div class="slideset" style="width: 1812px; margin-left: 0px;">
                                        {volist name="banner" id="vo" }
                                        <div class="slide active" style="width: 453px;">
                                            <a href="{$vo.img}" class="t3colorbox-products animation cboxElement" data-rel="slider" onclick="return false;">
                                                <img alt="522 R." src="{$vo.img}" width="555" height="392"></a>
                                        </div>
                                      {/volist}
                                    </div>
                                </div>
                                <ul class="pagination">
                                    {volist name="banner" id="vo"}
                                    <li class="active">
                                        <a href=""><img alt="522 R." src="{$vo.small_img}" width="107" height="75"></a></li>
                                        {/volist}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="product-details"><h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">{$info.one.title}{$info.title}</font></font></h2>
                                <div class="meta"><strong class="comments"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">{$mats_info.title}</font></font></strong></div>
                                <p>{$info.info}</p>
                                <div class="btn-holder"><a class="btn btn-default" href="{:url('index/entrance_mats')}"><span>
                                       产品要求</span></a></div>
                                <div class="icons-holder">
                                    <ul class="icon-frames">
                                        {volist name="$mats_info.tubiao" id="tu"}
                                        <li><img alt="图标 " src="{$tu}" width="44" height="44"></li>
                                        {/volist}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="categories-holder">
                <form action="#" class="categories-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><label><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">其他产品版本</font></font></label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}"
                                        onchange="window.location.href=this.value; return false;" class="jcf-hidden">
                                        {volist name="mats_cates" id="vo"}
                                    <option value="{:url('index/entrance_mats_info')}?pid={$vo.pid}&id={$vo.id}">{$vo.title}</option>
                                        {/volist}
                                </select>
                               </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
                                <a class="btn-overview btn btn-default" href="{:url('index/entrance_mats')}"><span>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">概述</font></font></span></a></div>
                        </div>
                    </div>
                </form>
            </div>
            <section class="accordion-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                 {notempty name="mats_info.tuzhi"}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading"><h4 class="panel-title">
                                        <a role="button" class="" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse" aria-expanded="true" aria-controls="collapse-1">
                                              技术图纸</a></h4></div>
                                    <div id="collapse" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="heading-1" aria-expanded="true" style="">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accordion-tags no-padding">
                                                        <ul class="image-list-no-margin">
                                                            <li>
                                                                <a href="{$mats_info.tuzhi}" class="t3colorbox-products cboxElement" data-rel="information-1873149">
                                                                    <img src="{$mats_info.tuzhi}" width="346" height="102" alt="">
                                                                </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 {else /}

                                 {/notempty}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-1" aria-expanded="false"
                                            aria-controls="collapse-1"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">技术数据</font></font></a></h4></div>
                                    <div id="collapse-1" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-1" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <table class="table no-margin">
                                                <tbody>
                                                <tr>
                                                    <td data-uid="413"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">约。</font><font
                                                            style="vertical-align: inherit;">高度（mm）</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">{$mats_info.height}</font></font></td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="414"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">脚步声</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">{$mats_info.jiaobu}</font></font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="415"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">翻车和翻车功能：</font></font></td>
                                                    <td>
                                                        {volist name="$mats_info.fanche" id="vv"}
                                                        {$vv}<br>
                                                        {/volist}
                                                   </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="416"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">标准型材间隙约。</font><font
                                                            style="vertical-align: inherit;">（毫米）</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">{$mats_info.jianxi}</font></font></td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="417"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">自动门系统</font></font></td>
                                                    <td>{$mats_info.door}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="418"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">连接</font></font></td>
                                                    <td>{$mats_info.lianjie}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="419"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">约。</font><font
                                                            style="vertical-align: inherit;">材料厚度（mm）</font></font></td>
                                                    <td>{$mats_info.houdu}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="420"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">最大。</font><font
                                                            style="vertical-align: inherit;">单个部分的宽度/轮廓长度（mm）：</font></font>
                                                    </td>
                                                    <td>{$mats_info.max}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="421"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">各个部分的深度/行走深度（mm）：</font></font>
                                                    </td>
                                                    <td>{$mats_info.shengdu}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="422"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">重量（kg /m²）</font></font>
                                                    </td>
                                                    <td>{$mats_info.zhongkg}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="423"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">垫子按工厂标准或客户规格划分</font></font>
                                                    </td>
                                                    <td>{$mats_info.guige}</font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="424"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">固定载荷，单位为kg
                                                        /100cm²</font></font></td>
                                                    <td>{$mats_info.zaihe}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="425"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">支持机箱</font></font></td>
                                                    <td>{$mats_info.jixiang}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="426"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">胎面</font></font></td>
                                                    <td>{$mats_info.taimian}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="427"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">防滑性</font></font></td>
                                                    <td>{$mats_info.fanghua}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="437"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">防火</font></font></td>
                                                    <td>{$mats_info.fanghuo}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-2"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-2" aria-expanded="false"
                                            aria-controls="collapse-2"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">颜色</font></font></a></h4></div>
                                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-2" aria-expanded="false">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accordion-tags no-padding">
                                                        <ul class="image-list-no-margin">
                                                            {volist name="color" id="vo"}
                                                            <li><img src="{$vo.img}"
                                                                    width="122" height="122" alt=""><span>{$vo.title}</span>
                                                            </li>
                                                            {/volist}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-3"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-3" aria-expanded="false"
                                            aria-controls="collapse-3"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">招标文本</font></font></a></h4></div>
                                    <div id="collapse-3" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-3" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <table class="table no-margin">
                                                <tbody>
                                                <tr>
                                                    <td data-uid="406"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">建议</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">{$mats_info.jianyi}</font></font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="428"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">加载</font></font></td>
                                                    <td>{$mats_info.jiazai}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="414"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">脚步声</font></font></td>
                                                    <td>{$mats_info.jiaobu}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="415"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">翻车和翻车功能：</font></font></td>
                                                    <td>
                                                        {volist name="$mats_info.fanche" id="vv"}
                                                           {$vv}<br>
                                                        {/volist}
                                                   </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="425"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">支持机箱</font></font></td>
                                                    <td>{$mats_info.jixiang}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="413"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">约。</font><font
                                                            style="vertical-align: inherit;">高度（mm）</font></font></td>
                                                    <td>{$mats_info.height}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="426"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">胎面</font></font></td>
                                                    <td>{$mats_info.taimian}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="416"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">标准型材间隙约。</font><font
                                                            style="vertical-align: inherit;">（毫米）</font></font></td>
                                                    <td>{$mats_info.jianxi}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="417"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">自动门系统</font></font></td>
                                                    <td>{$mats_info.door}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="427"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">防滑性</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">R 11防滑性符合DIN 51130标准</font></font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="429"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">基本颜色</font></font></td>
                                                    <td>{$mats_info.yanse}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="437"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">防火</font></font></td>
                                                    <td>{$mats_info.fanghuo}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="418"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">连接</font></font></td>
                                                    <td>{$mats_info.lianjie}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="410"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">模型</font></font></td>
                                                    <td>{$mats_info.model}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="431"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">联系</font></font></td>
                                                    <td>{$mats_info.lianxi}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="4176"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">颜色</font></font></td>
                                                    <td>
                                                        {volist name="$mats_info.color" id="vv"}
                                                        {$vv}
                                                        <br>
                                                        {/volist}
                                                   </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-4"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-4" aria-expanded="false"
                                            aria-controls="collapse-4"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">服务</font></font></a></h4></div>
                                    <div id="collapse-4" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-4" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <ul class="listeansicht-lists">
                                                {volist name="$mats_info.fuwu" id="vb"}
                                                <li>{$vb}</li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-5"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-5" aria-expanded="false"
                                            aria-controls="collapse-5"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">饰品</font></font></a></h4></div>
                                    <div id="collapse-5" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-5" aria-expanded="false">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accessories-holder reference-holder">
                                                        <div class="posts">
                                                            {volist name="shiping" id="vo"}
                                                            <div class="post">
                                                                <a href="#">
                                                                    <img src="{$vo.img}" width="240" height="180" alt="">
                                                                <p>{$vo.title}</p></a>
                                                            </div>
                                                            {/volist}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-ref"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-ref" aria-expanded="false"
                                            aria-controls="collapse-ref"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">参考</font></font></a></h4></div>
                                    <div id="collapse-ref" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-ref" aria-expanded="false">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accessories-holder reference-holder">
                                                        <div class="posts">
                                                            {volist name="ress" id="vo"}
                                                            <div class="post">
                                                                <a href="#">
                                                                    <img src="{$vo.img}" width="240" height="180" alt="">
                                                                <p>{$vo.title}</p></a>
                                                            </div>
                                                            {/volist}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="downloads-section">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12"><h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">下载</font></font></h2></div>
                        </div>
                        <div class="posts">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post">
                                        <a href="{$mats_info.zhaobiao_text}"
                                                         class="download-icon download-icon-pdf" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="{$mats_info.zhaobiao_text}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文本</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a
                                            href="{$mats_info.zhuangxiu}"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="{$mats_info.zhuangxiu}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">装修/现代化</font></font></strong><span
                                                class="file-size"></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a
                                            href="{$mats_info.shouce}"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="{$mats_info.shouce}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">手册</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="{$mats_info.wuye}"
                                                         class="download-icon download-icon-pdf" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="{$mats_info.wuye}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">建筑物业主的信息</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a
                                            href="{$mats_info.clear}"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="{$mats_info.clear}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">3区清洁系统</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="{$mats_info.chanp}"
                                                         class="download-icon download-icon-pdf" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="{$mats_info.chanp}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品数据表</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="c2730" class="csc-default">
        <section class="darkcolor-banner "><img title="来自emco的服务当您需要我们时我们就在那里！" alt="来自emco的服务当您需要我们时我们就在那里！"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teaser_XXL/service-von-emco.jpg"
                                                width="1280" height="540">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">来自emco的服务</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">当你需要我们时，我们就在你身边！</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们为我们的产品感到自豪，并保证我们的材料和工艺的卓越品质。</font><font
                                        style="vertical-align: inherit;">emco产品经过认证，在生产过程中经过多项质量控制。</font></font></p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">如果仍然没有按照您的预期运作，我们的客户服务就在您身边。</font><font
                                        style="vertical-align: inherit;">我们将竭诚为您服务！</font></font></p>
                                <h3><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">电话：</font></font><span class="hotline-wrapper"><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">+49
                                    591/9140 0</font></font></span><br>
                                    <p>&nbsp;</p></h3>
                                <a href="{:url('index/contact')}" class="btn btn-default"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">电邮我们</font></font></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
           {include file="public/menu" /}
        </div>
    </div>
    {include file="public/footer" /}
</body>
</html>