{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                            <li class="last active"><span>入口垫服务</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <!--
        <section class="lightcolor-banner ">
            <img title="emco entrance mats – service Simple, quick &amp; easy"
                 alt="emco entrance mats – service Simple, quick &amp; easy"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/eingangsmatten-service/emco-Eingangsmatten-Service.jpg"
                 width="1280" height="520"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>&nbsp;</h1>
                                <h1>emco入口垫 - 服务</h1>
                                <h2>简单，快捷，简单</h2>
                                <p class="bodytext">
                                    对于需要翻新的严重磨损的刀片，emco入口垫服务始终随时为您服务：即使是极度磨损的刀片也不会被丢弃。
                                    在回收利用中，emco特别重视可持续性和最大可能的生态友好性。
                                </p>
                                <p class="bodytext">信赖emco并充分利用50多年的经验！</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner ">
            <img title="entrance mat advice: you can take it from us"
                 alt="More than 50 years’ expertise in entrance mats"
                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/reinigung-und-pflege/Kontakt-zum-emco-Eingangsmatten-Service.jpg" width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>入口垫建议：<br/>你可以从我们这里拿走它</h1>
                                <h2>50多年的入口垫专业知识</h2>
                                <p class="bodytext">
                                    emco入口垫服务是独一无二的：我们访问您的网站并与您一起设计完美的入口区域。所有建筑亮点均符合您的要求，以实现以结果为导向的解决方案。令人印象深刻的入口区 - 我们的理念。
                                </p>
                                <p class="bodytext">
                                    我们很乐意安排预约：通过emco的入口垫系统发现可能性！
                                </p>
                                <h2>电话: <span class="hotline-wrapper">+49 591 9140 514</span></h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->

     {volist name="mats" id="vo" }
        {if condition="$vo.video_url eq null "}
        <section class="darkcolor-banner ">
            <img title="wir übernehmen Ihren Reipswechsel: emco" alt="emco bietet einen einzigartigen Ripswechsel-Service" src="{$vo.img}" width="1280" height="520"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption">
                                <h1>{$vo.title}</h1>
                                {notempty name="vo.s_title" }
                                <h2>{$vo.s_title}</h2>
                                {/notempty}
                                <p class="bodytext">{$vo.content|raw}</p>
                                {if condition="$vo.miaoshu neq null and $vo.url neq null"}
                                <a href="{$vo.url}" class="btn btn-default t3colorbox-youtube hidden-xs"><span> {$vo.miaoshu} </span></a>
                                {else /}
                                {/if}
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          {else  /}
          <!-- 视频-->
        <!--<div class="research-holder dark">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12"><h1>从emco Bau分三步更换罗纹地毯：这就是它的工作原理</h1></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <section class="darkcolor-banner ">
            <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
                <source src="{$vo.video_url}" type="video/mp4">
            </video>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="caption">
                                <h1>{$vo.title}</h1>
                                {notempty name="vo.s_title" }
                                <h2>{$vo.s_title}</h2>
                                {/notempty}
                                <p class="bodytext">
                                    <span style="line-height: 20px; ">
                                       {$vo.content|raw}
                                    </span>
                                </p><a href="#{$vo.id}" class="btn btn-default t3colorbox-youtube hidden-xs"
                                       title="Watch the ribbed carpet replacement video now"><span> 现在观看罗纹地毯替换视频 </span></a>
                                <div style="display: none;">
                                    <div id="{$vo.id}">
                                        <iframe width="640" height="360" src="{$vo.video_url}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        {/if}
        {/volist}

        <section class="posts-holder ">
            <div class="container col-2-layout">
                <div class="row">
                    {volist name="mats_img" id="vo"}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post">
                            <img src="{$vo.img}" width="555" height="270" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">{$vo.title}</strong>
                                <p class="bodytext">{$vo.content|raw}</p>
                            </div>
                        </article>
                    </div>
                    {/volist}
                </div>
            </div>
        </section><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>

{include file="public/footer" /}
</body>
</html>