 {include file="public/header" /}


 <div class="w1">
     <div class="breadcrumb-holder">
         <div class="container">
             <div class="row">
                 <div class="col-xs-12">
                     <ol class="breadcrumb">
                         <li><span>你在这里</span></li>
                         <li class="first"><a href="{:url('index/index')}">emco bau</a>
                         </li>
                         <li><a href="{:url('index/architects')}">能力</a></li>
                         <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                         <li><a href="[:url('index/entrance_mats')}">入口垫</a></li>
                         <li class="last active"><span>入口垫配件</span></li>
                     </ol>
                 </div>
             </div>
         </div>
     </div><!--TYPO3SEARCH_begin-->
     <section class="darkcolor-banner "><img
             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-zubehoer-eingangsmatten.png"
             width="2560" height="900" alt="">
         <div class="caption-holder">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                         <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">入口垫配件</font></font></h1>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;"> emco为您的入口垫系统提供功能性和设计增强功能。 </font></font></p>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">除了污垢收集井和子结构等基本组件外，</font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">emcoINOX®</font></font></span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">和</font><span style="font-weight: bold;"><font
                                     style="vertical-align: inherit;">emco </font></span></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">Lumina</font></font></span><font
                                     style="vertical-align: inherit;"><font style="vertical-align: inherit;">还可作为入口区域的设计亮点。</font><font
                                     style="vertical-align: inherit;">这些将使您能够通过有用的功能扩展您的解决方案，以提高建筑物的清洁度。</font><font
                                     style="vertical-align: inherit;">与多种颜色的罗纹地毯嵌件和几乎无限的特殊形状相结合，入口垫的emco配件为您提供巨大的创作自由。</font></font>
                             </p></div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                 </div>
             </div>
         </div>
     </section>
     <section class="lightcolor-banner ">
         <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
             <source src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/emco-INOX.mp4"
                     type="video/mp4">
         </video>
         <div class="caption-holder">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                         <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">不锈钢型材：EMCO INOX </font></font><sup><font
                                 style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup>
                         </h1>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">EMCO </font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">INOX </font></font></span><sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">®</font></font></sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">量身定做！</font><font
                                     style="vertical-align: inherit;">我们使用激光技术将高品质铬镍钢的标识和文本切割成一毫米。</font></font></p>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">为了确保EMCO </font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">INOX </font></font></span><sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">®</font></font></sup><font
                                     style="vertical-align: inherit;"><font style="vertical-align: inherit;">可以站起来，重物很长一段时间内，分布结构通过附加组件增强。</font><font
                                     style="vertical-align: inherit;">这意味着你的个人EMCO </font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">INOX </font></font></span><sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">®</font></font></sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">插件完全下垂的保护！</font></font></p>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">使用EMCO </font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">INOX </font></font></span><sup><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">®</font></font></sup><font
                                     style="vertical-align: inherit;"><font style="vertical-align: inherit;">使您EMCO入口地垫独特的广告媒介。</font></font>
                             </p><a href="en/competences/products/entrance-mats/inox.html" title="了解有关INOX的更多信息"
                                    class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">了解有关INOX的更多信息</font></font></span></a></div>
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                 </div>
             </div>
         </div>
     </section>
     <section class="posts-holder ">
         <div class="container col-3-layout">
             <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <article class="post"><a
                             href="{:url('index/entrance_mats')}"
                             class="product-link"><img title="T-PROFIL"
                                                       src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/T-Profil.TIF-2.jpg"
                                                       width="1317" height="700" alt=""></a>
                         <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">emco T-profile</font></font></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">铝型材，用于创建相邻入口垫的视觉分离。</font><font
                                     style="vertical-align: inherit;">垫高可达17和22 mm。</font></font></p><a
                                     href="{:url('index/entrance_mats')}"
                                     class="btn-more product-link"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">转到产品</font></font></a></div>
                     </article>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <article class="post">
                         <a href="{:url('index/entrance_mats')}"
                             class="product-link"><img title="emco盖板条"
                                                       src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/Abdeckschiene.JPG"
                                                       width="1207" height="641" alt=""></a>
                         <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">emco </font></font><span
                                 style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">盖板条</font></font></span></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">设计用于保护和覆盖特殊形状的emco入口垫中的高度倾斜和有角度的边缘。</font></font>
                             </p>
                             <a href="{:url('index/entrance_mats')}" class="btn-more product-link"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">转到产品</font></font></a></div>
                     </article>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <article class="post">
                         <a href="{:url('index/entrance_mats')}" class="product-link">
                             <img title="Einbaurahmen"
                                  src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/EInbaurahmen.JPG"
                                  width="754" height="400" alt=""></a>
                         <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">emco </font></font><span
                                 style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">安装框架</font></font></span></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">emco安装框架500由具有斜角的成角度的轮廓组成。</font><font
                                     style="vertical-align: inherit;">提供坚固的角撑板确保螺钉连接符合尺寸。</font></font></p><a
                                     href="{:url('index/entrance_mats')}"
                                     class="btn-more product-link"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">转到产品</font></font></a></div>
                     </article>
                 </div>
             </div>
         </div>
     </section>
     <section class="darkcolor-banner "><img
             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-lumina-eingangsmatte-zubehoer.png"
             width="1280" height="530" alt="">
         <div class="caption-holder">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                         <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">EMCO </font></font><span
                                 style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">LUMINA</font></font></span></h1>
                             <h2><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">一个辉煌的效果。</font></font></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">emco Lumina允许您的入口区域在黄昏降临时和黑暗的冬夜里显得诱人。</font><font
                                     style="vertical-align: inherit;">我们的带灯光的照明框架系统提供可靠的定位和特殊的氛围。</font><font
                                     style="vertical-align: inherit;">emco Lumina免维护，节能！</font></font></p>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">只需将emco </font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">Lumina</font></font></span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">与所有emco入口垫</font><font
                                     style="vertical-align: inherit;">相结合</font><font style="vertical-align: inherit;">，其轮廓高度为22
                                 mm。</font></font></p>
                             <a href="{:url('index/entrance_mats')}" class="btn btn-default product-link"><span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">直接去产品</font></font></span></a></div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                 </div>
             </div>
         </div>
     </section>
     <section class="lightcolor-banner "><img
             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-lumina-via-eingangsmatte-emco-zubehoer.jpg"
             width="2560" height="1080" alt="">
         <div class="caption-holder">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                         <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">EMCO </font></font><span
                                 style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">LUMINA VIA</font></font><br></span></h1>
                             <h2><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">一个特别的亮点</font></font></h2>
                             <p class="bodytext">emco Lumina Via照明框架系统是优雅的解决方案，旨在增强您的emco入口垫系统：使用遥控器，平板电脑或智能手机轻松控制单个颜色和效果。 </p>
                             <p class="bodytext">将emco久经考验的入口垫与emco LED框架系统相结合，将简单的入口区域变成真正的亮点。</p>
                             <a href="{:url('index/entrance_mats')}" class="btn btn-default product-link"><span>去产品</span></a></div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <section class="darkcolor-banner "><img
             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-anlaufprofil-eingangsmatten-zubehoer.png"
             width="2560" height="1080" alt="">
         <div class="caption-holder">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                         <div class="caption"><h1>emco坡道边缘：<br> 不再磕磕绊绊！ </h1>
                             <p class="bodytext">避免事故。由于倾斜的表面和异形铝制胎面表面，emco斜面边缘允许您使用垫子而不会有绊倒的风险。</p>
                             <p class="bodytext">斜坡边缘适用于emco <span style="font-weight: bold;">DIPLOMAT</span>
                                 入口垫，它与成品地板齐平。这意味着即使您没有垫子，也不必没有emco入口垫！</p>
                             <a  href="{:url('index/entrance_mats')}"
                                     class="btn btn-default product-link"><span>去产品</span></a></div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                 </div>
             </div>
         </div>
     </section>
     <section class="posts-holder ">
         <div class="container col-2-layout">
             <div class="row">
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     <article class="post">
                         <a href="{:url('index/entrance_mats')}" class="product-link">
                         <img title="emco污垢收集井"
                              src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-bautechnik-zubehoer-schmutzfangwanne.png"
                              width="555" height="240" alt=""></a>
                         <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">emco污垢收集井</font></font></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">简单地包含非常繁忙的入口区域增加的污垢积累。</font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">emco的</font></font></span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">污垢收集井：我们的</font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;">MARSCHALL</font></span><font
                                     style="vertical-align: inherit;">，</font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">PLAZA</font></font></span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">和</font></font><span
                                     style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">SENATOR W / S</font></font></span><font
                                     style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">重型入口垫</font><font
                                     style="vertical-align: inherit;">的实用新增功能</font><font
                                     style="vertical-align: inherit;">。</font></font></p><a
                                     href="{:url('index/entrance_mats')}"
                                     class="btn-more product-link"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">转到产品</font></font></a></div>
                     </article>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     <article class="post"><a href="{:url('index/entrance_mats')}" class="product-link">
                         <img title="emco子结构" src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-unterkonstruktion-schmutzfang.png"
                                                       width="555" height="240" alt="">
                     </a>
                         <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                 style="vertical-align: inherit;">emco子结构</font></font></h2>
                             <p class="bodytext"><font style="vertical-align: inherit;"><font
                                     style="vertical-align: inherit;">作为emco污垢收集井的一种特别有效的替代方案，即使在非常长的清洁间隔内，emco子结构也可能包含极端的污垢积聚。</font></font>
                             </p>
                             <a href="{:url('index/entrance_mats')}" class="btn-more product-link">转到产品</a></div>
                     </article>
                 </div>
             </div>
         </div>
     </section><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}

        </div>
    </div>

{include file="public/footer" /}
</body>
</html>