{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/presse')}">新闻</a></li>
                            <li class="last active"><span>活动</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin--><a id="c2741"></a>
        <section class="posts-holder" id="c2739">
            <div class="container">
                <div class="posts">
                    <div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">活动与展览会</h1></div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <a id="c1295"></a>
        <div id="c210" class="csc-default">
            {volist  name="new_info" id="info" }
            <div class="news">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="{:url('index/event_info')}?id={$info.id}"><h3>{$info.title}</h3></a>
                </div>
            </div>
            {/volist}
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
        {include file="public/menu" /}
        </div>
    </div>
{include file="public/footer" /}
</body>
</html>