{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="company/emco-bau.html">公司</a></li>
                            <li class="last active"><span>专业知识</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <div id="c1527" class="csc-default">
            <section class="darkcolor-banner "><img title="emco – designing clean entrances"
                                                    alt="emco – designing clean entrances"
                                                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Entrees-sauber-gestalten-mit-emco.jpg"
                                                    width="1280" height="540"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption">
                                    <h1>emco&nbsp;<span style="font-weight: bold; ">设计干净的入口</span></h1>
                                    <p class="bodytext">
                                        迈出洁净度的第一步 - 在我们的入口消光系统上。我们是世界领先的入口垫系统制造商之一，旨在减少建筑物中的污垢和潮湿。
                                    </p>
                                    <p class="bodytext">我们的系统不仅可以保护建筑物及其用户。结合定制设计和高品质的工艺，他们帮助任何入口区域自己的大门。</p>
                                    <a href="{:url('index/emco_bau')}" class='btn btn-default'><span>了解更多emco信息</span></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="posts-holder ">
            <div class="container col-2-layout">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post">
                            <a href="{:url('index/references')}" title="go to entrance mats – references" class=animation>
                            <img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/eingangsmatten-referenzen-emco-kompetenz.png"
                                width="1110" height="555" alt=""/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="{:url('index/references')}" title="go to entrance mats – references">
                                    备受推崇：参考文献</a></strong>
                                <p class="bodytext">
                                    我们是制造高品质入口垫的世界领先者，这就是为什么我们在满意的客户中统计领先的公司和国际业务。
                                </p>
                                <a href="{:url('index/references')}" title="go to entrance mats – references" class='btn-more'>了解更多</a></div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post">
                            <a href="{:url('index/entrance_mats_service')}" title="go to entrance mats – service" class=animation>
                                <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Eingangsmatten-service-emco-kompetenz.png"
                                width="1110" height="555" alt=""/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="{:url('index/entrance_mats_service')}"
                                    title="go to entrance mats – service">建议和服务</a></strong>
                                <p class="bodytext">
                                    我们通过规划您选择的入口垫来支持您。我们确保您的系统随着时间的推移保持其外观和功能。充分利用我们作为高品质入口垫市场领导者的专业知识。
                                </p>
                                <a href="{:url('index/entrance_mats_service')}"
                                   title="go to entrance mats – service" class='btn-more'>了解更多</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <div id="c3067" class="csc-default">
            <section class="darkcolor-banner ">
                <img title="Market leader in dirt-retention solutions emco: high standards &amp; bespoke solutions"
                    alt="Market leader in dirt-retention solutions emco: high standards &amp; bespoke solutions"
                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/emco-Marktfuehrer-bei-Schmutzfangloesungen.jpg"
                    width="1280" height="580"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption"><h1>污垢保留解决方案的市场领导者</h1>
                                    <h2>emco：高标准和定制解决方案</h2>
                                    <p class="bodytext">
                                        Lingen的入口垫系统面向全世界：为了质量和品种，emco的入口垫解决方案是独一无二的！初始材料选择和工艺都体现了高品质，直至最细微的细节。
                                    </p>
                                    <p class="bodytext">
                                        emco有着多样化的传统：我们的使命是填补市场上的每一个空白，以满足客户的需求。除了经过时间考验的系统标准外，我们还可以为每个要求提供高度专业化的系统。
                                    </p>
                                    <p class="bodytext">
                                        通过3区清洁，emco率先开发了一个多级，完美协调的系统，用于清洁入口区域。使用emco入口垫：保持入口区域清洁！
                                    </p>
                                    <a href="{:url('index/carpet_mats_info')}" class='btn btn-default'>
                                        <span>有关emco污垢保留解决方案的更多信息</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a href="competences/company/research-and-development.html"
                                                 title="Proven quality" class=animation><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/geprueft-zertifiziert-eingangsmatte-emco.png"
                                width="720" height="360" alt=""/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="competences/company/research-and-development.html" title="Proven quality">
                                    经过测试和认证
                                </a></strong>
                                <p class="bodytext">
                                    emco入口垫定期接受质量控制和认证，从开发到交付。这确保了每个入口垫符合我们的高质量标准。
                                </p>
                                <!--
                                <a href="competences/company/research-and-development.html" title="Proven quality" class='btn-more'>了解更多</a>
                                -->
                                </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <a href="http://www.emco-bau.com/aktuelles/presse/detail/news/umwelt-engagement-durch-dgnb-mitgliedschaft-bekraeftigt.html"
                               target="_top" class=animation><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/eingangsmatte-umweltschutz-kompetenz-emco.png"
                                width="720" height="360" alt=""/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="http://www.emco-bau.com/aktuelles/presse/detail/news/umwelt-engagement-durch-dgnb-mitgliedschaft-bekraeftigt.html"
                                    target="_top">可持续产品</a></strong>
                                <p class="bodytext">
                                    德国可持续建筑委员会（DGNB）的成员：高质量的工艺，长久的使用寿命以及整个产品生命周期中生态方面的整合确保了我们产品的可持续性。
                                </p>
                                <!--
                                <a href="http://www.emco-bau.com/aktuelles/presse/detail/news/umwelt-engagement-durch-dgnb-mitgliedschaft-bekraeftigt.html"
                                        target="_top" class='btn-more'>了解更多</a>
                                  -->
                                </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><a href="competences/company/research-and-development.html#c6370"
                                                 title="Safe and reliable entrance mats from emco" class=animation><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/sicher-resistent-eingangsmatte-emco.png"
                                width="720" height="360" alt=""/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="competences/company/research-and-development.html#c6370"
                                   title="Safe and reliable entrance mats from emco">安全耐用</a></strong>
                                <p class="bodytext">
                                    我们的入口垫防滑，降低了发生事故的风险。它们通过减少污垢来改善卫生条件。根据欧盟标准，许多产品也有防火版本。
                                <!--
                                </p><a href="competences/company/research-and-development.html#c6370" title="Safe and reliable entrance mats from emco" class='btn-more'>
                                了解更多
                                </a>
                                -->
                                </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <div id="c3073" class="csc-default">
            <section class="lightcolor-banner ">
                <img title="Swimming pool grates safe, hygienic and durable" alt="Swimming pool grates safe, hygienic and durable"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teaser_XXL/schwimmbadroste-von-emco.jpg" width="1280" height="600"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>游泳池格栅</h1>
                                    <h2>安全，卫生，耐用</h2>
                                    <p class="bodytext">
                                        emco游泳池格栅有效收集溢出的水，脚部温和，并提供卓越的安全和卫生标准。
                                        实际上每种形状都是可能的。我们的格栅具有安全型密封和安全认证。emco代表着“德国制造”的优质产品和专业技术。
                                    </p>
                                    <a href="{:url('index/swimming')}"
                                       class='btn btn-default'><span>更多关于游泳池栅格</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c3072" class="csc-default">
            <section class="lightcolor-banner ">
                <img title="emco carpet mats bespoke shape and motif" alt="emco carpet mats bespoke shape and motif"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teaser_XXL/teppichmatten-von-emco.jpg"
                     width="1280" height="600"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>emco地毯垫</h1>
                                    <h2>定制的形状和图案</h2>
                                    <p class="bodytext">
                                        多年来，emco的地毯垫代表了高级工艺和最大的个性。除了标准格式外，形状垫可以几乎任何格式组成。
                                        除了45种明亮的标准颜色外，我们还可以根据您的要求打印特殊颜色。甚至细节也可以在图案中清晰地看到。
                                    </p>
                                    <p class="bodytext">emco设计垫：与您一样个性化！</p>
                                    <a href="{:url('index/carpet_mats')}" class='btn btn-default'><span>更多关于地毯垫</span></a></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c3071" class="csc-default">
            <section class="darkcolor-banner ">
                <img title="Service from emco We’re there when you need us!" alt="Service from emco We’re there when you need us!"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Teaser_XXL/service-von-emco.jpg" width="1280" height="540"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>来自emco的服务</h1>
                                    <h2>当你需要我们时，我们就在你身边！</h2>
                                    <p class="bodytext">
                                        我们为我们的产品感到自豪，并保证我们的材料和工艺的卓越品质。emco产品经过认证，在生产过程中经过多项质量控制。
                                    </p>
                                    <p class="bodytext">
                                        如果仍然没有按照您的预期运作，我们的客户服务就在您身边。我们将竭诚为您服务！
                                    </p>
                                    <h3>电话: <span class="hotline-wrapper">+49 591 / 9140 0</span><br/>
                                        <p>&nbsp;</p></h3>
                                    <a href="{:url('index/contact')}" class='btn btn-default'><span>电邮我们</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>

{include file="public/footer" /}
</body>
</html>