{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/architects')}">顾客</a></li>
                        <li class="last active"><span>地板钳工</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="lightcolor-banner "><img title="为什么选择emco入口垫？" alt="承包商的有用信息"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-Wissenswertes-fuer-Gewerbetreibende.jpg"
                                             width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">为什么选择emco入口垫？</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">承包商的有用信息</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco入口垫系统保护相邻的地板覆盖物免受污垢。</font><font
                                    style="vertical-align: inherit;">因此，需要不经常清洁，降低滑倒事故的风险并保护环境。</font><font
                                    style="vertical-align: inherit;">当然，地板覆盖物可以保持更长时间的吸引力。</font><font
                                    style="vertical-align: inherit;">此外，emco入口垫可以卷起来，使它们非常坚固，易于铺设。</font></font></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-muster-matten-displays.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">垫样本显示</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> - 为您的陈列室或只是在您的柜台。</font><font
                                    style="vertical-align: inherit;">在引人注目的emco显示屏上显示您的emco入口垫样品，为您的陈列室增添价值。</font></font>
                            </p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><a href="{:url('index/entrance_mats_service')}"
                                             class="animation"><img title="入口垫 - 服务" alt="入口垫 - 服务"
                                                                   src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-Eingangsmatten-Service.jpg"
                                                                    width="360" height="270"></a>
                        <div class="text-block"><strong class="promotion-h2"><a
                                href="{:url('index/entrance_mats_service')}"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">入口垫 - 服务</font></font></a></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco入口垫系统的安装说明，清洁和维护。</font></font></p><a
                                    href="{:url('index/entrance_mats_service')}"
                                    class="btn-more"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">zum Eingangsmatten服务</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><a href="{:url('index/order_infomaterial')}" class="animation"><img
                            title="宣传册订单" alt="宣传册订单"
                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-Broschueren-Bestellformular.jpg"
                            width="360" height="270"></a>
                        <div class="text-block"><strong class="promotion-h2"><a
                                href="{:url('index/order_infomaterial')}"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">宣传册订单</font></font></a></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">立即为您的客户索取相关的emco文档！</font></font></p><a
                                    href="{:url('index/order_infomaterial')}" class="btn-more"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">转到手册订购表格</font></font></a></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div id="c5032" class="csc-default"></div>
    <div id="c3382" class="csc-default">
        <section class="darkcolor-banner "><img title="emco产品查询" alt="得到一个入口垫的报价：它快速而简单"
                                               src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Teaser_XXL/emco-Produktanfrage.jpg"
                                                width="1280" height="585">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco产品查询</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">得到一个入口垫的报价：它快速而简单</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">只需两步即可轻松完成：选择您想要的emco入口垫并添加配件。</font><font
                                        style="vertical-align: inherit;">发送给emco以及您的联系方式。</font><font
                                        style="vertical-align: inherit;">完成！</font></font></p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们会及时处理您的产品查询，如果我们有任何疑问，请尽快与您联系。</font><font
                                        style="vertical-align: inherit;">为您量身定制的emco入口垫提供最快捷的方式！</font></font></p><a
                                        href="{:url('index/product_enquiry')}" class="btn btn-default"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">立即咨询产品！</font></font></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/functions')}"
                                             class="animation product-link"><img title="功能和好处" alt="功能和好处"
                                                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-eingangsmatten-funktion-vorteile-bodenleger.jpg"
                                                                                 width="555" height="270"></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">功能和好处</font></font></h2>
                            <p class="bodytext"><span
                                    style="font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 24px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">与建筑师一起规划和执行您的项目 - 您将看到emco入口垫系统的耐用性。</font></font></span>
                            </p><a href="{:url('index/functions')}"
                                   class="btn-more product-link"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Funktionen entdecken</font></font></a></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><a href="{:url('index/events')}">
                        <img title="新闻" alt="新闻"
                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Handel_und_Bodenleger/emco-Presse.jpg"
                             width="555" height="270"></a>
                        <div class="text-block"><h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">新闻</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">到这里查找emco Bau的最新新闻稿。</font></font></p><a
                                    href="{:url('index/events')}" class="btn-more"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">zuden新闻</font></font></a></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div id="c3383" class="csc-default">
        <section class="lightcolor-banner "><img title="建筑师的Darling®2018适用于emco" alt="被选为清洁区最受欢迎的制造商"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Teaser_XXL/emco-gewinnt-Architects-Darling.jpg"
                                                 width="1280" height="580">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">建筑师：亲爱</font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 2018
                                EMCO</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被选为清洁区最受欢迎的制造商</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">在2018年，EMCO巴乌赢得了一枚建筑师达林</font></font><sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">奖（基于2100名德国建筑师和规划师的调查）我们的多功能和创新的污物收集解决方案。</font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">我们很高兴能与这个奖项，并认为这是一种激励，继续开发新的，高品质和创新的产品，在未来：EMCO创新，EMCO
                                    ECOLINE </font></font><sup><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">®</font></font></sup><font
                                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    PIONEER，尚无无与伦比，是我们要求所提供的完美的污垢证明 - 针对每种情况的收集解决方案。</font></font></p><a
                                        href="{:url('index/entrance_mats_range')}"
                                        class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在发现各种入口垫！</font></font></span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="c3385" class="csc-default">
        <section class="posts-holder ">
            <div class="container col-2-layout">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post"><a href="en/news/events.html" class="animation">
                            <img title="emco参加展览会和展览会" alt="emco参加展览会和展览会"
                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/emco-Messen.jpg"
                                 width="555" height="270"></a>
                            <div class="text-block"><strong class="promotion-h2"><a href="{:url('index/events')}"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco参加展览会和展览会</font></font></a></strong>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">体验emco直播：每年我们作为参展商出席全球超过25个展会。</font><font
                                        style="vertical-align: inherit;">我们总是很高兴有机会亲自展示我们的产品。</font></font></p><a
                                        href="{:url('index/events')}" class="btn-more"><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">立即查看约会</font></font></a></div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post"><a href="{:url('index/newsletter')}" class="animation">
                            <img title="emco通讯"
                                 alt="emco通讯"
                                 src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Architekten_und_Planer/emco-Newsletter.jpg" width="555" height="270"></a>
                            <div class="text-block"><strong class="promotion-h2"><a
                                    href="{:url('index/newsletter')}"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco通讯</font></font></a></strong>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">立即注册emco新闻通讯并保持最新：定期收到有关emco世界产品的最新信息，以便您充分利用我们的emco创新。</font></font>
                                </p><a href="{:url('index/newsletter')}" class="btn-more"><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">订阅时事通讯</font></font></a></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="c3386" class="csc-default">
        <section class="darkcolor-banner "><img src="__STATIC__/index/fileadmin/user_upload/Startseite/iconset.png" width="1280"
                                                height="164" alt="">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>


{include file="public/footer" /}

</body>
</html>