{include file="public/header" /}

<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/entrance_mats')}">入口垫</a></li>
                        <li class="last active">功能</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="lightcolor-banner "><img title="funktionale Eingangsmatten von emco"
                                             alt="emco Eingangsmatten mit ausgereiften Funktionen"
                                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Eingangsmatten-von-emco.jpg"
                                             width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">功能：来自emco的入口垫</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">高品质，耐用，高性能</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">多年来，emco入口垫已经完善：我们多年的经验和丰富的专业知识构成了我们高品质产品的基础。</font><font
                                    style="vertical-align: inherit;">emco的入口垫系统经过精心考虑，最小的细节。&nbsp;</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们的垫子易于清洁：只需将它们卷起并刷掉污垢即可。</font><font
                                    style="vertical-align: inherit;">这就是确保您的建筑保持清洁所需的一切。</font><font
                                    style="vertical-align: inherit;">emco入口垫是高效，有弹性和无限适应性的。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">但最重要的是，emco的入口消光系统以客户为中心。</font><font
                                    style="vertical-align: inherit;">由于我们的建议和服务的卓越品质，您可以确定您的emco入口垫将是一个完美的选择。&nbsp;</font></font>
                            </p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Variabel-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">适应性强</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">大量可能的垫子配置意味着它们可以根据您的场地的使用频率，架构和设计的具体要求进行精确定制。</font></font>
                            </p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Belastbar-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">弹性</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">由于其坚固的铝型材，emco入口垫完全不受温度波动的影响，并已针对连续负载进行了优化。</font></font>
                            </p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Effizient-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">高效</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">功能性刀片，铝刮刀条和刷条确保高水平的污垢去除。</font><font
                                    style="vertical-align: inherit;">污垢落入垫子型材之间的空间。</font></font></p></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="3区入口消光系统：简直更好！" alt="使用emco获得最大化"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                            width="1280" height="540">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">3区入口消光系统：简直更好！</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用emco获得最大化</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco的入口消光系统：完美匹配的入口垫系统和清洁区域的组合。</font><font
                                    style="vertical-align: inherit;">污垢和潮湿立即停在入口区域。</font><font
                                    style="vertical-align: inherit;">您的地板将保持清洁明显更长。&nbsp;</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">入口消光系统区域越长，污垢颗粒越少到达建筑物内部。</font><font
                                    style="vertical-align: inherit;">在可比较的条件和相同的负载下，具有有效入口消光系统区域的入口区域可以更长时间地保持清洁。</font></font>
                            </p><a href="{:url('index/zone_cleaning')}"
                                   title="Mehr erfahren" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">阅读更多</font></font></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Sprachversionen/Abnahme-des-Schmutzanfalls-mit-emco_EN.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">减少污垢</font></font></strong>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">以克为单位的每100人的污垢量。</font><font
                                    style="vertical-align: inherit;">减少与入口垫系统长度相关的污垢。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Sprachversionen/Reduzierung-der-Reinigungskosten-mit-emco_EN.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">降低清洁成本</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">与所使用的入口消光系统的尺寸相关的清洁成本（根据内部研究）。</font></font></p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Reinigungsintervalle-ohne-emco.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">没有emco入口消光系统的清洁间隔</font></font></strong>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">仅仅两周后就已经需要彻底清洁了。</font><font
                                    style="vertical-align: inherit;">很快就需要对装修工作进行投资。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Reinigungsintervalle-mit-emco.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">使用emco入口消光系统清洁间隔</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">五周后彻底清洁。</font><font
                                    style="vertical-align: inherit;">装修工作只有相当长的时间。</font><font
                                    style="vertical-align: inherit;">使用emco，您可以将清洁时间和成本降低多达90％！</font></font></p></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="个性化²具有emco最大的灵活性，最大的可靠性" alt="个性化²具有emco最大的灵活性，最大的可靠性"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Individualitaet-mit-emco.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">个性化²与emco</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最大的灵活性，最大的可靠性</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">您的入口是您公司的名片：将您的个性展示给您，展示您的访客对您的重要性！</font><font
                                    style="vertical-align: inherit;">emco入口垫系统结合了最大功能和多年的入口垫生产经验，具有无数的配置和设计可能性。</font></font><br><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">我们能为您提供灵感或明智的建议吗？</font><font
                                    style="vertical-align: inherit;">没有人比制造商更了解他们的产品。</font><font
                                    style="vertical-align: inherit;">因此，emco提供：优秀的产品和专业的建议。</font></font><br><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">设计和功能：正是您所需要的！</font></font>
                            </p><a href="{:url('index/entrance_mats_range')}"
                                   class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">探索我们的入口垫系列</font></font></span></a></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Werterhaltung-und-Umweltschutz-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">保值和环保</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco入口垫系统通过污垢，腐蚀性材料和短暂的清洁间隔防止过早地板磨损。</font><font
                                    style="vertical-align: inherit;">较少使用化学清洁产品也可以保护环境！</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Sicherheit-und-Hygiene-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">安全和卫生</font></font></strong>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">降低滑倒风险：防止事故成本。</font><font
                                    style="vertical-align: inherit;">使用emco入口垫系统可以积极减少水分和污垢。</font><font
                                    style="vertical-align: inherit;">频繁出入的空间的卫生条件得到显着改善。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Funktion/Wohlfuehlen-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">欢迎的气氛</font></font></strong>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">协调色彩的干净整洁入口对于商业地产或公共建筑的积极第一印象非常重要。</font><font
                                    style="vertical-align: inherit;">纺织品清洁区吸收噪音并营造温馨的氛围。</font></font></p></div>
                    </article>
                </div>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
         {include file="public/menu" /}
        </div>
    </div>

{include file="public/footer" /}
</body>
</html>