{include file="public/header" /}

    <div class="w1">
        <!--TYPO3SEARCH_begin-->
        <div id="c1033" class="csc-default">
            <div class="tx-revoslider visible-lg" style="margin-bottom: 10px">
                <div class="fullwidthbanner-container">
                    <div class="tp-banner rev_slider fullwidthabanner">
                        <ul>
                            {volist name="banner" id="vo" key ='k'}
                            <li data-transition="fade"  data-target="_self">
                                <img class="rev-slidebg" src="__STATIC__/index/typo3conf/ext/revoslider/Resources/Public/Images/dummy.png" data-bgfit="100"
                                 data-bgrepeat="no-repeat" data-bgposition="top left" data-kenburns="on" data-duration="12000" data-bgpositionend="bottom right"
                                     data-bgfitend="120" data-lazyload="{$vo.img}"/>

                                <div class="tp-caption rs-headline fade fadeout dark" data-x="left" data-y="top"
                                     data-speed="700" data-hoffset="120" data-voffset="85" data-start="500"
                                     data-easing="Linear.easeNone"  data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none" style="z-index: 2;">
                                    <strong class="headline"><b>{$vo.title}</b> </strong>
                                </div>
                                <div class="tp-caption ts-text sfb str dark" data-x="left" data-y="top" data-speed="700"
                                     data-hoffset="120" data-voffset="155" data-start="1000"
                                     data-easing="Linear.easeNone"  data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none" style="z-index: 3;"><strong class="title">
                                      {volist name="$vo.content" id="vw"}
                                    <p class="bodytext">{$vw}</p>
                                      {/volist}
                                   </strong></div>
                                <div class="tp-caption btn rs-button sfr stb light" data-x="left" data-y="top"
                                     data-speed="700" data-hoffset="120" data-voffset="355" data-start="3000"
                                     data-easing="Linear.easeNone"  data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none">
                                    {if condition="$vo.url neq null  and $vo.miaoshu neq null"}
                                    <a href="{:url('index/emco_bau')}"><span>{$vo.miaoshu}</span></a>
                                    {else /}
                                     {/if}
                                </div>
                            </li>
                            {/volist}
                            <!--
                            <li data-transition="fade" data-delay="9000" data-target="_self">
                                <img class="rev-slidebg" src="__STATIC__/index/fileadmin/user_upload/Startseite/05-emco-teppichmatten.jpg" data-bgfit="100"
                                 data-bgrepeat="no-repeat" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-bgpositionend="top center" data-bgfitend="107"/>
                                <div class="tp-caption ts-text sfb str dark" data-x="left" data-y="top" data-speed="700"
                                     data-hoffset="620" data-voffset="170" data-start="1000"
                                     data-easing="Linear.easeNone" data-endspeed="700" data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none" style="z-index: 1;"><strong class="title">
                                    <p class="bodytext">不仅仅是灰尘收集，无论是标准的还是特殊的</p>
                                    <p class="bodytext">形状。无论是打印图像还是宣传信息</p>
                                    <p class="bodytext">EMCO的标志垫，由于其</p>
                                    <p class="bodytext">高品质的工艺和精心设计的产品细节。</p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">立即了解经典和图像中的所有产品</p>
                                    <p class="bodytext">你自己看看EMCO的质量有多好！</p>
                                </strong></div>
                                <div class="tp-caption rs-headline fade fadeout dark" data-x="left" data-y="top"
                                     data-speed="700" data-hoffset="620" data-voffset="100" data-start="500"
                                     data-easing="Linear.easeNone" data-endspeed="700" data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none" style="z-index: 2;">
                                    <strong class="headline"> emco <b>地毯垫</b> </strong></div>
                                <div class="tp-caption btn rs-button sfr ltb light" data-x="left" data-y="top"
                                     data-speed="500" data-hoffset="620" data-voffset="370" data-start="2000"
                                     data-easing="Linear.easeNone" data-endspeed="500" data-endeasing="Linear.easeNone"
                                     data-dottedoverlay="none">
                                    <a href="{:url('index/carpet_mats')}"><span>关于地毯垫的更多信息</span></a>
                                </div>
                            </li>
                              -->
                        </ul>
                        <div class="tp-bannertimer"></div>
                        <script type="text/javascript">
                       var rsConfiguration = new Object();
                       // rsConfiguration.delay = 5000;
                        rsConfiguration.startwidth = 1280;
                        rsConfiguration.startheight = 585;
                        rsConfiguration.onHoverStop = 'on';
                        rsConfiguration.navigationType = 'bullet';
                        rsConfiguration.touchenabled = 'off';
                        rsConfiguration.hideTimerBar = 'off';
                        rsConfiguration.fullWidth = 'off';
                        rsConfiguration.autoHeight = 'off';
                        rsConfiguration.forceFullWidth = 'off';
                        rsConfiguration.fullScreen = 'off';
                        rsConfiguration.lazyLoad = 'on';
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>设计干净的入口 //emco 入口垫系统</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder ">
            <div class="container col-2-layout">
                <div class="row">
                    {volist name="info" id="vo"}

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <article class="post">
                            <a href="{$vo.url}" class=animation>
                            <img title="Architects and planners" alt="Architects and planners"
                                src="{$vo.img}" width="555" height="240"/></a>
                            <div class="text-block"><strong class="promotion-h2">
                                <a href="{$vo.url}">{$vo.title}</a></strong>
                                <p class="bodytext">{$vo.content|raw}</p>
                                <div></div>
                                <a href="{$vo.url}" class='btn-more'>阅读更多</a></div>
                        </article>
                    </div>
                    {/volist}

                </div>
            </div>
        </section>
        <!--
        <div id="c7423" class="csc-default">
            <section class="lightcolor-banner ">
                <img title="Architects' Darling® 2018 for emco" alt="Voted favourite manufacturer for clean-off zones"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Teaser_XXL/emco-gewinnt-Architects-Darling.jpg" width="1280" height="580"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>建筑师：亲爱<sup>®</sup> 2018 for emco</h1>
                                    <h2>被选为清洁区最受欢迎的制造商</h2>
                                    <p class="bodytext">在2018年，EMCO巴乌赢得了一枚建筑师达林® 奖（基于2100名德国建筑师和规划师的调查）我们的多功能和创新的污物收集解决方案。</p>
                                    <p class="bodytext">
                                        我们很高兴能与这个奖项，并认为这是一种激励，继续开发新的，高品质和创新的产品，在未来：EMCO创新，EMCO ECOLINE ® PIONEER，尚无无与伦比，是我们要求所提供的完美的污垢证明 - 针对每种情况的收集解决方案。
                                    </p>
                                    <a href="{:url('index/entrance_mats_range')}" class='btn btn-default'>
                                        <span>现在发现各种入口垫</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="darkcolor-banner ">
            <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/emco-spinsafe-taktile-information-en.png"
                width="1280" height="600" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption">
                                <h2><span class="exampleContent"><h2>盲人和弱视人士的安全</h2></span>
                                </h2>
                                <h1>emco <span style="font-weight: bold; ">SPIN<sup>®</sup> SAFE</span></h1>
                                <p class="bodytext">emco <span style="font-weight: bold; ">SPIN<sup>®</sup> SAFE</span>
                                    是视障人士进一步EMCO入口地垫的创新。有了它，盲人和视力障碍者可以轻松清晰地检测方向和脚或手杖方向的变化。
                                </p>
                                <a href="{:url('index/tactile_guidance_system')}" title="More about SPIN SAFE" class='btn btn-default'>
                                    <span>更多关于SPIN SAFE 信息</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
        {volist name="other" id="vo"}
        <div id="c3387" class="csc-default">
            <section class="darkcolor-banner ">
                <img title="emco product enquiry"
                     alt="Get a quote for an entrance mat: it's quick and simple"
                     src="{$vo.img}" width="1280" height="585"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption"><h1>{$vo.title}</h1>
                                    {notempty name="vo.s_title"}
                                    <h2>{$vo.s_title}</h2>
                                    {/notempty}
                                    <p class="bodytext">{$vo.content|raw}</p>
                                     {if condition="$vo.url neq null and  $vo.miaoshu neq null"}
                                    <a href="{$vo.url}" class='btn btn-default'><span>{$vo.miaoshu}</span></a>
                                    {else /}
                                     {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {/volist}
        <!-- todo  下面的视频处 需要判断 后期优化 -->
        <section class="darkcolor-banner ">
            <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
                <source src="__STATIC__/index/fileadmin/user_upload/Startseite/16_03_22_Hintergrund_Markenfilm.mp4" type="video/mp4">
            </video>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco Bau: 看看是什么驱使我们!</h1>
                                <h2>入口垫, 地毯垫, 游泳池栅格</h2>
                                <p class="bodytext">高质量的入口垫系统，地毯垫和游泳池格栅 - 由我们位于德国林根的全球总部提供给全球各地。我们使用选定的材料和精密工艺创造出色的产品，以满足客户要求的最高质量标准。
                                    <br/><br/>emco Bautechnik既是系统提供商，也是问题解决者。我们的目标是在任何情况下提供完全正确的产品意味着我们必须不断扩展和优化我们的产品组合，就像我们在过去50年和未来一样。
                                    <br/><br/>看看是什么让emco成为高品质品牌产品的杰出供应商和找出驱动我们的动力！
                                </p>
                                <a href="#youtube-ruOkuaw5V6s" class="btn btn-default t3colorbox-youtube hidden-xs" title="Watch the video now">
                                    <span>立即观看视频</span></a>
                                <div style="display: none;">
                                    <div id="youtube-ruOkuaw5V6s">
                                        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/ruOkuaw5V6s?rel=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="darkcolor-banner ">
            <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
                <source src="__STATIC__/index/fileadmin/user_upload/Startseite/16_03_22_Hintergrund_Markenfilm.mp4" type="video/mp4">
            </video>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco Bau: 看看是什么驱使我们!</h1>
                                <h2>入口垫, 地毯垫, 游泳池栅格</h2>
                                <p class="bodytext">高质量的入口垫系统，地毯垫和游泳池格栅 - 由我们位于德国林根的全球总部提供给全球各地。我们使用选定的材料和精密工艺创造出色的产品，以满足客户要求的最高质量标准。
                                    <br/><br/>emco Bautechnik既是系统提供商，也是问题解决者。我们的目标是在任何情况下提供完全正确的产品意味着我们必须不断扩展和优化我们的产品组合，就像我们在过去50年和未来一样。
                                    <br/><br/>看看是什么让emco成为高品质品牌产品的杰出供应商和找出驱动我们的动力！
                                </p>
                                <a href="#youtube-ruOkuaw5V6s" class="btn btn-default t3colorbox-youtube hidden-xs" title="Watch the video now">
                                    <span>立即观看视频</span></a>
                                <div style="display: none;">
                                    <div id="youtube-ruOkuaw5V6s">
                                        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/ruOkuaw5V6s?rel=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c1037" class="csc-default">
            <div class="szComdbproductTeaser">
                <section class="lightcolor-banner "><img
                        title="Entrance mats from emco the right system for every application"
                        alt="Entrance mats from emco the right system for every application"
                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/funktionale-und-hochwertige-eingangsmatten-von-emco.jpg"
                        width="1280" height="620"/>
                    <div class="caption-holder">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="caption"><h1>来自 emco入口垫</h1>
                                        <h2>适用于各种应用的正确系统</h2>
                                        <p class="bodytext">
                                            除了多年来建立的顶级质量标准外，emco还提供创新的定制解决方案：功能强大且个性化，具有“德国制造”的专业知识。
                                        </p>
                                        <p class="bodytext">
                                            我们系统的高质量，可定制设计适合您的项目。在emco，您可以找到适合任何情况的正确入口垫系统，无论多么具有挑战性。
                                        </p>
                                        <p class="bodytext">
                                            受到启发 - 并利用我们不妥协的服务：保证与emco的入口垫。
                                        </p>
                                        <a href="{:url('index/entrance_mats')}" class='btn btn-default'>
                                            <span>更多关于入口垫</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="c1038" class="csc-default">
            <div class="szComdbproductSlider" data-title="Last seen" data-detailpid="205"></div>
        </div>
        <div id="c3926" class="csc-default">
            <section class="darkcolor-banner ">
                <img title="Entrance mats with tradition" alt="High quality and safe: for over 50 years"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/emco-Entrance-mats-with-tradition_EN.jpg" width="1280" height="540"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="caption"><h1>入口垫与传统</h1>
                                    <h2>高品质和安全：50多年</h2>
                                    <p class="bodytext">
                                        50多年来，emco一直致力于为商业建筑开发和生产定制的入口消光系统。该公司的高质量和安全标准使emco成为德国市场的领导者和世界上最畅销的供应商。
                                    </p>
                                    <p class="bodytext">
                                        除了先进的入口垫系统，清洁地板覆盖物和地毯垫外，产品系列还包括用于游泳池和管道应用的高质量炉排。
                                    </p>
                                    <p class="bodytext">
                                        emco也有优质服务的传统：我们从一开始就为世界各地的客户提供最佳产品选择方面的建议，我们也可以在安装后使用专业知识和专业设备。质量传统 - 与emco！
                                    </p></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="c1044" class="csc-default">
            <div class="tx-sz-contactfinder">
                <div class="szCfMapTeaser szCfTriggerUpdate szCfTriggerInit" id="szCf-1044" data-storage="72"
                     data-geolocation="1" data-search="zip" data-transnational="0" data-sortby="" data-map="1"
                     data-maptype="dynamic" data-latitude="" data-longitude="">
                    <section class="map-holder">
                        <div class="map" data-center='[50.9399523,6.9624988]' data-zoom='15'></div>
                        <div class="infowindow-holder" style="display: none;">
                            <address><strong></strong>
                                <p class="link-holder"></p></address>
                        </div>
                        <div class="search-holder">
                            <h2>找到你的联系人</h2>
                            <p>找到您所在地区的合适联系人！</p>
                            <form name="filter" class="szCfSearchform"
                                  action="designing-clean-entrances.html"
                                  method="post">
                                <div><input type="hidden" name="tx_szcontactfinder_flyout[__referrer][@extension]" value="SzContactfinder"/>
                                    <input type="hidden" name="tx_szcontactfinder_flyout[__referrer][@vendor]" value="Sunzinet"/>
                                    <input type="hidden" name="tx_szcontactfinder_flyout[__referrer][@controller]" value="Contact"/>
                                    <input type="hidden" name="tx_szcontactfinder_flyout[__referrer][@action]" value="teaser"/>
                                    <input type="hidden" name="tx_szcontactfinder_flyout[__referrer][arguments]" value="YTowOnt992d941e392ee730a9873a61b27721f5daf9e87db"/>
                                    <input type="hidden" name="tx_szcontactfinder_flyout[__referrer][@request]" value="a:4:{s:10:&quot;@extension&quot;;s:15:&quot;SzContactfinder&quot;;s:11:&quot;@controller&quot;;s:7:&quot;Contact&quot;;s:7:&quot;@action&quot;;s:6:&quot;teaser&quot;;s:7:&quot;@vendor&quot;;s:8:&quot;Sunzinet&quot;;}924c8363de4b6727a74a414cb6e8598cb1000068"/><input
                                        type="hidden" name="tx_szcontactfinder_flyout[__trustedProperties]"
                                        value="a:1:{s:6:&quot;filter&quot;;a:10:{s:10:&quot;storagePid&quot;;i:1;s:16:&quot;searchStoragePid&quot;;i:1;s:3:&quot;zip&quot;;i:1;s:3:&quot;lat&quot;;i:1;s:3:&quot;lng&quot;;i:1;s:7:&quot;country&quot;;i:1;s:7:&quot;contact&quot;;i:1;s:6:&quot;search&quot;;i:1;s:13:&quot;transnational&quot;;i:1;s:10:&quot;searchTerm&quot;;i:1;}}8943116c0a09eaafe29a3e291698206cbf1fc022"/>
                                </div>
                                <input type="hidden" name="tx_szcontactfinder_flyout[filter][storagePid]" value="72"/>
                                <input type="hidden" name="tx_szcontactfinder_flyout[filter][searchStoragePid]" value=""/>
                                <input class="szCfZip" type="hidden" name="tx_szcontactfinder_flyout[filter][zip]" value=""/>
                                <input class="szCfLat" type="hidden" name="tx_szcontactfinder_flyout[filter][lat]" value=""/>
                                <input class="szCfLng" type="hidden" name="tx_szcontactfinder_flyout[filter][lng]" value=""/>
                                <input class="szCfCountry" type="hidden" name="tx_szcontactfinder_flyout[filter][country]" value=""/>
                                <input class="szCfContact" type="hidden" name="tx_szcontactfinder_flyout[filter][contact]" value=""/>
                                <input type="hidden" name="tx_szcontactfinder_flyout[filter][search]" value="zip"/>
                                <input type="hidden" name="tx_szcontactfinder_flyout[filter][transnational]" value="0"/>
                                <div class="form-group">
                                    <input placeholder="Enter zip / city..." class="form-control szCfAutocomplete" type="text" name="tx_szcontactfinder_flyout[filter][searchTerm]"/>
                                    <a class="input-group-addon szCfGeolocation" title="Find location"></a></div>
                                <div class="form-group">
                                    <select name="filter[category]" class="form-control szCfCategory" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                    <option selected="selected">选择专家级别...</option>
                                        {volist name="zhuan" id="vo" }
                                    <option value="{$vo.id}" data-teaser="">{$vo.title}</option>
                                        {/volist}
                                </select></div>
                            </form>
                            <div class="results-holder"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        -->
        <section class="darkcolor-banner ">
            <img src="__STATIC__/index/fileadmin/user_upload/Startseite/iconset.png" width="1280" height="164" alt=""/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--TYPO3SEARCH_end-->
    </div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}
         </div>
    </div>

{include file="public/footer" /}

</body>
</html>