{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a>
                        </li>
                        <li><a href="{:url('index/architects')}">能力</a>
                        </li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/entrance_mats')}">入口垫</a></li>
                        <li class="last active"><span>INOX</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="lightcolor-banner ">
        <img title="emco INOX高品质不锈钢型材" alt="入口垫配件emco INOX"
                                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/emco-inox-zubehoer-eingangsmatten.png"
                                             width="1280" height="540">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO&nbsp; </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup></span>
                        </h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">增强入口垫的元素</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">随着EMCO </font></font><span
                                    style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font></span><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">你可以利用你的品牌和消息从未被使用过的空间。</font><font
                                    style="vertical-align: inherit;">这些个性化元素经过加工处理，具有高品质和弹性，使您的入口垫具有最后的触感。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">你没有第二次机会给人留下第一印象。</font><font
                                    style="vertical-align: inherit;">选择个性化的EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">不锈钢型材做出完美的广告媒介出高品质的入口地垫的。</font></font>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">emcoINOX®//在您的入口垫上发布广告信息</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="darkcolor-banner "><img title="配置文件演示文稿emco INOX" alt="在入口垫emco INOX上刻字"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/vielfalt-emco-inox.png"
                                            width="1280" height="540">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">品种：典型的emco！</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">许多垫，各种颜色的//
                                EMCO </font></font><span style="font-weight: bold; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup> <br></span></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">该EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">不锈钢型材可以个性化，是对我们的高端外交官，参议员系统的各种安装高度可用。</font><font
                                    style="vertical-align: inherit;">EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">是因此简单，易于集成到您的入口地垫系统。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">最好的：激光切割的形状可以用很多不同的颜色突出显示，因此显示出更好的优势。</font><font
                                    style="vertical-align: inherit;">结合您入口垫中的高品质彩色镶嵌物，您可以创造出从谨慎到挑战的惊人设计。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">点睛之笔一个完美的入口：目前徽标和口号与EMCO </font></font><span
                                    style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span></p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">适用于各种应用的理想解决方案//emcoINOX®</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="lightcolor-banner ">
        <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
            <source src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/emco-INOX.mp4"
                    type="video/mp4">
        </video>
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">复杂但坚韧</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">激光切割钢材，效果极佳。</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们生产的EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">来衡量！</font><font style="vertical-align: inherit;">我们用激光切割耐用铬镍钢的字母和标识，精确到毫米。</font><font
                                    style="vertical-align: inherit;">我们通过增加弹性和耐用性的元素来增强轮廓。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">所以，你的个人EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">INOX </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup></span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">被完美地保护从凹痕。</font></font></p><a
                                    href="#youtube-ZzeE27t-ANo"
                                    class="btn btn-default t3colorbox-youtube hidden-xs cboxElement"
                                    title="立即观看视频"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> 立即观看视频 </font></font></span></a>
                            <div style="display: none;">
                                <div id="youtube-ZzeE27t-ANo">
                                    <iframe width="640" height="360"
                                            src="https://www.youtube-nocookie.com/embed/ZzeE27t-ANo?rel=0"
                                            frameborder="0" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-posts ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><a href="en/products/entrance-mats/detail.html"><img
                    title="INOX Lineo纤细文字入口垫" alt="入口垫上的长广告"
                    src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/inox-lineo-emco.jpg"
                    width="524" height="524"></a></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <article class="post">
                    <div class="text-block"><h2></h2>
                        <h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO&nbsp; </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lineo公司</font></font></span>
                        </h1>
                        <h2><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">用于消息的细长基本元素</font></font></h2>
                        <p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">水平设计和消息可以完美使用EMCO连通</font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lineo公司</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font><font
                                style="vertical-align: inherit;">基本组件可以轻松地将几个单词甚至整个句子放在入口垫上。</font></font></p>
                        <p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lineo公司</font></font></span><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">是在水平简报格式的完美解决方案。</font><font
                                style="vertical-align: inherit;">广告上的入口地垫：与EMCO很简单</font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lineo公司</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font></font>
                        </p>
                        <a href="{:url('index/entrance_mats')}"
                           class="btn btn-default product-link"><span><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">其他产品信息</font></font></span></a></div>
                </article>
            </div>
        </div>
    </section>
    <section class="blog-posts ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-push-6 col-sm-12 col-xs-12"><img title="入口垫上的INOX Quadro大型广告"
                                                                                  alt="入口垫上的标识大"
                                                                                  src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/INOX/emco-inox-quadro.png"
                                                                                  width="524" height="524"></div>
            <div class="col-lg-6 col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
                <article class="post">
                    <div class="text-block"><h2></h2>
                        <h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO&nbsp; </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">的Quadro</font></font></span></h1>
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">扩大的徽标区域</font></font>
                        </h2>
                        <p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">你想要多一点吗？</font><font style="vertical-align: inherit;">EMCO </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">的Quadro</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">提供额外的空间：EMCO的矩形表面区域</font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">的Quadro</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">是谁也无法满足他们的标志上的EMCO任何一家公司的完美解决方案</font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lineo公司</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font></font>
                        </p>
                        <p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">其优点是：EMCO </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">的Quadro</font></font></span><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">还为您提供了突出的形象和扩大各区域用不同颜色的机会。</font><font
                                style="vertical-align: inherit;">您的设计以引人注目的方式呈现。</font></font></p>
                        <p class="bodytext"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO </font></font><span
                                style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">INOX </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">的Quadro</font></font></span><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">：完美的人谁需要更多的空间！</font></font></p></div>
                </article>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>

    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">


            {include file="public/menu" /}

        </div>
    </div>
 {include file="public/footer" /}
</body>
</html>