{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/architects')}">顾客</a></li>
                        <li><a href="{:url('index/building_contractors')}">建筑承包商</a></li>
                        <li class="last active"><span>翻新，翻新，现代化</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="darkcolor-banner ">
        <img title="Erneuern Sie Ihren Eingangsbereich  -  mit emco！"
            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Sanieren-Renovieren-Modernisieren/emco-bau-Sanieren-Renovieren-mehr-erfolg-in-neuem-Ambiente.png"
             width="1280" height="540" alt="">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">第一印象很重要</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">你的入口区，你的电话卡</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">一个不整洁的入口区可能会让你看起来不专业。</font><font
                                    style="vertical-align: inherit;">翻新和现代化您的入口区域，您的客户和员工将在他们的环境中感到更快乐 -
                                创造一个更成功的工作环境。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">
                                从对垫子的全面翻新和复兴到更换单独的带肋地毯插件，emco清洁系统为任何翻新项目提供了正确的解决方案。 </font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> 发现可能性！</font></font></p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="修剪您的入口区域"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Sanieren-Renovieren-Modernisieren/emco-bau-Sanieren-Renovieren-Sanieren-einmal-richtig-machen.png"
                                            width="2560" height="1080" alt="">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">对于完美主义者：</font></font></h1>
                            <h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">第一次就把它弄好</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">翻新入口区域既实用又经济 - 并且允许您创建功能性，美观且符合您要求的东西。</font><font
                                    style="vertical-align: inherit;">emco清洁系统可防止污垢和湿气进入建筑物内部，保持专业形象并保护您的内部装饰。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">
                                由于有许多组合选项，emco入口垫完全符合您的要求，可以容纳徽标和特定颜色。 </font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们在建筑解决方案方面的专业知识意味着我们可以为您提供规划项目所需的所有信息和联系方式。</font></font>
                            </p><a href="{:url('index/architects')}" title="更多信息" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">给专家</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="体验新的emco入口垫的效果"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Sanieren-Renovieren-Modernisieren/emco-bau-Sanieren-Renovieren-modernisieren-kosten-sparen.png"
                                            width="2560" height="1080" alt="">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">对于实用主义者： </font></font></h1>
                            <h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">使用新垫子可节省成本</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">污垢落入垫子型材之间的空间并且水分被捕获。</font><font
                                    style="vertical-align: inherit;">emco入口垫可以卷起来，可以很容易地从垫子上清除污垢，从而防止下一个访客跟踪它。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">照顾emco入口垫很容易。</font><font
                                    style="vertical-align: inherit;">节省90％以上的清洁时间和相关成本。</font></font></p><a
                                    href="{:url('index/entrance_mats_range')}"
                                    title="我们的入口垫系列" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">到入口垫</font></font></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="最快，最具成本效益的解决方案！"
                                           src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Kunden/Sanieren-Renovieren-Modernisieren/emco-bau-renovieren-effektiv-durch-ripswechsel.png"
                                            width="1280" height="540" alt="">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">对于最后一刻类型：</font></font></h1>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">带肋地毯插入物提供有效的解决方案</font></font>
                            </h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">随着时间的推移，香烟，口香糖，油迹和磨损痕迹的灼伤会导致任何入口垫变得不那么有效，使您的入口区域看起来疲惫不堪。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> emco的罗纹地毯更换服务提供了最快，最具成本效益的方式，使您的入口垫恢复昔日的辉煌。</font></font>
                            </p><a href="{:url('index/entrance_mats_service')}"
                                   title="联系我们的入口垫服务" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">到入口垫服务</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder" id="c6300">
        <div class="container">
            <div class="posts">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="c6299" class="csc-default"><h1 class="align-center"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">您可以在我们的宣传册中找到更多有关新设计的灵感和信息来源：</font></font>
                        </h1>
                            <p class="align-center"><a href="__STAIIC__/index/fileadmin/user_upload/Broschueren/Renovierung_low.pdf"
                                                       title="下载PDF" target="_blank" class="btn-download"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">立即下载PDF！</font></font></span></a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="c6301" class="csc-default">
        <section class="darkcolor-banner "><img
               src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Eingangsmatten-Zubehoer/emco-zubehoer-eingangsmatten.png"
                width="2560" height="900" alt="">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">入口垫配件</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附加功能 -
                                    更多设计</font></font></h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">使用emco的创新理念，保证建筑物内的清洁度和安全性，或引起对入口区域的注意，或通过视觉亮点展示道路。 </font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在用emco的功能和设计元素增强您的入口垫系统！</font></font></p><a
                                        href="{:url('index/entrance_mat_accessories')}"
                                        title="现在发现扩展" class="btn btn-default"><span><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">现在发现扩展</font></font></span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
             {include file="public/menu" /}
        </div>
    </div>
  {include file="public/footer" /}
</body>
</html>