{include file="public/header" /}

<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                        <li><a href="{:url('index/entrance_mats_service')}">服务</a>
                        </li>
                        <li class="last active"><span>订购信息材料</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="posts-holder" id="c1421">
        <div class="container">
            <div class="posts">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-left">
                            <div id="c1420" class="csc-default">
                                <div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">订购我们的目录</h1></div>
                                <div class="tx-powermail" id="form5" data-title="">

                                    <!-- 跳转地址 -->
                                    <div class="powermail_create" data-powermail-form="5" style="display:none;">
                                        <p class="bodytext">谢谢您的订单。</p>
                                        <p class="bodytext"><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">您有关于emco Bau产品的问题吗？</font></font>
                                        </p>
                                        <p class="bodytext"><span style="font-weight: bold; "><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco Bau- und Klimatechnik GmbH＆Co。KG </font></font></span><br><span
                                                style="line-height: 1.42857; "><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Breslauer Str。</font><font
                                                style="vertical-align: inherit;">34-38 </font></font><br></span><span
                                                style="line-height: 1.42857; "><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">49808 Lingen（Ems）</font></font></span>
                                        </p>
                                        <p class="bodytext"><span style="line-height: 1.42857; "><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">电话：+49 591/91 40 0 </font></font><br></span><span
                                                style="line-height: 1.42857; "><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">传真：+49 5917/91 40 852</font></font></span>
                                        </p>
                                        <p class="bodytext"><span style="line-height: 1.42857; "><a
                                                href="javascript:linkTo_UnCryptMailto('nbjmup+cbvAfndp/ef');"><span><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">bau </font></font><span
                                                style="display: none;"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">没有垃圾邮件</font></font></span><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">@ emco.de</font></font></span></a></span>
                                        </p>
                                        <p class="bodytext">&nbsp;</p>
                                        <p class="bodytext">&nbsp;</p>
                                    </div>


                                    <div class="contactus-holder">
                                        <form data-parsley-validate="data-parsley-validate" data-validate="html5"
                                              data-powermail-ajax="true" data-powermail-form="5"
                                              enctype="multipart/form-data" name="field"
                                              class="contact-form powermail_form powermail_form_5 " id="catalogue"
                                              action="{:url('index/order_contact')}" method="post">
                                            <!--
                                             <div>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][@extension]" value="Powermail"/>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][@vendor]" value="In2code"/>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][@controller]" value="Form"/>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][@action]" value="form"/>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][arguments]" value="YTowOnt992d941e392ee730a9873a61b27721f5daf9e87db"/>
                                                 <input type="hidden" name="tx_powermail_pi1[__referrer][@request]"
                                                     value="a:4:{s:10:&quot;@extension&quot;;s:9:&quot;Powermail&quot;;s:11:&quot;@controller&quot;;s:4:&quot;Form&quot;;s:7:&quot;@action&quot;;s:4:&quot;form&quot;;s:7:&quot;@vendor&quot;;s:7:&quot;In2code&quot;;}a8502f07f35aaba3ccfaec2eef369c66855bacfd"/><input
                                                     type="hidden" name="tx_powermail_pi1[__trustedProperties]"
                                                     value="a:2:{s:5:&quot;field&quot;;a:13:{s:6:&quot;anrede&quot;;i:1;s:7:&quot;vorname&quot;;i:1;s:8:&quot;nachname&quot;;i:1;s:5:&quot;firma&quot;;i:1;s:5:&quot;strae&quot;;i:1;s:2:&quot;nr&quot;;i:1;s:3:&quot;plz&quot;;i:1;s:3:&quot;ort&quot;;i:1;s:6:&quot;e_mail&quot;;i:1;s:7:&quot;telefon&quot;;i:1;s:6:&quot;marker&quot;;a:6:{i:0;i:1;i:1;i:1;i:2;i:1;i:3;i:1;i:4;i:1;i:5;i:1;}s:11:&quot;datenschutz&quot;;a:1:{i:0;i:1;}s:4:&quot;__hp&quot;;i:1;}s:4:&quot;mail&quot;;a:1:{s:4:&quot;form&quot;;i:1;}}696a564944a5f00bafbb875997db5f388cb52257"/>
                                             </div>
                                              -->
                                            <div class="form-holder ">
                                                <fieldset class="powermail_fieldset powermail_fieldset_7 ">
                                                    <div id="powermail_fieldwrap_55"
                                                         class="checkbox-holder powermail_fieldwrap powermail_fieldwrap_radio powermail_fieldwrap_55 ">
                                                        <fieldset><span class="label-title">地址形式</span>
                                                            <div class="powermail_radio_outer ">
                                                                <div class="radio-inline powermail_radio_inner powermail_radio_inner_1">
                                                                    <input data-parsley-errors-container=".powermail_field_error_container_anrede"
                                                                           data-parsley-class-handler=".powermail_fieldwrap_55 div:first"
                                                                           class="powermail_radio"
                                                                           id="powermail_field_anrede_2"
                                                                           type="radio"
                                                                           name="tx_powermail_pi1field"
                                                                           value="1"/><label
                                                                        for="powermail_field_anrede_1">太太.</label>
                                                                </div>
                                                                <div class="radio-inline powermail_radio_inner powermail_radio_inner_2">
                                                                    <input class="powermail_radio"
                                                                           id="powermail_field_anrede_1"
                                                                           type="radio"
                                                                           name="tx_powermail_pi1field"
                                                                           value="2"/><label
                                                                        for="powermail_field_anrede_2">先生.</label>
                                                                </div>
                                                                <div class="powermail_field_error_container powermail_field_error_container_anrede"></div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div id="powermail_fieldwrap_56"
                                                         class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_56 ">
                                                        <input required="required"
                                                               data-parsley-required-message="请填写这个字段"
                                                               data-parsley-trigger="change" placeholder="名字 *"
                                                               class="form-control powermail_field powermail_input "
                                                               id="powermail_field_vorname" type="text"
                                                               name="tx_powermail_pi1[field][vorname]" value=""/>
                                                    </div>
                                                    <!-- 注释
                                                    <div id="powermail_fieldwrap_57"
                                                         class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_57 ">
                                                        <input required="required" data-parsley-required-message="请填写这个字段" data-parsley-trigger="change"
                                                               placeholder="姓氏 *" class="form-control powermail_field powermail_input " id="powermail_field_nachname" type="text"
                                                               name="tx_powermail_pi1[field][nachname]" value=""/>
                                                    </div>
                                                    -->
                                                    <div id="powermail_fieldwrap_58"
                                                         class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_58 ">
                                                        <input placeholder="单位"
                                                               class="form-control powermail_field powermail_input "
                                                               id="powermail_field_firma" type="text"
                                                               name="tx_powermail_pi1_firma" value=""/>
                                                    </div>
                                                    <div class="fields-holder">
                                                        <div class="strabe-holder">
                                                            <div id="powermail_fieldwrap_59"
                                                                 class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_59 layout3">
                                                                <input required="required"
                                                                       data-parsley-required-message="请填写这个字段"
                                                                       data-parsley-trigger="change"
                                                                       placeholder="街道 *"
                                                                       class="form-control powermail_field powermail_input "
                                                                       id="powermail_field_strae" type="text"
                                                                       name="tx_powermail_pi1[field][strae]" value=""/>
                                                            </div>
                                                        </div>
                                                        <div class="hausnr-holder">
                                                            <div id="powermail_fieldwrap_60"
                                                                 class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_60 layout2">
                                                                <input required="required"
                                                                       data-parsley-required-message="请填写这个字段"
                                                                       data-parsley-trigger="change"
                                                                       placeholder="街道号. *"
                                                                       class="form-control powermail_field powermail_input "
                                                                       id="powermail_field_nr" type="text"
                                                                       name="tx_powermail_pi1[field][nr]" value=""/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-holder">
                                                        <div class="ort-holder">
                                                            <div id="powermail_fieldwrap_61"
                                                                 class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_61 layout1">
                                                                <input required="required"
                                                                       data-parsley-required-message="请填写这个字段"
                                                                       data-parsley-trigger="change"
                                                                       placeholder="邮政编码 *"
                                                                       class="form-control powermail_field powermail_input "
                                                                       id="powermail_field_plz" type="text"
                                                                       name="tx_powermail_pi1[field][plz]"
                                                                       value=""/></div>
                                                        </div>
                                                        <div class="plz-holder">
                                                            <div id="powermail_fieldwrap_62"
                                                                 class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_62 layout4">
                                                                <input required="required"
                                                                       data-parsley-required-message="请填写这个字段"
                                                                       data-parsley-trigger="change"
                                                                       placeholder="城市*"
                                                                       class="form-control powermail_field powermail_input "
                                                                       id="powermail_field_ort" type="text"
                                                                       name="tx_powermail_pi1[field][ort]"
                                                                       value=""/></div>
                                                        </div>
                                                    </div>
                                                    <div id="powermail_fieldwrap_63"
                                                         class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_63 ">
                                                        <input required="required"
                                                                data-parsley-error-message="请使用有效的电子邮件地址"
                                                               placeholder="邮箱*"
                                                               class="form-control powermail_field powermail_input "
                                                               id="powermail_field_e_mail" type="email"
                                                               name="tx_powermail_pi1[field][e_mail]" value=""/>
                                                    </div>
                                                    <div required="required" id="powermail_fieldwrap_64"
                                                         class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_64 ">
                                                        <input placeholder="电话号码. *"
                                                               class="form-control powermail_field powermail_input "
                                                               id="powermail_field_telefon" type="text"
                                                               name="tx_powermail_pi1[field][telefon]" value=""/>
                                                    </div>
                                                    <div id="powermail_fieldwrap_54"
                                                         class="powermail_fieldwrap powermail_fieldwrap_check powermail_fieldwrap_54 ">
                                                        <fieldset>
                                                            <div class="powermail_check_outer ">
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_1">
                                                                    <label for="powermail_field_marker_1">
                                                                        <input type="hidden"
                                                                               name="tx_powermail_pi1[field][marker]"
                                                                               value=""/>
                                                                        <input data-parsley-required-message="请至少填写其中一个字段"
                                                                               data-parsley-required="true"
                                                                               data-parsley-errors-container=".powermail_field_error_container_marker"
                                                                               data-parsley-class-handler=".powermail_fieldwrap_54 div:first"
                                                                               data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_1"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="Architects文件夹"/>Architects文件夹</label></div>
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_2">
                                                                    <label for="powermail_field_marker_2">
                                                                        <input data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_2"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="入口垫系统"/>入口垫系统</label>
                                                                </div>
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_3">
                                                                    <label for="powermail_field_marker_3">
                                                                        <input data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_3"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="emco清理"/>emco清理</label>
                                                                </div>
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_4">
                                                                    <label for="powermail_field_marker_4">
                                                                        <input data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_4"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="地毯垫"/>地毯垫</label>
                                                                </div>
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_5">
                                                                    <label for="powermail_field_marker_5">
                                                                        <input data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_5"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="游泳池栅格"/>游泳池栅格</label>
                                                                </div>
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_6">
                                                                    <label for="powermail_field_marker_6">
                                                                        <input data-parsley-multiple="marker"
                                                                               class="powermail_checkbox powermail_checkbox_54"
                                                                               id="powermail_field_marker_6"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1_field_marker[]"
                                                                               value="滚动和线性网格"/>滚动和线性网格</label>
                                                                </div>
                                                                <!--<div class="powermail_field_error_container powermail_field_error_container_marker">滚动和线性网格</div>-->
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div id="powermail_fieldwrap_4551"
                                                         class="powermail_fieldwrap powermail_fieldwrap_content powermail_fieldwrap_4551 ">
                                                        <div id="c7102" class="csc-default">
                                                            <div class="csc-header csc-header-n1">
                                                                <h3 class="csc-firstHeader">根据欧盟GDPR第6条和第7条要求接受隐私政策</h3>
                                                            </div>
                                                            <p class="bodytext">
                                                                您提供的信息始终是自愿的。您可以随时向
                                                                <a href="javascript:linkTo_UnCryptMailto('nbjmup+ebufotdivuaAfndp/ef');"
                                                                   class="mail">
                                                                    <span>datenschutz<span
                                                                            style="display: none;">noSpam</span>@emco.de</span>
                                                                </a>发送消息以撤销您的同意 。
                                                            </p>
                                                            <p class="bodytext">您的数据将仅根据公布的目的进行处理，不会被修改或传递给第三方。<br/>
                                                                请阅读我们的<a href="{:url('index/private_policy')}"
                                                                         target="_blank" class="internal-link">
                                                                    <span>隐私声明</span></a>了解更多详情.</p></div>
                                                    </div>
                                                    <div id="powermail_fieldwrap_4552"
                                                         class="powermail_fieldwrap powermail_fieldwrap_check powermail_fieldwrap_4552 ">
                                                        <fieldset>
                                                            <div class="powermail_check_outer ">
                                                                <div class="checkbox powermail_check_inner powermail_check_inner_1">
                                                                    <label for="powermail_field_datenschutz_1">
                                                                        <input type="hidden"
                                                                               name="tx_powermail_pi1[field][datenschutz]"
                                                                               value=""/>
                                                                        <input data-parsley-errors-container=".powermail_field_error_container_datenschutz"
                                                                               data-parsley-class-handler=".powermail_fieldwrap_4552 div:first"
                                                                               class="powermail_checkbox powermail_checkbox_4552"
                                                                               id="powermail_field_datenschutz_1"
                                                                               type="checkbox"
                                                                               name="tx_powermail_pi1[field][datenschutz][]"
                                                                               value=""/>
                                                                        我已阅读隐私声明并同意处理这些数据以处理我的查询。
                                                                    </label></div>
                                                                <div class="powermail_field_error_container powermail_field_error_container_datenschutz"></div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div id="powermail_fieldwrap_65"
                                                         class="powermail_fieldwrap powermail_fieldwrap_submit powermail_fieldwrap_65 ">
                                                        <button class="powermail_field powermail_submit btn btn-default pull-right"
                                                                type="submit" name="" value=""><span>发送</span>
                                                        </button>
                                                    </div>
                                                </fieldset>
                                                <input class="powermail_form_uid" type="hidden"
                                                       name="tx_powermail_pi1[mail][form]" value="5"/>
                                                <div style="margin-left: -99999px; position: absolute;"><label
                                                        for="powermail_hp_5">Don't fill this field!</label><input
                                                        autocomplete="off" id="powermail_hp_5" type="text"
                                                        name="tx_powermail_pi1[field][__hp]" value=""/></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="hidden" style="display: none;">
                                        <input type="hidden" id="powermailLanguage" value="1"/>
                                        <input type="hidden" id="powermailPid" value="1031"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-right">
                            <div id="c2889" class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="2">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img src="__STATIC__/index/fileadmin/_processed_/csm_emco-Kataloge-bestellen_5f15dd5b19.jpg"
                                                         width="600" height="507" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>
<div id="c2906" class="csc-default">
    <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
         data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
         data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

        {include file="public/menu" /}
    </div>
</div>
{include file="public/footer" /}
<script>
    $("div#powermail_fieldwrap_65 button").click(function () {
        console.log(111);
        var sex = $("input[type='radio']:checked").val();
        var names = $("#powermail_field_vorname").val();
        var danwei = $("#powermail_field_firma").val();
        var street = $("#powermail_field_strae").val();
        var street_no = $("#powermail_field_nr").val();
        var zip_code = $("#powermail_field_plz").val();
        var city = $("#powermail_field_ort").val();
        var tel = $("#powermail_field_telefon").val();
        var email = $("#powermail_field_e_mail").val();
        var content = $("input[type='checkbox']:checked").val([]);
        var ss = "";
        for (var i = 0; i <=5; i++) {
            ss += content[i].value + ",";
        }
        $.ajax({
            url: "{:url('index/order_contact')}",
            type: 'post',
            data: {
                sex: sex, names: names,
                danwei: danwei, street: street,
                street_no: street_no, zip_code: zip_code,
                city: city, tel: tel, email: email,
                ss: ss
            },
            success: function (res) {
               if(res.code == 200){
                   $("div#form5 .powermail_create").show();
                   $("div#form5 .contactus-holder").hide();
                   return false;
               }else{
                   $("div#form5 .powermail_create").show();
                   $("div#form5 .powermail_create").find('p:eq(0)').html('提交失败,有关问题请按照下面方式询问!');
                   $("div#form5 .contactus-holder").hide();
               }
            }
        });
    });

</script>


</body>
</html>