{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>You are here</span></li>
                            <li class="first"><a href="designing-clean-entrances.html">emco bau</a></li>
                            <li class="last active"><span>press contact</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="posts-holder" id="c2884">
            <div class="container">
                <div class="posts">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-left">
                                <div id="c2881" class="csc-default">
                                    <div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">Contact us!</h2>
                                    </div>
                                    <p class="bodytext"><span style="line-height: 1.42857;">Thanks for being interested in emco. We are here to serve you and answer your questions.</span>
                                    </p>
                                    <p class="bodytext">&nbsp;</p>
                                    <p class="bodytext">&nbsp;</p></div>
                                <ul class="social-networks">
                                    <li><a href="https://www.facebook.com/" target="_blank" class="icon-facebook"
                                           title="Facebook"></a></li>
                                    <li><a href="https://twitter.com/" target="_blank" class="icon-twitter"
                                           title="Twitter"></a></li>
                                    <li><a href="https://www.youtube.com/" target="_blank" class="icon-youtube"
                                           title="Folgen Sie uns auf Youtube"></a></li>
                                    <li><a href="https://www.xing.com/" target="_blank" class="icon-xing"
                                           title="Xing"></a></li>
                                </ul>
                                <div id="c2882" class="csc-default"><p class="bodytext"><span
                                        style="font-size: 26px; line-height: 29px;">press contact</span></p>
                                    <p class="bodytext">Die Agentur - Kommunikations-Management Schellhorn<br/><span
                                            style="line-height: 1.42857; ">Postfach 100112<br/></span><span
                                            style="line-height: 1.42857; ">45712 Haltern am See</span></p>
                                    <p class="bodytext">Fon: +49 23 64 / 10 81 99<br/><span
                                            style="line-height: 1.42857; ">Fax: +49 23 64 / 28 77</span></p>
                                    <p class="bodytext"><a
                                            href="javascript:linkTo_UnCryptMailto('nbjmup+fndpAejf.bhfouvs/ti');"
                                            title="Ihre Presseanfrage an emco" class="mail"><span>emco<span
                                            style="display: none;">noSpam</span>@die-agentur.sh</span></a></p>
                                    <p class="bodytext">&nbsp;</p>
                                    <h2>your company contact</h2>
                                    <p class="bodytext">Wilhelm Warren</p>
                                    <p class="bodytext">Fon: +49 591 / 9140 193<br/><span style="line-height: 1.42857;">Fax: +49 591 / 9140 94193</span>
                                    </p>
                                    <p class="bodytext"><a
                                            href="javascript:linkTo_UnCryptMailto('nbjmup+x/xbssfoAfndp/ef');"
                                            title="Ihre Presseanfrage" class="mail"><span>w.warren<span
                                            style="display: none;">noSpam</span>@emco.de</span></a></p>
                                    <p class="bodytext">&nbsp;<span style="line-height: 1.42857;">&nbsp;</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-right">
                                <div id="c2879" class="csc-default">
                                    <div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">Leave a
                                        message</h2></div>
                                </div>
                                <div id="c2880" class="csc-default">
                                    <div class="tx-powermail" id="form1" data-title="">
                                        <div class="contactus-holder">
                                            <form data-parsley-validate="data-parsley-validate" data-validate="html5"
                                                  data-powermail-ajax="true" data-powermail-form="1"
                                                  enctype="multipart/form-data" name="field"
                                                  class="contact-form powermail_form powermail_form_1 "
                                                  id="Kontaktformular"
                                                  action="en/nc/service/press-contact.html?tx_powermail_pi1%5Baction%5D=create&amp;tx_powermail_pi1%5Bcontroller%5D=Form"
                                                  method="post">
                                                <div><input type="hidden"
                                                            name="tx_powermail_pi1[__referrer][@extension]"
                                                            value="Powermail"/><input type="hidden"
                                                                                      name="tx_powermail_pi1[__referrer][@vendor]"
                                                                                      value="In2code"/><input
                                                        type="hidden" name="tx_powermail_pi1[__referrer][@controller]"
                                                        value="Form"/><input type="hidden"
                                                                             name="tx_powermail_pi1[__referrer][@action]"
                                                                             value="form"/><input type="hidden"
                                                                                                  name="tx_powermail_pi1[__referrer][arguments]"
                                                                                                  value="YTowOnt992d941e392ee730a9873a61b27721f5daf9e87db"/><input
                                                        type="hidden" name="tx_powermail_pi1[__referrer][@request]"
                                                        value="a:4:{s:10:&quot;@extension&quot;;s:9:&quot;Powermail&quot;;s:11:&quot;@controller&quot;;s:4:&quot;Form&quot;;s:7:&quot;@action&quot;;s:4:&quot;form&quot;;s:7:&quot;@vendor&quot;;s:7:&quot;In2code&quot;;}a8502f07f35aaba3ccfaec2eef369c66855bacfd"/><input
                                                        type="hidden" name="tx_powermail_pi1[__trustedProperties]"
                                                        value="a:2:{s:5:&quot;field&quot;;a:13:{s:6:&quot;anrede&quot;;i:1;s:4:&quot;name&quot;;i:1;s:8:&quot;nachname&quot;;i:1;s:5:&quot;strae&quot;;i:1;s:2:&quot;nr&quot;;i:1;s:3:&quot;plz&quot;;i:1;s:3:&quot;ort&quot;;i:1;s:4:&quot;land&quot;;i:1;s:6:&quot;e_mail&quot;;i:1;s:7:&quot;telefon&quot;;i:1;s:9:&quot;nachricht&quot;;i:1;s:11:&quot;datenschutz&quot;;a:1:{i:0;i:1;}s:4:&quot;__hp&quot;;i:1;}s:4:&quot;mail&quot;;a:1:{s:4:&quot;form&quot;;i:1;}}22e249522353d0698b5c6eb0f813d6ba8d2f693a"/>
                                                </div>
                                                <div class="form-holder ">
                                                    <fieldset class="powermail_fieldset powermail_fieldset_1 ">
                                                        <div id="powermail_fieldwrap_4431"
                                                             class="powermail_fieldwrap powermail_fieldwrap_typoscript powermail_fieldwrap_4431 ">
                                                            <div class="tx-sz-contactfinder">
                                                                <div class="szCfGeocheck szCfTriggerUpdate"
                                                                     id="szCf-4431" data-pid="99"><p>Help us find you
                                                                    the right right contact.</p>
                                                                    <div class="region-wrapper"><label>Your
                                                                        location</label>
                                                                        <div class="form-group"><a
                                                                                class="input-group-addon szCfGeolocation"
                                                                                title="Find location"></a><input
                                                                                value=""
                                                                                placeholder="Enter zip / city..."
                                                                                class="form-control szCfAutocomplete"
                                                                                type="text" required="required"
                                                                                name="tx_szcontactfinder_flyout[filter][searchTerm]"
                                                                                autocomplete="off"
                                                                                data-parsley-required-message="Please fill out this field"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="theme-wrapper"><label>Your theme</label>
                                                                        <div class="form-group"><select
                                                                                data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}"
                                                                                class="form-control szCfCategory"
                                                                                name="filter[category]">
                                                                            <option value="0">Select specialist category
                                                                                ...
                                                                            </option>
                                                                            <option value="1">Large-scale project
                                                                                consultation
                                                                            </option>
                                                                            <option value="2">Entrance mats</option>
                                                                            <option value="3">Carpet mats</option>
                                                                            <option value="4">Swimming pool grates
                                                                            </option>
                                                                        </select></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="form-hint">All fields marked * are required.</span>
                                                        <div id="powermail_fieldwrap_5"
                                                             class="checkbox-holder powermail_fieldwrap powermail_fieldwrap_radio powermail_fieldwrap_5 ">
                                                            <fieldset><span class="label-title">Form of address</span>
                                                                <div class="powermail_radio_outer ">
                                                                    <div class="radio-inline powermail_radio_inner powermail_radio_inner_1">
                                                                        <input data-parsley-errors-container=".powermail_field_error_container_anrede"
                                                                               data-parsley-class-handler=".powermail_fieldwrap_5 div:first"
                                                                               class="powermail_radio"
                                                                               id="powermail_field_anrede_1"
                                                                               type="radio"
                                                                               name="tx_powermail_pi1[field][anrede]"
                                                                               value=" Mrs."/><label
                                                                            for="powermail_field_anrede_1">Mrs.</label>
                                                                    </div>
                                                                    <div class="radio-inline powermail_radio_inner powermail_radio_inner_2">
                                                                        <input class="powermail_radio"
                                                                               id="powermail_field_anrede_2"
                                                                               type="radio"
                                                                               name="tx_powermail_pi1[field][anrede]"
                                                                               value="Mr."/><label
                                                                            for="powermail_field_anrede_2">Mr.</label>
                                                                    </div>
                                                                    <div class="powermail_field_error_container powermail_field_error_container_anrede"></div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div id="powermail_fieldwrap_1"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_1 ">
                                                            <input placeholder="First name"
                                                                   class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_name" type="text"
                                                                   name="tx_powermail_pi1[field][name]" value=""/></div>
                                                        <div id="powermail_fieldwrap_6"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_6 ">
                                                            <input placeholder="Last name"
                                                                   class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_nachname" type="text"
                                                                   name="tx_powermail_pi1[field][nachname]" value=""/>
                                                        </div>
                                                        <div class="fields-holder">
                                                            <div class="strabe-holder">
                                                                <div id="powermail_fieldwrap_7"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_7 layout3">
                                                                    <input placeholder="Street"
                                                                           class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_strae" type="text"
                                                                           name="tx_powermail_pi1[field][strae]"
                                                                           value=""/></div>
                                                            </div>
                                                            <div class="hausnr-holder">
                                                                <div id="powermail_fieldwrap_8"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_8 layout2">
                                                                    <input placeholder="No."
                                                                           class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_nr" type="text"
                                                                           name="tx_powermail_pi1[field][nr]" value=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fields-holder">
                                                            <div class="ort-holder">
                                                                <div id="powermail_fieldwrap_9"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_9 layout1">
                                                                    <input placeholder="zip code"
                                                                           class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_plz" type="text"
                                                                           name="tx_powermail_pi1[field][plz]"
                                                                           value=""/></div>
                                                            </div>
                                                            <div class="plz-holder">
                                                                <div id="powermail_fieldwrap_10"
                                                                     class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_10 layout4">
                                                                    <input placeholder="City"
                                                                           class="form-control powermail_field powermail_input "
                                                                           id="powermail_field_ort" type="text"
                                                                           name="tx_powermail_pi1[field][ort]"
                                                                           value=""/></div>
                                                            </div>
                                                        </div>
                                                        <div id="powermail_fieldwrap_11"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_11 ">
                                                            <input placeholder="Country"
                                                                   class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_land" type="text"
                                                                   name="tx_powermail_pi1[field][land]" value=""/></div>
                                                        <div id="powermail_fieldwrap_2"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_2 ">
                                                            <input required="required"
                                                                   data-parsley-required-message="Please fill out this field"
                                                                   data-parsley-trigger="change"
                                                                   data-parsley-error-message="Please use a valid email address"
                                                                   placeholder="Email *"
                                                                   class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_e_mail" type="email"
                                                                   name="tx_powermail_pi1[field][e_mail]" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_12"
                                                             class="form-group powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_12 ">
                                                            <input required="required"
                                                                   data-parsley-required-message="Please fill out this field"
                                                                   data-parsley-trigger="change" placeholder="Tel. *"
                                                                   class="form-control powermail_field powermail_input "
                                                                   id="powermail_field_telefon" type="text"
                                                                   name="tx_powermail_pi1[field][telefon]" value=""/>
                                                        </div>
                                                        <div id="powermail_fieldwrap_3"
                                                             class="form-group textarea-holder powermail_fieldwrap powermail_fieldwrap_textarea powermail_fieldwrap_3 ">
                                                            <textarea required="required"
                                                                      data-parsley-required-message="Please fill out this field"
                                                                      data-parsley-trigger="change" rows="5" cols="20"
                                                                      placeholder="Your message *"
                                                                      class="powermail_field powermail_textarea "
                                                                      id="powermail_field_nachricht"
                                                                      name="tx_powermail_pi1[field][nachricht]"></textarea>
                                                        </div>
                                                        <div id="powermail_fieldwrap_4518"
                                                             class="powermail_fieldwrap powermail_fieldwrap_check powermail_fieldwrap_4518 ">
                                                            <fieldset>
                                                                <div class="powermail_check_outer ">
                                                                    <div class="checkbox powermail_check_inner powermail_check_inner_1">
                                                                        <label for="powermail_field_datenschutz_1"><input
                                                                                type="hidden"
                                                                                name="tx_powermail_pi1[field][datenschutz]"
                                                                                value=""/><input required="required"
                                                                                                 data-parsley-required-message="Please fill out at least one of these fields"
                                                                                                 data-parsley-errors-container=".powermail_field_error_container_datenschutz"
                                                                                                 data-parsley-class-handler=".powermail_fieldwrap_4518 div:first"
                                                                                                 class="powermail_checkbox powermail_checkbox_4518"
                                                                                                 id="powermail_field_datenschutz_1"
                                                                                                 type="checkbox"
                                                                                                 name="tx_powermail_pi1[field][datenschutz][]"
                                                                                                 value="I have read the Privacy Notice and agree to the processing of these data for dealing with my enquiry."/>I
                                                                            have read the <a
                                                                                    href="service/private-policy.html"
                                                                                    target="_blank">Privacy Notice</a>
                                                                            and agree to the processing of these data
                                                                            for dealing with my enquiry.</label></div>
                                                                    <div class="powermail_field_error_container powermail_field_error_container_datenschutz"></div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div id="powermail_fieldwrap_4"
                                                             class="powermail_fieldwrap powermail_fieldwrap_submit powermail_fieldwrap_4 ">
                                                            <button class="powermail_field powermail_submit btn btn-default pull-right"
                                                                    type="submit" name="" value=""><span>Send</span>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                    <input class="powermail_form_uid" type="hidden"
                                                           name="tx_powermail_pi1[mail][form]" value="1"/>
                                                    <div style="margin-left: -99999px; position: absolute;"><label
                                                            for="powermail_hp_1">Don't fill this field!</label><input
                                                            autocomplete="off" id="powermail_hp_1" type="text"
                                                            name="tx_powermail_pi1[field][__hp]" value=""/></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="hidden" style="display: none;"><input type="hidden"
                                                                                          id="powermailLanguage"
                                                                                          value="1"/><input
                                                type="hidden" id="powermailPid" value="141"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="c2885" class="csc-default">
            <div class="news">
                <div class="posts-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="emco Bau gewinnt German Design Award 2019 für überfliesbaren Schwimmbadrost "
                                                         href="service/press-contact/detail/news/emco-bau-gewinnt-german-design-award-2019-fuer-ueberfliesbaren-schwimmbadrost.html"><img
                                        title="German Design Award Winner 2019" alt="Schwimmbadrost Design Winner"
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-GDA-2019-723-Design__1__43f48eb5ee.jpg"
                                        width="554" height="240"/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">26.11.2018</time>
                                        </div>
                                        <h3>
                                            <a title="emco Bau gewinnt German Design Award 2019 für überfliesbaren Schwimmbadrost "
                                               href="service/press-contact/detail/news/emco-bau-gewinnt-german-design-award-2019-fuer-ueberfliesbaren-schwimmbadrost.html">emco
                                                Bau gewinnt German Design Award 2019 für überfliesbaren
                                                Schwimmbadrost </a></h3>
                                        <p class="bodytext">Der Schwimmbadrost „723 Design“ von emco Bau hat den German
                                            Design Award 2019 – den internationalen Premiumpreis des Rates für
                                            Formgebung – erhalten. </p><a class="btn-more"
                                                                          title="emco Bau gewinnt German Design Award 2019 für überfliesbaren Schwimmbadrost "
                                                                          href="service/press-contact/detail/news/emco-bau-gewinnt-german-design-award-2019-fuer-ueberfliesbaren-schwimmbadrost.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="emco Bau zum wiederholten Mal mit Architects‘ Darling® in Gold ausgezeichnet"
                                                         href="service/press-contact/detail/news/emco-bau-zum-wiederholten-mal-mit-architects-darlingR-in-gold-ausgezeichnet.html"><img
                                        title="emco Bau Architects‘ Darling" alt="emco Bau mit Award ausgezeichnet"
                                        src="fileadmin/_processed_/csm_emco-bau-mit-architects-darling-award-ausgezeichnet_aa0d5ad918.png"
                                        width="554" height="240"/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">19.11.2018</time>
                                        </div>
                                        <h3>
                                            <a title="emco Bau zum wiederholten Mal mit Architects‘ Darling® in Gold ausgezeichnet"
                                               href="service/press-contact/detail/news/emco-bau-zum-wiederholten-mal-mit-architects-darlingR-in-gold-ausgezeichnet.html">emco
                                                Bau zum wiederholten Mal mit Architects‘ Darling® in Gold
                                                ausgezeichnet</a></h3>
                                        <p class="bodytext">emco Bau hat den Architects’ Darling® Award 2018 in Gold
                                            erhalten. Über 2.100 Architekten und Planer wählten die Produkte des
                                            Herstellers zum dritten...</p><a class="btn-more"
                                                                             title="emco Bau zum wiederholten Mal mit Architects‘ Darling® in Gold ausgezeichnet"
                                                                             href="service/press-contact/detail/news/emco-bau-zum-wiederholten-mal-mit-architects-darlingR-in-gold-ausgezeichnet.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="emco Bau auf der interbad 2018: Kundenorientierte Optimierungen und Erweiterungen für hochwertige Schwimmbadroste"
                                                         href="service/press-contact/detail/news/emco-bau-auf-der-interbad-2018-kundenorientierte-optimierungen-und-erweiterungen-fuer-hochwertige-s.html"><img
                                        title="emco Bau auf der Interbad"
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-interbad-2018-Bild_2_755634654f.jpg"
                                        width="554" height="240" alt=""/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">23.10.2018</time>
                                        </div>
                                        <h3>
                                            <a title="emco Bau auf der interbad 2018: Kundenorientierte Optimierungen und Erweiterungen für hochwertige Schwimmbadroste"
                                               href="service/press-contact/detail/news/emco-bau-auf-der-interbad-2018-kundenorientierte-optimierungen-und-erweiterungen-fuer-hochwertige-s.html">emco
                                                Bau auf der interbad 2018: Kundenorientierte Optimierungen und
                                                Erweiterungen für hochwertige Schwimmbadroste</a></h3>
                                        <p class="bodytext">Anpassungen und Erweiterungen für sein vielfältiges
                                            Produktprogramm an hochwertigen Rosten für den Schwimmbad- und
                                            Wellnessbereich hat emco Bau auf...</p><a class="btn-more"
                                                                                      title="emco Bau auf der interbad 2018: Kundenorientierte Optimierungen und Erweiterungen für hochwertige Schwimmbadroste"
                                                                                      href="service/press-contact/detail/news/emco-bau-auf-der-interbad-2018-kundenorientierte-optimierungen-und-erweiterungen-fuer-hochwertige-s.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation" title="Neue Geschäftsführung bei emco Bau"
                                                         href="service/press-contact/detail/news/neue-geschaeftsfuehrung-bei-emco-bau.html"><img
                                        src="fileadmin/_processed_/csm_emco-bau-geschaeftsfuehrung_4059c0473c.png"
                                        width="554" height="240" alt=""/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">29.08.2018</time>
                                        </div>
                                        <h3><a title="Neue Geschäftsführung bei emco Bau"
                                               href="service/press-contact/detail/news/neue-geschaeftsfuehrung-bei-emco-bau.html">Neue
                                            Geschäftsführung bei emco Bau</a></h3>
                                        <p class="bodytext">Jörg Harbecke ist neuer Geschäftsführer von emco Bau. Mit
                                            dieser Position einhergehend übernimmt der 50-Jährige gleichzeitig auch die
                                            Leitung der...</p><a class="btn-more"
                                                                 title="Neue Geschäftsführung bei emco Bau"
                                                                 href="service/press-contact/detail/news/neue-geschaeftsfuehrung-bei-emco-bau.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation" title="Neuer Produktmanager bei emco Bau"
                                                         href="service/press-contact/detail/news/neuer-produktmanager-bei-emco-bau.html"><img
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-Neuer-Produktmanager-small_d93b910df3.jpg"
                                        width="554" height="240" alt=""/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">18.06.2018</time>
                                        </div>
                                        <h3><a title="Neuer Produktmanager bei emco Bau"
                                               href="service/press-contact/detail/news/neuer-produktmanager-bei-emco-bau.html">Neuer
                                            Produktmanager bei emco Bau</a></h3>
                                        <p class="bodytext">Dennis Kayser ist neuer bereichsübergreifender
                                            Produktmanager bei emco Bau. Das Aufgabengebiet des 28-Jährigen umfasst die
                                            Planung des gesamten...</p><a class="btn-more"
                                                                          title="Neuer Produktmanager bei emco Bau"
                                                                          href="service/press-contact/detail/news/neuer-produktmanager-bei-emco-bau.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="emco Bau auf der DOMOTEX 2018: Individuell gestaltbare Sauberlaufsysteme mit hoher Reinigungswirkung"
                                                         href="service/press-contact/detail/news/emco-bau-auf-der-domotex-2018-individuell-gestaltbare-sauberlaufsysteme-mit-hoher-reinigungswirkung.html"><img
                                        title="emco Bau auf der DOMOTEX 2018"
                                        alt="Individuell gestaltbare Sauberlaufsysteme mit hoher Reinigungswirkung"
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-Individualisierung-Domotex-2018-Vorschau_9bfaea106d.jpg"
                                        width="554" height="240"/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">12.01.2018</time>
                                        </div>
                                        <h3>
                                            <a title="emco Bau auf der DOMOTEX 2018: Individuell gestaltbare Sauberlaufsysteme mit hoher Reinigungswirkung"
                                               href="service/press-contact/detail/news/emco-bau-auf-der-domotex-2018-individuell-gestaltbare-sauberlaufsysteme-mit-hoher-reinigungswirkung.html">emco
                                                Bau auf der DOMOTEX 2018: Individuell gestaltbare Sauberlaufsysteme mit
                                                hoher Reinigungswirkung</a></h3>
                                        <p class="bodytext">Hannover / Lingen, 12. Januar 2018 – Ein umfangreiches
                                            Produktprogramm an hochwertigen Sauberlaufsystemen für die
                                            bedarfsorientierte Ausstattung von...</p><a class="btn-more"
                                                                                        title="emco Bau auf der DOMOTEX 2018: Individuell gestaltbare Sauberlaufsysteme mit hoher Reinigungswirkung"
                                                                                        href="service/press-contact/detail/news/emco-bau-auf-der-domotex-2018-individuell-gestaltbare-sauberlaufsysteme-mit-hoher-reinigungswirkung.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="emco Bau stellt Weichen für deutliches Wachstum"
                                                         href="service/press-contact/detail/news/emco-bau-stellt-weichen-fuer-deutliches-wachstum.html"><img
                                        title="emco Bau &amp; Kampmann"
                                        alt="emco Bau stellt Weichen für deutliches Wachstum"
                                        src="fileadmin/_processed_/csm_emco-Bau-Uebernahme-Kampmann-Vorschau_013986f4ff.jpg"
                                        width="554" height="240"/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"></span>
                                            <time datetime="">27.11.2017</time>
                                        </div>
                                        <h3><a title="emco Bau stellt Weichen für deutliches Wachstum"
                                               href="service/press-contact/detail/news/emco-bau-stellt-weichen-fuer-deutliches-wachstum.html">emco
                                            Bau stellt Weichen für deutliches Wachstum</a></h3>
                                        <p class="bodytext">Lingen, 27. November 2017 – Ab dem 1.1.2018 übernimmt emco
                                            Bau die Kampmann Eingangsmatten GmbH und stärkt damit ihre Position als
                                            Marktführer im...</p><a class="btn-more"
                                                                    title="emco Bau stellt Weichen für deutliches Wachstum"
                                                                    href="service/press-contact/detail/news/emco-bau-stellt-weichen-fuer-deutliches-wachstum.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="German Brand Award 2017 for outstanding brand management"
                                                         href="service/press-contact/detail/news/german-brand-award-2017-for-outstanding-brand-management.html"><img
                                        title="emco Bau" alt="German Brand Award 2017 für herausragende Markenführung"
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-German-Brand-Award-2017-Vorschau_5708510a68.jpg"
                                        width="554" height="240"/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"><img
                                                src="typo3conf/ext/typo3sz_assets/Resources/Public/Images/autotranslated.jpg"
                                                width="199" height="20" alt=""/></span>
                                            <time datetime="">30.06.2017</time>
                                        </div>
                                        <h3><a title="German Brand Award 2017 for outstanding brand management"
                                               href="service/press-contact/detail/news/german-brand-award-2017-for-outstanding-brand-management.html">German
                                            Brand Award 2017 for outstanding brand management</a></h3>
                                        <p class="bodytext">Lingen, 30 June 2017 - For its consistent brand management
                                            and sustainable brand strategy, emco Bau was awarded the &quot;German Brand
                                            Award 2017&quot;. A...</p><a class="btn-more"
                                                                         title="German Brand Award 2017 for outstanding brand management"
                                                                         href="service/press-contact/detail/news/german-brand-award-2017-for-outstanding-brand-management.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="Innovative tile grating with &quot;Red Dot&quot; and &quot;Golden Wave&quot;"
                                                         href="service/press-contact/detail/news/innovative-tile-grating-with-red-dot-and-golden-wave.html"><img
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-Auszeichnungen-723-Design-Bild-teaser_1806388081.jpg"
                                        width="554" height="240" alt=""/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"><img
                                                src="typo3conf/ext/typo3sz_assets/Resources/Public/Images/autotranslated.jpg"
                                                width="199" height="20" alt=""/></span>
                                            <time datetime="">06.04.2017</time>
                                        </div>
                                        <h3>
                                            <a title="Innovative tile grating with &quot;Red Dot&quot; and &quot;Golden Wave&quot;"
                                               href="service/press-contact/detail/news/innovative-tile-grating-with-red-dot-and-golden-wave.html">Innovative
                                                tile grating with &quot;Red Dot&quot; and &quot;Golden Wave&quot;</a>
                                        </h3>
                                        <p class="bodytext">The &quot;723 Design&quot; swimming pool grate from emco Bau
                                            received the &quot;Red Dot&quot; award at the &quot;Red Dot Award: Product
                                            Design 2017&quot;. This has made it possible...</p><a class="btn-more"
                                                                                                  title="Innovative tile grating with &quot;Red Dot&quot; and &quot;Golden Wave&quot;"
                                                                                                  href="service/press-contact/detail/news/innovative-tile-grating-with-red-dot-and-golden-wave.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <article class="post"><a class="animation"
                                                         title="Palais Vest: Inviting reception area for the special shopping experience"
                                                         href="service/press-contact/detail/news/palais-vest-inviting-reception-area-for-the-special-shopping-experience.html"><img
                                        src="fileadmin/_processed_/csm_emco-Bau-PI-Palais-Vest-Recklinghausen-Bild-01-teaser_-_554x240_3216994945.jpg"
                                        width="554" height="240" alt=""/></a>
                                    <div class="text-block">
                                        <div class="meta"><span class="logo"><img
                                                src="typo3conf/ext/typo3sz_assets/Resources/Public/Images/autotranslated.jpg"
                                                width="199" height="20" alt=""/></span>
                                            <time datetime="">02.03.2017</time>
                                        </div>
                                        <h3>
                                            <a title="Palais Vest: Inviting reception area for the special shopping experience"
                                               href="service/press-contact/detail/news/palais-vest-inviting-reception-area-for-the-special-shopping-experience.html">Palais
                                                Vest: Inviting reception area for the special shopping experience</a>
                                        </h3>
                                        <p class="bodytext">The &quot;Palais Vest&quot;, one of the most modern shopping
                                            centers in the Ruhr area, is located in the heart of Recklinghausen.
                                            Situated at the edge of the...</p><a class="btn-more"
                                                                                 title="Palais Vest: Inviting reception area for the special shopping experience"
                                                                                 href="service/press-contact/detail/news/palais-vest-inviting-reception-area-for-the-special-shopping-experience.html">Read
                                        more</a></div>
                                </article>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pagination-holder">
                                        <nav>
                                            <ul class="pagination">
                                                <li class="active"><span>1</span></li>
                                                <li><a href="service/press-contact/news-page/2.html">2</a></li>
                                                <li><a href="service/press-contact/news-page/3.html">3</a></li>
                                                <li>....</li>
                                                <li class="last"><a
                                                        href="service/press-contact/news-page/8.html">8</a></li>
                                                <li class="last next"><a
                                                        href="service/press-contact/news-page/2.html">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="news-clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">


            {include file="public/menu" /}

        </div>
    </div>


{include file="public/footer" /}
</body>
</html>