{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li class="last active"><span>产品对比</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="posts-holder" id="c6198">
        <div class="container">
            <div class="posts">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="c6197" class="csc-default">
                            <div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">产品对比</h1></div>
                            <p class="bodytext">
                                在这里，您可以直接比较emco入口垫。请从以下选择：
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="c6159" class="csc-default">
        <div class="tx-sz-comdbproducts">
            <div class="categories-holder init comparison-view powermail_form">

                <div class="comdbproducts-loader" style="display: none;">
                    <div class="image-wrapper">
                        <img src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/Icons/loader.gif" width="66" height="66" alt=""></div>
                </div>

                <form name="comparison" enctype="multipart/form-data" class="categories-form facet-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" name="category" id ="pid" class="group-selector jcf-hidden">
                                        <option value="">请选择...</option>
                                        {volist name="mats_cates" id="vo"  offset="0" length='2'}
                                     <option data-comparison="4" value="{$vo.id}" {if condition="$Think.get.p_id eq $vo.id" }selected=""{/if}>{$vo.title}</option>
                                         {/volist}
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" name="variant[]" class="variant-selector jcf-hidden" data-column="1">
                                    <option value="" selected="selected">请选择...</option>
                                        {volist name="matstwo" id="vo"}
                                        <option value="{$vo.c_id}" {if condition="$Think.get.column1 eq $vo.c_id" }selected=""{/if}>{$vo.btitle}-{$vo.title}-{$vo.ctitle}</option>
                                        {/volist}
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" name="variant[]" class="variant-selector jcf-hidden" data-column="2">
                                    <option value="" selected="selected"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">请选择...</font></font></option>
                                        {volist name="matstwo" id="vo"}
                                        <option value="{$vo.c_id}" {if condition="$Think.get.column2 eq $vo.c_id" }selected=""{/if}>{$vo.btitle}-{$vo.title}-{$vo.ctitle}</option>
                                        {/volist}
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" name="variant[]" class="variant-selector jcf-hidden" data-column="3">
                                    <option value="" selected="selected"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">请选择...</font></font></option>
                                        {volist name="matstwo" id="vo"}
                                        <option value="{$vo.c_id}" {if condition="$Think.get.column3 eq $vo.c_id" }selected=""{/if}>{$vo.btitle}-{$vo.title}-{$vo.ctitle}</option>
                                        {/volist}
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="comdbcomparison-holder" data-storage="157" data-detailpid="205" data-category="5">
                <section id="comparison-4" data-counter="0" class="listenseite-post listenseite-post-results comparison-post-results active" style="">
                    <div class="container">
                        <div class="row row-closer">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <!-- todo
                                <a href="#" class="btn btn-download" style="display: none;">Download as PDF</a>
                                <form id="printform" action="en/products/product-comparison.html" method="post" target="_blank">
                                    <input type="hidden" name="type" value="1444646286">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[pluginName]" value="Comparison">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[controller]" value="Comparison">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[action]" value="print">
                                    <input type="hidden" id="printcontent" name="tx_szcomdbproducts_comparison[html]" value="">
                                </form>
                                -->
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="1" style="display: none;"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="2" style="display: none;"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="3" style="display: none;"></a>
                            </div>
                        </div>
                        <div class="row row-attribute-header">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                <!-- tupian -->
                              {notempty name="mats_one.img"}
                                <div class="image-holder comparison-image-holder">
                                    <a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_one.pid}&id={$mats_one.id}">
                                        <img src="{$mats_one.img}" width="255" height="180">
                                    </a>
                                </div>
                                <h3 ><a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_one.pid}&id={$mats_one.id}" >{$mats_one.btitle}-{$mats_one.title}</a></h3>
                                {else /}
                                {/notempty}
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {notempty name="mats_two.img"}
                                <div class="image-holder comparison-image-holder">
                                    <a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_two.pid}&id={$mats_two.id}">
                                        <img src="{$mats_two.img}" width="255" height="180">
                                    </a>
                                </div>
                                <h3><a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_two.pid}&id={$mats_two.id}">{$mats_two.btitle}-{$mats_two.title}</a></h3>
                                {else /}
                                {/notempty}
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {notempty name="mats_three.img"}
                                <div class="image-holder comparison-image-holder">
                                    <a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_three.pid}&id={$mats_three.id}">
                                        <img src="{$mats_three.img}" width="255" height="180">
                                    </a>
                                </div>
                                <h3><a target="_blank" href="{:url('index/entrance_mats_info')}?pid={$mats_three.pid}&id={$mats_three.id}" >{$mats_three.btitle}-{$mats_three.title}</a></h3>
                                {else /}
                                {/notempty}
                            </div>
                        </div>

                        <div class="row row-attribute-410">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TYP_STR_EM_BAU" data-attribute="410"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">模型</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.model?$mats_one.model:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.model?$mats_two.model:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.model?$mats_three.model:''}
                            </div>
                        </div>
                        <div class="row row-attribute-406">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="EMPFEHLUNG_DIC_EM_BAU" data-attribute="406"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">建议</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.jianyi?$mats_one.jianyi:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.jianyi?$mats_two.jianyi:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.jianyi?$mats_three.jianyi:''}
                            </div>
                        </div>
                        <div class="row row-attribute-428">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BELASTUNG_DIC_EM_BAU" data-attribute="428"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">加载</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.jiazai?$mats_one.jiazai:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.jiazai?$mats_two.jiazai:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.jiazai?$mats_three.jiazai:''}
                            </div>
                        </div>
                        <div class="row row-attribute-414">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BEGEHUNG_SEL_EM_BAU" data-attribute="414"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">脚步声</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.jiaobu?$mats_one.jiaobu:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.jiazai?$mats_two.jiazai:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.jiazai?$mats_three.jiazai:''}
                            </div>
                        </div>
                        <div class="row row-attribute-415">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BEROLL_BEFAHRBARKEIT2_SEL_EM_BAU" data-attribute="415">
                                <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">翻车和翻车功能：</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.fanche?$mats_one.fanche:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.fanche?$mats_two.fanche:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.fanche?$mats_three.fanche:''}
                            </div>
                        </div>
                        <div class="row row-attribute-425">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TRAEGERPROFIL_DIC_EM_BAU" data-attribute="425"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">支持机箱</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.jixiang?$mats_one.jixiang:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.jixiang?$mats_two.jixiang:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.jixiang?$mats_three.jixiang:''}
                            </div>
                        </div>
                        <div class="row row-attribute-418">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="VERBINDUNG_DIC_EM_BAU" data-attribute="418"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">连接</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.lianjie?$mats_one.lianjie:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.lianjie?$mats_two.lianjie:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.lianjie?$mats_three.lianjie:''}
                            </div>
                        </div>
                        <div class="row row-attribute-413">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="HOEHE_MM_SEL_EM_BAU" data-attribute="413"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">约。</font><font style="vertical-align: inherit;">高度（mm）</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.height?$mats_one.height:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.height?$mats_two.height:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.height?$mats_three.height:''}
                            </div>
                        </div>
                        <div class="row row-attribute-420">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="PROFILLAENGE_SEL_EM_BAU" data-attribute="420"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">最大。</font><font style="vertical-align: inherit;">单个部分的宽度/轮廓长度（mm）：</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.max?$mats_one.max:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.max?$mats_two.max:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.max?$mats_three.max:''}
                            </div>
                        </div>
                        <div class="row row-attribute-421">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="GEHTIEFE_SEL_EM_BAU" data-attribute="421"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">各个部分的深度/行走深度（mm）：</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.shengdu?$mats_one.shengdu:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.shengdu?$mats_two.shengdu:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.shengdu?$mats_three.shengdu:''}
                            </div>
                        </div>
                        <div class="row row-attribute-422">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="GEWICHT_SEL_EM_BAU" data-attribute="422"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">重量（kg
                                /m²）</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.zhongkg?$mats_one.zhongkg:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.zhongkg?$mats_two.zhongkg:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.zhongkg?$mats_three.zhongkg:''}
                            </div>
                        </div>
                        <div class="row row-attribute-423">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="MATTENTEILUNG_SEL_EM_BAU" data-attribute="423"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">垫子按工厂标准或客户规格划分</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.guige?$mats_one.guige:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.guige?$mats_two.guige:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.guige?$mats_three.guige:''}
                            </div>
                        </div>
                        <div class="row row-attribute-424">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="RUHENDE_BELASTUNG_SEL_EM_BAU" data-attribute="424"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">固定载荷，单位为kg
                                /100cm²</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.zaihe?$mats_one.zaihe:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.zaihe?$mats_two.zaihe:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.zaihe?$mats_three.zaihe:''}
                            </div>
                        </div>
                        <div class="row row-attribute-426">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TRITTFLAECHE_DIC_EM_BAU" data-attribute="426"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">胎面</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.taimian?$mats_one.taimian:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.taimian?$mats_two.taimian:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.taimian?$mats_three.taimian:''}
                            </div>
                        </div>
                        <div class="row row-attribute-416">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="PROFILABSTAND_SEL_EM_BAU" data-attribute="416"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">标准型材间隙约。</font><font
                                    style="vertical-align: inherit;">（毫米）</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.jianxi?$mats_one.jianxi:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.jianxi?$mats_two.jianxi:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.jianxi?$mats_three.jianxi:''}
                            </div>
                        </div>
                        <div class="row row-attribute-417">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="AUTOM_TUERSYSTEME_DIC_EM_BAU" data-attribute="417"><strong><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">自动门系统</font></font></strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.door?$mats_one.door:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.door?$mats_two.door:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.door?$mats_three.door:''}
                            </div>
                        </div>
                        <div class="row row-attribute-427">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="RUTSCHSICHERHEIT_DIC_EM_BAU" data-attribute="427"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">防滑性</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.fanghua?$mats_one.fanghua:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.fanghua?$mats_two.fanghua:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.fanghua?$mats_three.fanghua:''}
                            </div>
                        </div>
                        <div class="row row-attribute-437">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BRANDSCHUTZ_DIC_EM_BAU" data-attribute="437"><strong><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">防火</font></font></strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1">
                                {$mats_one.fanghuo?$mats_one.fanghuo:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2">
                                {$mats_two.fanghuo?$mats_two.fanghuo:''}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3">
                                {$mats_three.fanghuo?$mats_three.fanghuo:''}
                            </div>
                        </div>
                    </div>
                </section>
                <!-- todo 暂时注释
                <section id="comparison-16" data-counter="0" class="listenseite-post listenseite-post-results comparison-post-results" style="display: none;">
                    <div class="container">
                        <div class="row row-closer">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-download" style="display: none;">Download as
                                PDF</a>
                                <form id="printform" action="en/products/product-comparison.html" method="post"
                                      target="_blank">
                                    <input type="hidden" name="type" value="1444646286">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[pluginName]" value="Comparison">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[controller]" value="Comparison">
                                    <input type="hidden" name="tx_szcomdbproducts_comparison[action]" value="print">
                                    <input type="hidden" id="printcontent" name="tx_szcomdbproducts_comparison[html]" value="">
                                </form>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="1" style="display: none;"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="2" style="display: none;"></a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column">
                                <a href="#" class="icon-close" data-column="3" style="display: none;"></a>
                            </div>
                        </div>
                        <div class="row row-attribute-header">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-410">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TYP_STR_EM_BAU" data-attribute="410"><strong>Model</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-412">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BESCHREIBUNG_DIC_EM_BAU" data-attribute="412">
                                <strong>Description</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-406">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="EMPFEHLUNG_DIC_EM_BAU" data-attribute="406">
                                <strong>Recommendation</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-428">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BELASTUNG_DIC_EM_BAU" data-attribute="428"><strong>Load</strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-414">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BEGEHUNG_SEL_EM_BAU" data-attribute="414"><strong>Footfall</strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-415">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BEROLL_BEFAHRBARKEIT2_SEL_EM_BAU" data-attribute="415"><strong>Roll-over
                                and drive-over capability:</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-425">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TRAEGERPROFIL_DIC_EM_BAU" data-attribute="425"><strong>Support
                                chassis</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-418">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="VERBINDUNG_DIC_EM_BAU" data-attribute="418">
                                <strong>Connection</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-413">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="HOEHE_MM_SEL_EM_BAU" data-attribute="413"><strong>Approx. height
                                (mm)</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-420">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="PROFILLAENGE_SEL_EM_BAU" data-attribute="420"><strong>Max.
                                width/profile length for individual section (mm):</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-421">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="GEHTIEFE_SEL_EM_BAU" data-attribute="421"><strong>Depth/walking
                                depth for individual section (mm):</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-422">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="GEWICHT_SEL_EM_BAU" data-attribute="422"><strong>Weight
                                (kg/m²)</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-423">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="MATTENTEILUNG_SEL_EM_BAU" data-attribute="423"><strong>Mat
                                divisions as per factory standards or customer specifications</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-424">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="RUHENDE_BELASTUNG_SEL_EM_BAU" data-attribute="424"><strong>Stationary
                                load in kg/100cm²</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-426">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="TRITTFLAECHE_DIC_EM_BAU" data-attribute="426"><strong>Tread
                                surface</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-416">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="PROFILABSTAND_SEL_EM_BAU" data-attribute="416"><strong>Standard
                                profile clearance approx. (mm)</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-417">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="AUTOM_TUERSYSTEME_DIC_EM_BAU" data-attribute="417"><strong>Automatic
                                door systems</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-427">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="RUTSCHSICHERHEIT_DIC_EM_BAU" data-attribute="427"><strong>Slip
                                resistance</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-437">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="BRANDSCHUTZ_DIC_EM_BAU" data-attribute="437"><strong>Fire
                                protection</strong></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                        <div class="row row-attribute-429">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 argument-selector"
                                 data-attributename="FARBEN_DIC_EM_BAU" data-attribute="429"><strong>Colours</strong>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-1"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-2"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 column column-3"></div>
                        </div>
                    </div>
                </section>
                -->
            </div>
        </div>
    </div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}
        </div>
    </div>
    {include file="public/footer" /}
    <script>
        //
     $("#pid").change(function(){
         var  pid = $(this).val();
         if(pid=='null'|| pid==undefined){return false;}
          window.location.href="{:url('index/product_comparison')}?p_id="+pid;
     })

    $("select[data-column='1']").change(function(){
         var pid = $("#pid").val();
         var column1 = $("select[data-column='1']").val();
         var column2 = $("select[data-column='2']").val();
         var column3 = $("select[data-column='3']").val();
        location.href="{:url('index/product_comparison')}?p_id="+pid+"&column1="+column1+"&column2="+column2+"&column3="+column3;
    })

        $("select[data-column='2']").change(function(){
            var pid = $("#pid").val();
            var column1 = $("select[data-column='1']").val();
            var column2 = $("select[data-column='2']").val();
            var column3 = $("select[data-column='3']").val();
            location.href="{:url('index/product_comparison')}?p_id="+pid+"&column1="+column1+"&column2="+column2+"&column3="+column3;
        })

        $("select[data-column='3']").change(function(){
            var column3 = $(this).val();
            var pid = $("#pid").val();
            var column1 = $("select[data-column='1']").val();
            var column2 = $("select[data-column='2']").val();
            location.href="{:url('index/product_comparison')}?p_id="+pid+"&column1="+column1+"&column2="+column2+"&column3="+column3;
        })

    </script>


    </body>
    </html>