{include file="public/header" /}


    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>你在这里</span></li>
                            <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                            <li><a href="{:url('index/entrance_mats_service')}">服务</a>
                            </li>
                            <li class="last active"><span>经常问到的问题</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner ">
            <img title="Frequently asked questions" alt="Read the questions that emco customers ask"
                 src="{$que.img}" width="1280" height="540"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>{$que.title}</h1>
                                <h2>{$que.s_title}</h2>
                                <p class="bodytext">{$que.content|raw}</p>
                                <a href="{$que.url}" class='btn btn-default'><span>{$que.miaoshu}</span></a></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts-holder" id="c729">

            <div class="container">
                <div class="posts">
                    <div class="panel-group" id="accordion-729">
                          {volist name="wenti" id="bo" key='k'}
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle" data-parent="#accordion-729" href="#collapse-71{$k}" data-toggle="collapse">
                                        {$bo.title}
                                </a></h4></div>
                            <div id="collapse-71{$k}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="c71{$k}" class="csc-default">
                                        <p class="bodytext">
                                           {$bo.content|raw}
                                        </p></div>
                                </div>
                            </div>
                        </div>
                           {/volist}
                        <!--
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-712" data-toggle="collapse">
                                    emco产品是否直接来自Emco Bau的工厂？和林根的Klimatechnik GmbH＆Co。KG？
                                </a></h4></div>
                            <div id="collapse-712" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c712" class="csc-default"><p class="bodytext">
                                        基本上，是的; 如果您是批发商或承包企业，在特殊情况下可以直接购买。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729"
                                   href="#collapse-713" data-toggle="collapse">
                                    我在哪里可以查看特殊产品是否仍然可用？
                                </a></h4></div>
                            <div id="collapse-713" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c713" class="csc-default"><p class="bodytext">
                                        有几种方法可以确定产品的可用性。您可以直接在我们网页左侧的产品查询器中查看？所有制造的产品都列在那里。或者您可以联系您的现场服务办公室或我们位于林根的工厂。我们期待着为您提供帮助。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-714" data-toggle="collapse">
                                    如何确定一般保修的适用性？
                                </a></h4></div>
                            <div id="collapse-714" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c714" class="csc-default">
                                        <p class="bodytext">
                                            作为一项原则，我们始终应用最新的销售，发货和付款条款。
                                            由于我们的全球分销和不同的法律条件，我们的保修条款因地区而异。
                                            有关您所在地区的详细保修信息，请联系我们的分销合作伙 对于德国和欧盟成员国，我们的一般保修是有效的。
                                            在商定的技术更改或特殊协议的情况下，可以对保修进行调整。
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-715" data-toggle="collapse">
                                    emco是否有可用性保修？它有多长？
                                </a></h4></div>
                            <div id="collapse-715" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c715" class="csc-default"><p class="bodytext">
                                        Emco土木工程公司为所有产品提供五年产品和随后的备件交付保证。但是，不能排除易损件的轻微技术变化。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-716" data-toggle="collapse">
                                    在哪里以及如何获得EMCO构建系统产品的目录和示例？
                                </a></h4></div>
                            <div id="collapse-716" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c716" class="csc-default"><p class="bodytext">
                                        您可以从我们的网站下载.pdf或.zip格式的emco目录。
                                        或者，您可以通过邮件订购目录和样品。
                                        此外，您还可以从我们的合作伙伴和专业经销商处获取当前的emco目录。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-717" data-toggle="collapse">
                                    可以安排个别物业的专业解决方案吗？</a></h4></div>
                            <div id="collapse-717" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c717" class="csc-default"><p class="bodytext">
                                        是的，应要求提供。请联系我们以获取更多信息。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-718" data-toggle="collapse">
                                    是否有针对emco建筑系统产品的防盗设备？</a></h4></div>
                            <div id="collapse-718" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c718" class="csc-default"><p class="bodytext">没有.</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-719" data-toggle="collapse">
                                    是否可以使用日常工具组装emco buidling系统？</a></h4></div>
                            <div id="collapse-719" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c719" class="csc-default"><p class="bodytext">可以</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-720" data-toggle="collapse">
                                    谁可以帮助我们进行规划？</a></h4></div>
                            <div id="collapse-720" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c720" class="csc-default"><p class="bodytext">
                                        您可以随时联系我们的分销办事处或直接致电我们在林根的工厂。如果您访问我们网站上的
                                        <a href="{:url('index/contacts')}" title="Öffnet internen Link im aktuellen Fenster" class="internal-link">
                                            <span>代表名单</span></a>，您将找到我们负责的现场服务办事处的详细信息。</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-721" data-toggle="collapse">
                                    我在哪里可以看到现有的emco入口地板系统和游泳池的emco网格？哪些建筑物对游客开放？</a></h4></div>
                            <div id="collapse-721" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c721" class="csc-default"><p class="bodytext">
                                        此信息包含在我们的emco Bautechnik产品目录中，您也可以直接向我们的emco物业咨询部门咨询。可应要求提供位于德国和世界各地的知名建筑清单。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-722" data-toggle="collapse">
                                    如何设计理想的清洁步行车道？</a></h4></div>
                            <div id="collapse-722" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c722" class="csc-default"><p class="bodytext">
                                        通过部署3区清洁系统。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-723" data-toggle="collapse">
                                    根据哪个标准是emco入口楼层拆分？</a></h4></div>
                            <div id="collapse-723" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c723" class="csc-default"><p class="bodytext">
                                        我们的产品目录中详细介绍了入口地板垫的标准配置。例如，我们的标准型号“Diplomat”的最大宽度为3000 mm。单个地板元件的最大重量约为45千克。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-724" data-toggle="collapse">
                                    什么活荷载是emco入口地板设计维持？</a></h4></div>
                            <div id="collapse-724" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c724" class="csc-default"><p class="bodytext">
                                        'Diplomat'专为客运而设计。'Marshal'设计用于高达780 kg / 100qcm的载荷。有关您的地板系统的操作要求的更多详细信息，请不要犹豫与我们联系。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-725" data-toggle="collapse">
                                    如何安装emco安装框架和入口地板垫？
                                </a></h4></div>
                            <div id="collapse-725" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c725" class="csc-default"><p class="bodytext">
                                        请参阅我们的安装说明或联系其中一家专业安装公司。地板也可以由我们的服务团队安装，可根据您的要求安排额外收费。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-726" data-toggle="collapse">
                                    emco建筑系统是否提供本地服务？</a></h4></div>
                            <div id="collapse-726" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c726" class="csc-default"><p class="bodytext">
                                        Emco的测量和安装服务遍及德国和国外。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-727" data-toggle="collapse">
                                    我如何保持Emco入口地板垫？</a></h4></div>
                            <div id="collapse-727" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c727" class="csc-default"><p class="bodytext">
                                        维护说明包含在我们的综合目录中。可根据您的要求通过emco安排专业清洁或更换地板元素。
                                    </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-parent="#accordion-729" href="#collapse-728" data-toggle="collapse">
                                    地板垫一旦磨损就能恢复吗？
                                    </a></h4></div>
                            <div id="collapse-728" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="c728" class="csc-default">
                                        <p class="bodytext">
                                            只要铝制载体型材仍处于良好状态，就可以更换磨损的罗纹织物嵌体。这可以由客户或我们的客户服务团队在移动设备（罗纹布交换）的帮助下完成。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </section><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">


   {include file="public/menu" /}

        </div>
    </div>

{include file="public/footer" /}
</body>
</html>