{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li>公司</li>
                        <li class="last active"><span>研究与开发</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="darkcolor-banner "><img title="入口垫 - 来自emco的弹性和坚韧" alt="emco入口垫的质量"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/eingangsmatten-belastbar-bestaendig-emco.png"
                                            width="2560" height="1080">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">弹性和坚韧</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们的入口垫采用优质原材料。</font><font
                                    style="vertical-align: inherit;">在我们的产品开发中，我们特别重视耐用性和稳定性。</font><font
                                    style="vertical-align: inherit;">结果是特殊的入口垫。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">这可以降低长期成本，节省资源并减少停机时间。 </font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">从施工到交付的持续质量控制确保每个入口垫符合我们的高质量标准。</font></font></p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-4-layout">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="Products" alt="Products"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/eingangsmatten-zertifiziert-emco-kompetenz.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">制品</font></font>
                        </h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">认证</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="Safety" alt="Safety"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/eingangsmatten-sicherheit-emco.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">安全</font></font>
                        </h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">改善</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="Quality" alt="Quality"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/gepruefte-qualitaet-eingangsmatten.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">质量</font></font>
                        </h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">检查</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="Entrance mats" alt="Entrance mats"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/eingangsmatten-umwelt-kompetenz.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">入口垫</font></font></h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">可持续发展</font></font></p></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="emco的质量标准" alt="防滑和防火"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/eingangsmatten-gepruefte-qualitaet-kompetenz.png"
                                            width="2560" height="1080">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">经过验证的质量</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们获得了自己的质量标准认证。</font><font
                                    style="vertical-align: inherit;">除此之外，我们的产品定期进行外部质量控制。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">管理体系证书符合</font></font><a
                                    href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/9001-2008.pdf"
                                    title="启动文件下载" class="download"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">DIN EN ISO 9001：2008</font></font></span></a><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">和</font></font><a
                                    href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/14001-2009.pdf"
                                    title="启动文件下载" class="download"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">DIN EN ISO 14001：2009标准</font></font></span></a><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">，并配有防滑和耐火性测试证书，确保达到最高质量标准。&nbsp;</font></font>
                            </p>
                            <p class="bodytext">&nbsp;</p>
                            <p class="bodytext">&nbsp;</p><a
                                    href="__STATIC__/index/fileadmin/user_upload/Broschueren/emcobau_GepruefteQualitaet_GB_180305.pdf"
                                    title="您可以在我们的宣传册中找到更多信息" target="_blank" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">去宣传册“经过验证的质量”</font></font></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="清理可以防止事故发生" alt="避免滑倒时滑倒"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/emco-unfall-risiko-sauberlauf-vermeiden.png"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">防滑，防火</font></font></h1>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">医疗费用估计每年约为3.3亿欧元。</font><font
                                    style="vertical-align: inherit;">工作时间损失的成本更高：每年约80亿欧元（来自VBG德国雇主责任保险协会的信息）。</font></font>
                            </p>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">来自emco的入口垫为事故预防做出了积极贡献。</font><font
                                    style="vertical-align: inherit;">根据应用和要求，我们的垫子提供不同程度的防滑性。</font><font
                                    style="vertical-align: inherit;">我们很乐意为您提供建议！</font></font></p>
                            <p class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">对于符合防火规定的建筑物，我们提供许多防火版本的入口垫。</font><font
                                    style="vertical-align: inherit;">根据欧盟标准，可提供不同类型的阻燃产品。</font></font></p><a
                                    href="{:url('index/contact')}" title="与emco取得联系" class="btn btn-default"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">今天收到建议</font></font></span></a></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner ">
        <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
            <source src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Unternehmen/Forschung-Entwicklung/Hintergrundvideo-Belastungstest-emco_Bau.mp4"
                    type="video/mp4">
        </video>
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">入口垫负载测试</font></font></h1>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">在我们的研发中心，我们不断进行质量测试 - 从产品建造到交付。 </font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">这就是我们如何确保每个emco入口垫符合我们的高质量标准。</font></font></p><a
                                    href="#youtube-w7HshFv4GUg" class="btn btn-default t3colorbox-youtube hidden-xs"
                                    title="在视频中亲眼看看。"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;"> 在视频中亲眼看看。 </font></font></span></a>
                            <div style="display: none;">
                                <div id="youtube-w7HshFv4GUg">
                                    <iframe width="640" height="360"
                                            src="https://www.youtube-nocookie.com/embed/w7HshFv4GUg?rel=0"
                                            frameborder="0" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
             {include file="public/menu" /}
        </div>
    </div>

{include file="public/footer" /}
</body>
</html>