{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">>emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                        <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                        <li class="last active"><span>SENATOR OUTDOOR</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="darkcolor-banner "><img
            title="超宽，抗紫外线和弹性：带有户外插入物的emco SENATOR入口垫是防风雨的。 污垢被困在它所属的地方 - 建筑物外面！ 垫子的特点是超宽的型材，耐阳光和高"
            alt="超宽，抗紫外线和弹性：带有户外插入物的emco SENATOR入口垫是防风雨的。 污垢被困在它所属的地方 - 建筑物外面！ 垫子的特点是超宽的型材，耐阳光和高"
            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor-von-emco.jpg" width="1280"
            height="580">

        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1>&nbsp;</h1>

                            <h1>&nbsp;</h1>

                            <h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">SENATOR OUTDOOR</font></font></span></h1>

                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">适合各种天气的高品质入口垫</font></font>
                            </h2>

                            <h2>&nbsp;</h2>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">超宽，抗紫外线和弹性：带有户外插入物的emco
                                SENATOR入口垫是防风雨的。</font><font style="vertical-align: inherit;">污垢被困在它所属的地方 -
                                建筑物外面！</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">垫子的特点是超宽的型材，耐阳光和高清洁性能。</font><font
                                    style="vertical-align: inherit;">适用于有遮盖的户外区域和所有需要高水平耐用性和诱人外观的建筑。</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">亲眼看看：使用emco SENATOR
                                OUTDOOR，您可以将污垢留在外面。</font></font></p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="widerstandsfähigeEingangsmattegegen Sonnenlicht und Wasser"
                                            alt="emco Senator Outdoor ist eineextremwiderstandfähigeEingangsmatte"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/emco-Senator-Outdoor-ist-extrem-bestaendig.jpg"
                                            width="1280" height="580">

        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">抗性：对阳光和水</font></font></h1>

                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">极其坚固，采用顶级工艺</font></font>
                            </h2>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco SENATOR
                                OUTDOOR是专为室外覆盖区域设计的高品质入口垫：即使在极端天气条件下使用的材料也非常耐用，并且非常坚固。&nbsp;</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">褪色的颜色不会给人留下好印象：使用SENATOR
                                OUTDOOR，即使长时间暴露在阳光下，也能保证颜色均匀。</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">安全第一：垫子的防水材料可以帮助您避免事故，并且总是看起来干净和吸引人。&nbsp;</font></font>
                            </p><a href="{:url('index/entrance_mats')}"
                                   class="btn btn-default product-link"
                                   data-params="[{&quot;name&quot;:&quot;PRODUKTGRUPPPE_INTERNET_EBENE_3_SEL_BAU&quot;,&quot;value&quot;:2181}]"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">去产品</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lightcolor-banner "><img title="安全第一！ 使用emco SENATOR OUTDOOR避免事故"
                                             alt="安全第一！ 使用emco SENATOR OUTDOOR避免事故"
                                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/Sicherheit-mit-emco-Senator.jpg"
                                             width="1280" height="580">

        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">安全第一！</font></font></h1>

                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用emco
                                SENATOR OUTDOOR避免事故</font></font></h2>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">与emco SENATOR OUTDOOR完全没有任何妥协：保证符合DIN 51130的R
                                11防滑性能。</font><font
                                    style="vertical-align: inherit;">因此，您可以轻松有效地防止事故和任何相关成本。</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">支撑底盘采用刚性铝制，并具有隔音衬垫：最高品质，满足最高标准！</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">选择emco SENATOR入口垫，以确保有盖室外区域的质量和安全。</font></font>
                            </p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">一切都在细节：emco SENATOR OUTDOOR</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/Flexibles-Design-mit-emco-Senator.jpg"
                            width="360" height="270" alt="">

                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">设计灵活</font></font></strong>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco SENATOR OUTDOOR让您的设计愿景成为现实。</font><font
                                    style="vertical-align: inherit;">实际上所有几何形状都是可能的。</font><font
                                    style="vertical-align: inherit;">刀片有浅灰色，无烟煤色和红色可供选择。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/emco-Senator-entfernt-Grobschmutz.jpg"
                            width="360" height="270" alt="">

                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">去除粗糙的污垢</font></font></strong>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">通过emco SENATOR
                                OUTDOOR入口垫可以清除粗糙的污垢，清晰可见，保持建筑物清洁，节省清洁成本.Renigungskosten！</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/Hochwertiges-Traegerprofil-von-emco-Senator.jpg"
                            width="360" height="270" alt="">

                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">高品质的支持底盘</font></font></strong>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">支撑底盘采用刚性铝制，并具有隔音衬垫：最高品质，满足最高标准！</font></font></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="522 W和522 WS具有极强的弹性：SENATOR OUTDOOR"
                                            alt="522 W和522 WS具有极强的弹性：SENATOR OUTDOOR"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/emco-Senator-522W-und-522WS.jpg"
                                            width="1280" height="580">

        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1>&nbsp;</h1>

                            <h1>&nbsp;</h1>

                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">522 W和522
                                WS</font></font></h1>

                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">具有极强的弹性：SENATOR
                                OUTDOOR</font></font></h2>

                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco SENATOR
                                522 W / Outdoor适合每天最多20​​00人次。这款车型可以承受轮椅，折叠式婴儿车，手推车和购物手推车。&nbsp;</font></font></span>
                            </p>

                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco SENATOR
                                522 WS /户外入口垫承受更加极端的负荷：每天超过2000的人流量！</font><font style="vertical-align: inherit;">这种入口垫系统还可以承受托盘搬运车和汽车的通行。&nbsp;</font></font></span>
                            </p>

                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco SENATOR
                                OUTDOOR：适合任何负载！&nbsp;</font></font></span></p><a
                                    href="{:url('index/entrance_mats')}"
                                    class="btn btn-default product-link"
                                    data-params="[{&quot;name&quot;:&quot;PRODUKTGRUPPPE_INTERNET_EBENE_3_SEL_BAU&quot;,&quot;value&quot;:2181}]"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">去产品</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lightcolor-banner "><img title="emco SENATOR配件不锈钢型材，带有独立字样" alt="emco SENATOR配件不锈钢型材，带有独立字样"
                                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/senator-outdoor/emco-Senator-Zubehoer.jpg"
                                             width="1280" height="580">

        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">emco SENATOR配件</font></font></h1>

                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">不锈钢型材，带有个性刻字</font></font>
                            </h2>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">让您的入口更加吸引人：添加emco
                                EP22不锈钢型材，带有铬镍钢个性刻字，专为您的户外入口垫而设计。</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">文字不是简单地印在垫子上; </font><font
                                    style="vertical-align: inherit;">相反，它被激光切割成高质量的不锈钢型材，永久地集成到入口垫系统中。</font></font></p>

                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco EP22不锈钢型材：为您的入口垫系统带来一丝定制品质！</font></font></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">适合1区：使用emco保持入口区域清洁</font></font></h1></div>
            </div>
        </div>
    </div>
    <div id="c2126" class="csc-default">
        <section class="darkcolor-banner "><img title="系统组合emco 3区清洁" alt="系统组合，减少污垢"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                width="1280" height="540">

            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">来自emco的3区清洁服务</font></font></h1>

                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">理想的系统组合，可减少污垢</font></font>
                                </h2>

                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">emco 3区清洁系统是我们经过验证的有效减少污垢的组合。</font><font
                                        style="vertical-align: inherit;">任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。</font></font>
                                </p>

                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。</font><font
                                        style="vertical-align: inherit;">它降低了清洁成本，并保护了相邻的地板覆盖物和建筑设施。</font><font
                                        style="vertical-align: inherit;">该系统具有防滑特性，有助于防止事故发生。</font></font></p>

                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">所有emco创新，如触觉引导系统或SENATOR
                                    OUTDOOR都可以轻松集成到您的清洁系统中。</font><font style="vertical-align: inherit;">保持入口区域清洁 -
                                    与emco！</font></font></p><a
                                        href="{:url('index/zone_cleaning')}"
                                        class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">有关3区清洁的更多信息</font></font></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>



    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>

  {include file="public/footer" /}

</body>
</html>