{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/swimming')}">游泳池格栅</a></li>
                        <li class="last active"><span>emco游泳池格栅角落解决方案 - </span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <div id="c838" class="csc-default">
        <div class="tx-sz-comdbproducts">
            <section class="product-area" data-product="210" data-variant="385">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="carousel gallery-js-ready autorotation-disabled">
                                <div class="mask" style="height: 321px;">
                                    <div class="slideset" style="width: 1359px; margin-left: 0px;">
                                        <div class="slide active" style="width: 453px;"><a
                                                href="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_emco_723__131667_df4b4b191c.jpg"
                                                class="t3colorbox-products animation cboxElement" data-rel="slider"
                                                onclick="return false;"><img
                                                src="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_emco_723__131667_c9e3c75529.jpg"
                                                width="555" height="393" alt=""></a></div>
                                        <div class="slide" style="width: 453px;"><a
                                                href="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_Beckenrand__70906_ce980f1e45.jpg"
                                                class="t3colorbox-products animation cboxElement" data-rel="slider"
                                                onclick="return false;"><img
                                                src="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_Beckenrand__70906_7f43995899.jpg"
                                                width="416" height="416" alt=""></a></div>
                                        <div class="slide" style="width: 453px;"><a
                                                href="fileadmin/_processed_/csm_emco_bau_sr_pool_ref__26230_7926c0a444.jpg"
                                                class="t3colorbox-products animation cboxElement" data-rel="slider"
                                                onclick="return false;"><img
                                                src="fileadmin/_processed_/csm_emco_bau_sr_pool_ref__26230_a83981d660.jpg"
                                                width="448" height="416" alt=""></a></div>
                                    </div>
                                </div>
                                <ul class="pagination">
                                    <li class="active"><a href="#"><img
                                            src="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_emco_723__131667_c8ef25c6c5.jpg"
                                            width="107" height="75" alt=""></a></li>
                                    <li><a href="#"><img
                                            src="fileadmin/_processed_/csm_emco_bau_Gehrungsecke_Beckenrand__70906_9e213f9b5f.jpg"
                                            width="75" height="75" alt=""></a></li>
                                    <li><a href="#"><img
                                            src="fileadmin/_processed_/csm_emco_bau_sr_pool_ref__26230_6db7702d15.jpg"
                                            width="81" height="75" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="product-details"><h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco游泳池格栅角落解决方案</font></font></h2>
                                <div class="meta"><strong class="comments"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">* Gehrungsecke</font></font></strong></div>
                                <p></p>
                                <div class="icons-holder">
                                    <ul class="icon-frames"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="categories-holder">
                <form action="#" class="categories-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><label><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">其他产品版本</font></font></label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group"><select
                                        data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}"
                                        onchange="window.location.href=this.value; return false;" class="jcf-hidden">
                                    <option value="https://emco.emco-bau.com/en/products/swimming-pool-grates/detail/product/show/emco-swimming-pool-grates-corner-solution-1/gehrungsecke-en.html"
                                            selected="selected"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">* Gehrungsecke</font></font></option>
                                    <option value="https://emco.emco-bau.com/en/products/swimming-pool-grates/detail/product/show/emco-swimming-pool-grates-corner-solution-1/faecherecke-en.html">
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*
                                            Faecherecke</font></font></option>
                                    <option value="https://emco.emco-bau.com/en/products/swimming-pool-grates/detail/product/show/emco-swimming-pool-grates-corner-solution-1/stumpfe-ecke-en.html">
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*
                                            Stumpfe Ecke</font></font></option>
                                    <option value="https://emco.emco-bau.com/en/products/swimming-pool-grates/detail/product/show/emco-swimming-pool-grates-corner-solution-1/eckunterstuetzung-en.html">
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*
                                            Eckunterstuetzung</font></font></option>
                                </select><span class="jcf-select jcf-unselectable"><span class="jcf-select-text"><span
                                        class=""><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">* Gehrungsecke</font></font></span></span><span
                                        class="jcf-select-opener"></span></span></div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right"><a
                                    class="btn-overview btn btn-default"
                                    href="en/products/swimming-pool-grates.html"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">概述</font></font></span></a></div>
                        </div>
                    </div>
                </form>
            </div>
            <section class="accordion-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-1" aria-expanded="false"
                                            aria-controls="collapse-1"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">颜色</font></font></a></h4></div>
                                    <div id="collapse-1" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-1" aria-expanded="false" style="height: 216px;">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accordion-tags no-padding">
                                                        <ul class="image-list-no-margin">
                                                            <li><img
                                                                    src="fileadmin/_processed_/csm_emco_bau_weiss__70531_6f4f9c8071.jpg"
                                                                    width="122" height="122" alt=""><span>White - similar to RAL 9010</span>
                                                            </li>
                                                            <li><img
                                                                    src="fileadmin/_processed_/csm_emco_bau_grau__70533_ba7fc6916a.jpg"
                                                                    width="122" height="122" alt=""><span>Grey - similar to RAL 7001</span>
                                                            </li>
                                                            <li><img
                                                                    src="fileadmin/_processed_/csm_emco_bau_beige__70535_ebabe2a986.jpg"
                                                                    width="122" height="122" alt=""><span>Beige - similar to RAL 1001</span>
                                                            </li>
                                                            <li><img
                                                                    src="fileadmin/_processed_/csm_emco_bau_gelb__70537_9e42aa8d3d.jpg"
                                                                    width="122" height="122" alt=""><span>Yellow - similar to RAL 1018</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-2"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-2" aria-expanded="false"
                                            aria-controls="collapse-2"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">招标文本</font></font></a></h4></div>
                                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-2" aria-expanded="false" style="height: 521px;">
                                        <div class="panel-body">
                                            <table class="table no-margin">
                                                <tbody>
                                                <tr>
                                                    <td data-uid="430"></td>
                                                    <td>emco swimming pool grates<br>Corner solution</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="743">Description</td>
                                                    <td>Mitred corner, self-supporting</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="745">Standard colours</td>
                                                    <td>White - similar to RAL 9010<br>Grey - similar to RAL 7001<br>Beige
                                                        - similar to RAL 1001<br>Yellow - similar to RAL 1018
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="749">Special colours</td>
                                                    <td>The majority of special colours (according to RAL or tile
                                                        sample) are available.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="750">Service and services</td>
                                                    <td>Dimensioning<br>Installation service<br>Repairs</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="431">Contact</td>
                                                    <td>emco Bautechnik GmbH · Breslauer Straße 34 - 38 · 49808 Lingen
                                                        (Ems) · Germany · Phone: 0591/9140-0 · Fax: 0591/9140-852 ·
                                                        e-mail: bau@emco.de · www.emco-bau.com
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="4176">Colours</td>
                                                    <td>Beige - similar to RAL 1001<br>Yellow - similar to RAL 1018<br>Grey
                                                        - similar to RAL 7001<br>White - similar to RAL 9010
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-3"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-3" aria-expanded="false"
                                            aria-controls="collapse-3"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">服务</font></font></a></h4></div>
                                    <div id="collapse-3" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-3" aria-expanded="false" style="height: 314px;">
                                        <div class="panel-body">
                                            <ul class="listeansicht-lists">
                                                <li>Dimensioning</li>
                                                <li>Installation service</li>
                                                <li>Repairs</li>
                                                <li>Dimensioning</li>
                                                <li>Installation service</li>
                                                <li>Repairs</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="downloads-section">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12"><h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">下载</font></font></h2></div>
                        </div>
                        <div class="posts">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.pdf"
                                                         class="download-icon download-icon-pdf" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.pdf">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文本</font></font></strong><span
                                                class="file-size"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">pdf 29 KB</font></font></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.docx"
                                                         class="download-icon download-icon-docx" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.docx">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文件的文本</font></font></strong><span
                                                class="file-size"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">24 KB</font></font></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a
                                            href="fileadmin/comdbproducts/emco_bau_SR_Brochure_en_94273.PDF"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="fileadmin/comdbproducts/emco_bau_SR_Brochure_en_94273.PDF">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">手册</font></font></strong><span
                                                class="file-size"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">pdf 4 MB</font></font></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a
                                            href="fileadmin/comdbproducts/emco_bau_SR_pricelist_2019_en_105172.PDF"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="fileadmin/comdbproducts/emco_bau_SR_pricelist_2019_en_105172.PDF">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">价目表</font></font></strong><span
                                                class="file-size"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">pdf 202 KB</font></font></span></div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>


{include file="public/footer" /}

</body>
</html>