{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/swimming')}">游泳池格栅</a></li>
                        <li class="last active"><span>emco游泳池格栅角落解决方案 - </span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <div id="c838" class="csc-default">
        <div class="tx-sz-comdbproducts">

            <section class="product-area" data-product="210" data-variant="385">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="carousel">
                                <div class="mask">
                                    <div class="slideset">
                                        <!-- 大图 -->
                                        {volist name="banner" id="vo"}
                                        <div class="slide">
                                            <a href="{$vo.img}" class="t3colorbox-products animation" data-rel="slider" onclick="return false;">
                                                <img src="{$vo.img}" width="555" height="393" alt="">
                                            </a>
                                        </div>
                                        {/volist}

                                    </div>
                                </div>

                                <ul class="pagination">
                                    {volist name="banner" id="vo" }
                                    {empty name="vo.small_img"}

                                    {else /}
                                    <li><a href="#"><img src="{$vo.small_img}" width="107" height="75" alt=""></a></li>
                                    {/empty}
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="product-details"><h2>{$title}</h2>
                                <div class="meta"><strong class="comments">{$protucts.title?$protucts.title:''}</strong></div>
                                <p></p>
                                <div class="icons-holder">
                                    <ul class="icon-frames"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="categories-holder">
                <form action="#" class="categories-form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><label><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">其他产品版本</font></font></label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select data-jcf="{&quot;wrapNative&quot;: false, &quot;wrapNativeOnMobile&quot;: false}" onchange="window.location.href=this.value; return false;" class="jcf-hidden">
                                       {volist name="cates" id="vo"}
                                    <option value="{:url('index/swing_info')}?pid={$pid}&cid={$vo.id}" selected="selected"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">{$vo.title}</font></font></option>
                                        {/volist}
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right"><a
                                    class="btn-overview btn btn-default"
                                    href="{:url('index/swimming')}"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">概述</font></font></span></a></div>
                        </div>
                    </div>
                </form>
            </div>
            <section class="accordion-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                 {notempty name="protucts.tuzhi" }
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-x"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-x" aria-expanded="false"
                                            aria-controls="collapse-x"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">图纸</font></font></a></h4></div>
                                    <div id="collapse-x" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-x" aria-expanded="false" style="height: 216px;">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accordion-tags no-padding">
                                                        <ul class="image-list-no-margin">
                                                            <li>
                                                                <img src="{$protucts.tuzhi}" width="122" height="122" alt="">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {else /}

                                {/notempty}

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-1" aria-expanded="false"
                                            aria-controls="collapse-1"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">颜色</font></font></a></h4></div>
                                    <div id="collapse-1" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-1" aria-expanded="false" style="height: 216px;">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="accordion-tags no-padding">
                                                        <ul class="image-list-no-margin">
                                                            {volist name="color" id="vo"}
                                                            <li>
                                                                <img src="{$vo.img}" width="122" height="122" alt=""><span>{$vo.title}</span>
                                                            </li>
                                                            {/volist}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-2"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-2" aria-expanded="false"
                                            aria-controls="collapse-2"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">招标文本</font></font></a></h4></div>
                                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="heading-2" aria-expanded="false" style="height: 521px;">
                                        <div class="panel-body">
                                            <table class="table no-margin">
                                                <tbody>
                                                <tr>
                                                    <td data-uid="430"></td>
                                                    <td>{$title}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="431"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">径向布局</font></font></td>
                                                    <td>{$protucts.buju?$protucts.buju:''}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="743"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">描述</font></font></td>
                                                    <td>{$protucts.miaoshu?$protucts.miaoshu:''}</td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="745"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">标准颜色</font></font></td>
                                                    <td>
                                                        {volist name="$protucts.color" id="v1"}
                                                        <br>
                                                        {$v1}
                                                        {/volist}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="749"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">特殊颜色</font></font></td>
                                                    <td><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">{$protucts.te_color?$protucts.te_color:''}</font></font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="750"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">服务和服务</font></font></td>
                                                    <td>
                                                        {empty name="$protucts.fuwu"}
                                                        {else /}
                                                        {volist name="$protucts.fuwu" id="v2" }
                                                         {$v2}
                                                        <br>
                                                        {/volist}
                                                        {/empty}
                                                       </td>
                                                </tr>
                                                <tr>
                                                    <td data-uid="431"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">联系</font></font></td>
                                                    <td>{$protucts.lianxi}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-3"><h4 class="panel-title"><a
                                            role="button" class="collapsed" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse-3" aria-expanded="false"
                                            aria-controls="collapse-3"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">服务</font></font></a></h4></div>
                                    <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3" aria-expanded="false" style="height: 314px;">
                                        <div class="panel-body">
                                            <ul class="listeansicht-lists">
                                                {volist name="$protucts.fuwu" id="fuwu" }
                                                <li>{$fuwu}</li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="downloads-section">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12"><h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">下载</font></font></h2></div>
                        </div>
                        <div class="posts">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="{$protucts.zhanbiao}"
                                                         class="download-icon download-icon-pdf" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="{$protucts.zhanbiao}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文本</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <!--
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post"><a href="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.docx"
                                                         class="download-icon download-icon-docx" target="_blank"
                                                         title="下载此文档" data-gtm-event="download"
                                                         data-gtm-file-name="fileadmin/comdbproducts/docxpdf/Gehrungsecke_en_385.docx">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招标文件的文本</font></font></strong><span
                                                class="file-size"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">24 KB</font></font></span></div>
                                    </a></div>
                                </div>
                                  -->
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post">
                                        <a href="{$protucts.shouce}"
                                            class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="{$protucts.shouce}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">手册</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post">
                                        <a href="{$protucts.jiage}"
                                           class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                            data-gtm-event="download"
                                            data-gtm-file-name="{$protucts.jiage}">
                                        <div class="text"><strong class="title"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">价目表</font></font></strong><span
                                                class="file-size"></span></div>
                                    </a></div>
                                </div>
                                {notempty name="$protucts.chanp"}
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="post">
                                        <a href="{$protucts.chanp}"
                                           class="download-icon download-icon-pdf" target="_blank" title="下载此文档"
                                           data-gtm-event="download"
                                           data-gtm-file-name="{$protucts.chanp}">
                                            <div class="text"><strong class="title"><font
                                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品数据表</font></font></strong><span
                                                    class="file-size"></span></div>
                                        </a></div>
                                </div>
                                {else /}
                                {/notempty}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div><!--TYPO3SEARCH_end--></div>


    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">
            {include file="public/menu" /}
        </div>
    </div>


{include file="public/footer" /}

</body>
</html>