{include file="public/header" /}


<div class="w1">
    <div class="breadcrumb-holder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><span>你在这里</span></li>
                        <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                        <li><a href="{:url('index/architects')}">能力</a></li>
                        <li><a href="{:url('index/entrance_mats')}">制品</a></li>
                        <li><a href="{:url('index/entrance_mats')}">入口垫</a></li>
                        <li class="last active"><span>触觉引导系统</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--TYPO3SEARCH_begin-->
    <section class="lightcolor-banner "><img title="适用于视障人士的emco 522 TLS触觉引导系统" alt="适用于视障人士的emco 522 TLS触觉引导系统"
                                             src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Taktiles-Leitsystem-mit-emco.jpg"
                                             width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">emco触觉引导系统&nbsp;</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">522
                                TLS为视障人士</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco的522
                                TLS触觉地板引导系统可以保持建筑物清洁并减少障碍：帮助盲人和弱视人员在防止污垢进入建筑物的同时找到自己的方式。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco 522 TLS入口垫非常坚固，使用寿命长，工艺精湛。</font><font
                                    style="vertical-align: inherit;">由于这些功能，它非常适合在繁忙的建筑入口和走廊使用。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">展示您的同理心：将严格的质量要求与社会承诺相结合。</font><font
                                    style="vertical-align: inherit;">选择emco的触觉引导系统。</font></font></p></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-2-layout">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Leicht-und-sicher-ans-Ziel-mit-emco-TLS.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">门，楼梯和电梯很容易找到</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">通过垫子支撑底盘，在交通方向上运行，视障人士可以安全，轻松地前往他们想去的地方，并且可以用脚底和手杖感受到略微不同的高度。</font><font
                                    style="vertical-align: inherit;">信任emco TLS（自2013年起受实用新型保护）。</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Orientierung-mit-emco-TLS.jpg"
                            width="555" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">高对比度颜色的方式指导</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">引导系统的高对比度配色方案为部分视力提供了额外的方式指导，能够感知亮度差异。</font><font
                                    style="vertical-align: inherit;">除此之外，还可以选择集成矩形注意面板以指示交叉点或方向变化。</font></font></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">新：emcoSpin®Safe</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="darkcolor-banner "><img title="听觉印象的创新" alt="检测盲人和视力障碍者的方向和方向变化"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/emco-spinsafe-taktile-information-en.png"
                                            width="1280" height="600">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">EMCO </font></font><span
                                style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">SPIN </font></font><sup><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">®</font></font></sup><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;"> &nbsp;SAFE</font></font></span></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TLS的完美补充：符合DIN
                                32984标准</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">EMCO SPIN </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                SAFE是视障人士进一步EMCO入口地垫的创新。</font><font style="vertical-align: inherit;">有了它，盲人和视力障碍者可以轻松清晰地检测方向和脚或手杖方向的变化。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">设置在地板上的EMCO SPIN触觉信息</font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                SAFE对应于标准DIN 32984，已经在户外领域众所周知的。</font><font style="vertical-align: inherit;">坚固的不锈钢元件提供了更多的好处：除了触觉地面指示器外，它们还可以在使用手杖时产生明显的听觉印象变化。</font><font
                                    style="vertical-align: inherit;">该材料为视力障碍者提供了强烈的对比，因此可以更容易地将其与其他入口垫材料区分开来。</font></font>
                            </p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">该系统易于集成，特别适用于建筑，其中SPIN </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">从HOBA钢SAFE地板高度制导系统正在使用中。</font></font>
                            </p>
                            <a href="{:url('index/entrance_mats')}"
                               class="btn btn-default product-link"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">去产品</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="TYPES OF PROFILES" alt="TYPES OF PROFILES"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/emco-spin-safe-gelernt.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">型材类型</font></font></h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">众所周知</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="MATERIAL" alt="MATERIAL"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/emco-besta__ndig-spin-safe.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">材料</font></font>
                        </h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">耐</font></font></p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post post-teaser-icons">
                        <div class="image-wrapper"><img class="svg" title="REGULATED ACCORDING TO"
                                                        alt="REGULATED ACCORDING TO"
                                                        src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/emco-spin-safe-din.svg"
                                                        width="0" height="0"></div>
                        <div class="text-holder"><h2 class="promotion-header"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">按照规定进行监管</font></font>
                        </h2>
                            <p class="promotion-subheader"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">DIN 32984</font></font></p></div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">2区还有额外的好处</font></font></h1></div>
            </div>
        </div>
    </div>
    <section class="darkcolor-banner "><img title="减少障碍对盲人和弱视人群的方式指导" alt="减少障碍对盲人和弱视人群的方式指导"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Barrieren-reduzieren-mit-emco.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">减少障碍</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">盲人和弱视人士的方式指导</font></font>
                            </h2>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco的创新引导系统中的触觉楼层信息可以通过手杖感觉到，使视障人士更容易在建筑物入口处找到自己的方式。</font><font
                                    style="vertical-align: inherit;">该系统具有特别高对比度的配色方案，适用于视力不佳的人。</font><font
                                    style="vertical-align: inherit;">与所有emco入口垫系统一样，TLS适用于轮椅。</font></font></span></p>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">整栋建筑周围的独立移动：门很容易找到，楼梯和电梯也可以到达。</font><font
                                    style="vertical-align: inherit;">这不仅可以减少障碍，还可以提高安全性。</font></font></span></p>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">将您的项目与社交方面相关联，构建残障访问条款并展示您的同理心。</font><font
                                    style="vertical-align: inherit;">通过触觉引导系统，您可以选择一个出色的入口垫 - 一个非常特别的入口垫。</font></font></span>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="受实用新型保护更少障碍，具有出色的清洁性能" alt="受实用新型保护更少障碍，具有出色的清洁性能"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/TLS-patentiert-von-emco.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">受实用新型保护</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">更少的障碍，具有出色的清洁性能</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">自2013年以来，emco的触觉引导系统一直受到实用新型的保护：入口垫优化用于盲人和弱视人员，并具有出色的清洁性能。</font><font
                                    style="vertical-align: inherit;">emco的TLS也适用于建筑物入口处的重型到极重的使用。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">避免污垢，减少障碍。</font><font
                                    style="vertical-align: inherit;">创新的TLS由德国的emco开发，按照最高标准的材料和工艺制造，可实现持久，高功能的结果。</font></font>
                            </p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="posts-holder {f:if (condition:'{content.transparent}', then:'background-transparent')}">
        <div class="container">
            <article class="post">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Portrait-Sandra-Denzinger-sw.png"
                            width="1148" height="966" alt=""></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="text-area"><h2></h2>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">“DATEV传统上代表面向未来的系统。</font><font
                                    style="vertical-align: inherit;">现在EMCO </font></font><span
                                    style="font-weight: bold;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">SPIN </font></font><sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">®</font></font></sup><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">安全</font></font></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">，地面上同样创新的系统，在DATEV
                                III建筑的入口区，保证定向“。</font></font></h2>
                            <p class="bodytext"><span style="font-weight: bold;"><br><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sandra Denzinger</font></font></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">，建筑师</font></font><br><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">大楼：纽伦堡DATEV总部</font></font>
                            </p>
                            <p class="bodytext"><br>
                                <a href="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Referenzen/deutsch/emcobau-Referenz_DATEV-Nuernberg_DT_Screen-150dpi.pdf"
                                    title="更多的信息" target="_blank" class="btn"><span><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">查看参考报告</font></font></span></a></p></div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="posts-holder ">
        <div class="container col-3-layout">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Blindenleitsystem-von-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">盲人指导系统</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">这是一个导向系统的安装，包括两个不同结构高度（总高度22毫米）的交替入口垫轮廓。</font></font>
                            </p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Aufmerksamkeitsfeld-mit-emco.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">注意小组</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">这个楼层指示器是一个清晰可辨的标志，因此在交叉路口的方式指导是重要的。&nbsp;</font></font>
                            </p></div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <article class="post"><img
                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Umrahmung-von-emco-TLS.jpg"
                            width="360" height="270" alt="">
                        <div class="text-block"><strong class="promotion-h2"><font
                                style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">框架元素</font></font></strong>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">这样就完成了emco入口垫。&nbsp;</font></font><span
                                    style="line-height: 1.42857;"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">它始终垂直于交通方向设置，并具有100％的清洁动作。</font></font></span></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="整个建筑的灵活性TLS：多功能且易于集成 " alt="整个建筑的灵活性TLS：多功能且易于集成 "
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/taktiles-leitsystem/Flexibel-mit-emco-TLS.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">整个建筑的灵活性</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TLS：多功能且易于集成
                                &nbsp; &nbsp;</font></font></h2>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">emco的触觉引导系统适用于室内和室外覆盖区域。</font><font
                                    style="vertical-align: inherit;">这种入口垫创新可以集成到入口垫系统和所有流行的地板覆盖物。</font></font></span>
                            </p>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">灵活使用TLS：emco的引导系统是整个建筑物内触觉方向引导的更好选择。</font><font
                                    style="vertical-align: inherit;">传统的定位系统提供触觉信息，但不提供高质量入口垫的出色清洁性能。</font><font
                                    style="vertical-align: inherit;">使用emco TLS，您可以节省清洁成本！</font></font></span></p>
                            <p class="bodytext"><span style="line-height: 20px; "><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">节省清洁费用：为您的建筑量身定制emco的触觉地板引导系统。</font></font></span>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="research-holder dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">emco 522 TLS //使用DIPLOMAT具有高弹性，与MARSCHALL极具弹性</font></font>
                </h1></div>
            </div>
        </div>
    </div>
    <section class="darkcolor-banner "><img title="emco DIPLOMAT一个考虑周全的信息：优质的入口垫" alt="emco DIPLOMAT一个考虑周全的信息：优质的入口垫"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Diplomat.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1>&nbsp;</h1>
                            <h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco&nbsp; </font></font><span
                                    style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">DIPLOMAT</font></font></span></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">一个考虑周全的信息：优质的入口垫</font></font>
                            </h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">我们的emco DIPLOMAT入口垫非常适合正常和重载。</font><font
                                    style="vertical-align: inherit;">它可以在任何地方使用，并为各种应用程序提供合适的解决方案。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">经常光顾的建筑物，极端天气条件和有特殊美学要求的区域：使用emco
                                DIPLOMAT，您可以保证打出正确的音符！</font></font></p>
                            <p class="bodytext"><span style="font-weight: bold; "><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">典型应用示例：</font></font></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;酒店，销售室，银行，医生手术和私人入口区。</font></font>
                            </p>
                            <a href="{:url('index/entrance_mats')}"
                               class="btn btn-default product-link"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">去产品</font></font></span></a></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="darkcolor-banner "><img title="emco MARSCHALL完美配备污垢" alt="emco MARSCHALL完美配备污垢"
                                            src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/Sortiment/emco-Marschall.jpg"
                                            width="1280" height="580">
        <div class="caption-holder">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="caption"><h1 class="indent">&nbsp;</h1>
                            <h1 class="indent"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">EMCO&nbsp; </font></font><span
                                    style="font-weight: bold; "><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">MARSCHALL</font></font></span></h1>
                            <h2><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">完美配备污垢</font></font></h2>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">防御重载：emco MARSCHALL入口垫有效可靠地保护您免受污垢侵害。</font><font
                                    style="vertical-align: inherit;">其坚固的清洁系统坚固且极具弹性。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">emco MARSCHALL非常适合超高人数。</font><font
                                    style="vertical-align: inherit;">对于emco
                                MARSCHALL来说，极端挑战，例如耐用汽车和托盘搬运车，不是问题。</font></font></p>
                            <p class="bodytext"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">对于高于平均水平的需求：emco MARSCHALL！</font></font></p>
                            <p class="bodytext"><span style="font-weight: bold; "><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">典型应用示例：</font></font></span><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;购物中心，车站，机场和其他极为繁忙的入口区域。</font></font>
                            </p>
                            <a href="{:url('index/entrance_mats')}"
                               class="btn btn-default product-link"><span><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">去产品</font></font></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="c2089" class="csc-default">
        <section class="darkcolor-banner "><img title="系统组合emco 3区清洁" alt="系统组合，减少污垢"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung-von-emco.jpg"
                                                width="1280" height="540">
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">来自emco的3区清洁服务</font></font></h1>
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">理想的系统组合，可减少污垢</font></font>
                                </h2>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">emco 3区清洁系统是我们经过验证的有效减少污垢的组合。</font><font
                                        style="vertical-align: inherit;">任何区域的emco入口垫都可根据您的具体情况量身定制，并有机地融入您的建筑项目中。</font></font>
                                </p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">3区清洁系统非常适合购物中心，学校，日间托儿所，公共办公室，汽车经销商和所有其他具有高人流量的建筑物。</font><font
                                        style="vertical-align: inherit;">它降低了清洁成本，并保护了相邻的地板覆盖物和建筑设施。</font><font
                                        style="vertical-align: inherit;">该系统具有防滑特性，有助于防止事故发生。</font></font></p>
                                <p class="bodytext"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">所有emco创新，如触觉引导系统或SENATOR
                                    OUTDOOR都可以轻松集成到您的清洁系统中。</font><font style="vertical-align: inherit;">保持入口区域清洁 -
                                    与emco！</font></font></p>
                                <a href="{:url('index/zone_cleaning')}"
                                        class="btn btn-default"><span><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">有关3区清洁的更多信息</font></font></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>

    {include file="public/footer" /}
</body>
</html>