{include file="public/header" /}

    <div class="w1">
        <div class="breadcrumb-holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><span>You are here</span></li>
                            <li class="first"><a href="{:url('index/index')}">emco bau</a></li>
                            <li><a href="{:url('index/architects')}">能力</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">制品</a></li>
                            <li><a href="{:url('index/entrance_mats_2')}">入口垫</a></li>
                            <li class="last active"><span>3区清洁</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--TYPO3SEARCH_begin-->
        <section class="darkcolor-banner "><img title="3-Zone cleaning The perfect system combination for reducing dirt"
                                                alt="3-Zone cleaning The perfect system combination for reducing dirt"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/3-Zonen-Reinigung-von-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>3区清洁</h1>
                                <h2>完美的系统组合，减少污垢</h2>
                                <p class="bodytext">
                                    emco的3区清洁是我们久经考验的系统，可有效减少污垢：根据您建筑的特定条件量身定制。
                                </p>
                                <p class="bodytext">
                                    购物中心，学校，日间托儿所，公共办公室：emco的3区清洁系统是每个高水平脚步建筑的最佳选择！
                                </p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner ">
            <video loop="" muted="" autoplay="" class="teaserBackgroundVideo-video">
                <source src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/3Zonen_Reinigung.mp4"
                        type="video/mp4">
            </video>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="caption"><h1>并非所有污垢都是平等的</h1>
                                <h2>不仅仅是一个门垫！</h2>
                                <p class="bodytext">
                                    随着天气和季节的变化，您的入口会暴露在各种污垢中。同时，单个入口垫不能针对各种污垢和污垢进行优化是有道理的。
                                    这就是为什么emco 3区清洁结合了不同的专业垫来创建一个合理的系统：根据您的需求进行优化！
                                </p>
                                <p class="bodytext">我们有防尘的东西：emco 3区清洁。</p>
                                <a href="#youtube-58-sWr-9EGI" class="btn btn-default t3colorbox-youtube hidden-xs"
                                        title="watch the video"><span> 观看视频 </span></a>
                                <div style="display: none;">
                                    <div id="youtube-58-sWr-9EGI">
                                        <iframe width="640" height="360"
                                                src="https://www.youtube-nocookie.com/embed/58-sWr-9EGI?rel=0"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>三个区域详细</h1></div>
                </div>
            </div>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Zone-1-Grobschmutz.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">区域1：粗糙的污垢</strong>
                                <p class="bodytext">
                                    通过橡胶或卡式刷子插入物在第一区域擦掉粗糙的污垢。内部或外部：具有认证防滑功能！
                                </p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post">
                            <img src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Zone-2-Feinschmutz.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">区域2：细小的污垢</strong>
                                <p class="bodytext">
                                    罗纹地毯插入物，用于去除细小污垢。防滑插入材料可用于室内区域和室外覆盖区域。
                                </p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Zone-3-Feuchtschmutz.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">第3区：潮湿的污垢</strong>
                                <p class="bodytext">
                                    在建筑物内部，防滑C / R / O清洁地板覆盖物非常有效地吸收水分和残留污垢，并防止脚印。
                                </p></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="Zone 1 Coarse dirt in outdoor areas"
                                                alt="Zone 1 Coarse dirt in outdoor areas"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Sauberlaufsystem-Zone-1-von-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>1区</h1>
                                <h2>室外区域粗糙的污垢</h2>
                                <p class="bodytext">
                                    emco的入口垫具有高清洁性能，这得益于铝制支撑底盘中的功能性插入。
                                    橡胶和卡式刷子插件在去除3区域清洁系统的第一区域中的粗糙污垢方面特别有效。
                                    它们坚固耐用，可在室内和无保护的室外区域使用。emco刀片附带防滑证书。
                                </p>
                                <p class="bodytext">
                                    emco入口垫系统适应性强。凭借众多的垫子类型，各种结构高度和材料厚度，
                                    不需要留下干净的入口区域：可以根据您的要求选择污垢捕集能力和耐磨性。
                                    即使在极端情况下，emco也有正确的入口垫：具有托盘车和货车的翻车功能。
                                </p>
                                <a href="{:url('index/entrance_mats')}" class="btn btn-default product-link">
                                    <span>去产品</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="Zone 2 Fine dirt in indoor and covered outdoor areas"
                                                alt="Zone 2 Fine dirt in indoor and covered outdoor areas"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Sauberlaufsystem-Zone-2-von-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="caption"><h1>2区</h1>
                                <h2>室内和室外覆盖的细小污垢</h2>
                                <p class="bodytext">
                                    带有坚固罗纹地毯嵌件的emco入口垫特别适合去除细小污垢。其认证防滑性按照DIN 51130标准分类为R11：适用于室内和室外覆盖区域。
                                </p>
                                <p class="bodytext">
                                    四种结构高度和两种材料厚度意味着功能和设计的最大定制。
                                    通过添加两个其他轮廓元件，可以选择使emco DIPLOMAT和SENATOR入口垫更加有效。
                                    在特别易受污染的区域，我们建议使用橡胶嵌件或卡式刷。来自emco的入口垫：使用3区清洁系统轻松保持入口区域清洁！
                                </p><a href="{:url('index/entrance_mat')}"
                                        class="btn btn-default product-link"><span>去产品</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="darkcolor-banner "><img title="Zone 3 Damp dirt and residual dirt in indoor areas"
                                                alt="Zone 3 Damp dirt and residual dirt in indoor areas"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Sauberlaufsystem-Zone-3-von-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>3区</h1>
                                <h2>潮湿的污垢和室内区域的残留污垢</h2>
                                <p class="bodytext">
                                    特殊的中空纤维在将水分和残留污垢吸入纤维中特别有效。
                                    污垢颗粒被捕获，因此不会进一步进入建筑物。结果是长期防止难看的脚印。
                                    清洁地板覆盖物可以铺设为垫子或整个区域。可以捕获潮湿污垢和残留污垢的垫子有多种颜色和设计可供选择。
                                    这意味着它们可以完美地融入建筑物的结构和其他清洁区域的设计中。
                                </p>
                                <p class="bodytext">
                                    清洁材料是区域1和2中的emco入口消光系统元件的完美补充。
                                </p><a href="{:url('index/entrance_mats')}" class="btn btn-default product-link">
                                    <span>去产品</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>3区清洁：量身定制的性能，完美的设计</h1></div>
                </div>
            </div>
        </div>
        <section class="darkcolor-banner "><img title="Preventive cleanliness Avoid dirt before it occurs!"
                                                alt="Preventive cleanliness Avoid dirt before it occurs!"
                                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Vorbeugende-Sauberkeit-mit-emco.jpg"
                                                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>预防性清洁</h1>
                                <h2>在它发生之前避免污垢！</h2>
                                <p class="bodytext">
                                    没有第二次机会给人留下第一印象：你的入口区是你的名片。入口处的清洁和和谐的设计代表了秩序和完美 - 增强每个公司和每栋建筑的价值！
                                </p>
                                <p class="bodytext">
                                    通过emco 3区域清洁，入口被改造成完美无暇的接待室 - 整个建筑物都有效地防尘。
                                </p><a href="{:url('index/entrance_mats_range')}"
                                        title="zu unserem Sortiment" class='btn btn-default'><span>看范围</span></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lightcolor-banner "><img
                title="emco entrance mats: individual and high performing Tailored performance, perfect design"
                alt="emco entrance mats: individual and high performing Tailored performance, perfect design"
                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/Individuell-und-leistungsstark-mit-emco-Eingangsmatten.jpg"
                width="1280" height="580"/>
            <div class="caption-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="caption"><h1>emco入口垫：个性化和高性能</h1>
                                <h2>量身定制的性能，完美的设计</h2>
                                <p class="bodytext">
                                    3区清洁适应性：根据建筑物的可用空间，或室内和室外区域。
                                </p>
                                <p class="bodytext">
                                    而且这不仅仅是一个尺寸问题：即使更大的空间提供更多机会避免污垢被进一步追踪到建筑物中，emco创新的入口垫解决方案意味着即使在狭小的空间也可以实现出色的效果！
                                </p>
                                <p class="bodytext">
                                    例如：如果需要，您可以在emco入口垫系统中组合区域1和2。这样可以节省空间，而不必牺牲重要的清洁阶段：emco - 保持入口区域清洁！
                                </p><a href="{:url('index/entrance_mats_range')}"
                                        title="Mehr erfahren" class='btn btn-default'><span>阅读更多</span></a></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="research-holder dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h1>发现可能性！</h1></div>
                </div>
            </div>
        </div>
        <div id="c5253" class="csc-default">
            <section class="darkcolor-banner ">
                <img title="Clean-off from emco"
                     alt="Clean-off covering, high-quality and effective"
                     src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Sauberlauf/sauberlauf-erster-eindruck-emco.png" width="1280" height="580"/>
                <div class="caption-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="caption"><h1>emco清理系统</h1>
                                    <h2>第一印象：清洁。</h2>
                                    <p class="bodytext">
                                        您的入口区域会对您的客户和业务合作伙伴获得的第一印象产生重大影响。有意识或无意识地做到这一点！
                                    </p>
                                    <p class="bodytext">
                                        高品质的emco清洁覆盖物可防止建筑物内的灰尘和湿气。这有助于您改善形象并降低清洁成本。因此，emco清洁覆盖物还可降低由潮湿和潮湿引起的事故风险。
                                    </p>
                                    <p class="bodytext">.
                                        防止建筑物内的污垢。降低清洁成本。确保安全。emco为每种应用提供完美的清洁解决方案。
                                    </p><a href="{:url('index/clean_off')}" class='btn btn-default'>
                                        <span>去产品</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="posts-holder ">
            <div class="container col-3-layout">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/emco-Classic.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">经典</strong>
                                <p class="indent">
                                    经典的垫子：室外区域的入口垫，门廊和室内清洁区域。
                                </p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/emco-Indoor.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">室内</strong>
                                <p class="bodytext">
                                    如果无法在室外区域铺设垫子，则所有三个区域都可以放在室内。
                                </p></div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <article class="post"><img
                                src="__STATIC__/index/fileadmin/user_upload/Kompetenzseiten/Eingangsmattensysteme/3-Zonen-Reinigung/emco-Outdoor.jpg"
                                width="360" height="220" alt=""/>
                            <div class="text-block"><strong class="promotion-h2">户外</strong>
                                <p class="indent">
                                    如果由于行走深度而无法在室内区域铺设垫子，则可以将区域2铺设在有遮盖的室外区域。
                                </p></div>
                        </article>
                    </div>
                </div>
            </div>
        </section><!--TYPO3SEARCH_end--></div>
    <div id="c2906" class="csc-default">
        <div class="contact-popup szCfFlyout szCfTriggerUpdate szCfTriggerInit" id="szCf-2906" data-storage="72"
             data-searchStorage="72" data-geolocation="1" data-search="zip" data-transnational="0" data-sortby=""
             data-map="1" data-maptype="dynamic" data-categories="1,2,3,4" data-latitude="" data-longitude="">

            {include file="public/menu" /}

        </div>
    </div>

    {include file="public/footer" /}
</body>
</html>