{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">关联一级产品</label>
        <div class="layui-input-inline">
            <select name="p_id" >
                <option value="">一级产品</option>
                {volist name="matspro" id="list"}
                {if isset($vo['p_id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.p_id"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}" >{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关联二级产品</label>
        <div class="layui-input-inline">
            <select name="pid" lay-filter="two" id="two">
                <option value="">二级产品</option>
                {volist name="mats_two" id="list"}
                {if isset($vo['pid'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.pid"} selected="" {/if}>{$list.title}</option>
                   {else /}
                <option value="{$list.id}" >{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required"  placeholder="请输入类别名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品图纸</label>
        <div class="layui-input-block">
            <input type="text" name="tuzhi" value='{$vo.tuzhi|default=""}'  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品图标</label>
        <div class="layui-input-block">
            <input type="text" name="tubiao" value='{$vo.tubiao|default=""}'  class="layui-input">
            <span style="color: #FF0000;">*图标，可以选择上传，如果上传最多只能6张图片。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品高度</label>
        <div class="layui-input-block">
            <input type="text" name="height" value='{$vo.height|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品脚步声</label>
        <div class="layui-input-block">
            <input type="text" name="jiaobu" value='{$vo.jiaobu|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入口垫三级产品翻车和翻车功能</label>
        <div class="layui-input-block">
            <input type="text" name="fanche" value='{$vo.fanche|default=""}'  class="layui-input">
            <span style="color: #ff2600;">多个信息请以英文,号来分割。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标准型材间隙</label>
        <div class="layui-input-block">
            <input type="text" name="jianxi" value='{$vo.jianxi|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">自动门系统</label>
        <div class="layui-input-block">
            <input type="text" name="door" value='{$vo.door|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">连接</label>
        <div class="layui-input-block">
            <input type="text" name="lianjie" value='{$vo.lianjie|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
    <label class="layui-form-label">材料厚度（mm）</label>
    <div class="layui-input-block">
        <input type="text" name="houdu" value='{$vo.houdu|default=""}'  class="layui-input">
    </div>
     </div>

    <div class="layui-form-item">
        <label class="layui-form-label">最大。单个部分的宽度/轮廓长度（mm）</label>
        <div class="layui-input-block">
            <input type="text" name="max" value='{$vo.max|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">各个部分的深度/行走深度</label>
        <div class="layui-input-block">
            <input type="text" name="shengdu" value='{$vo.shengdu|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">重量</label>
        <div class="layui-input-block">
            <input type="text" name="zhongkg" value='{$vo.zhongkg|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">垫子按工厂标准或客户规格划分</label>
        <div class="layui-input-block">
            <input type="text" name="guige" value='{$vo.guige|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">固定载荷，单位为kg /100cm²</label>
        <div class="layui-input-block">
            <input type="text" name="zaihe" value='{$vo.zaihe|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">支持机箱</label>
        <div class="layui-input-block">
            <input type="text" name="jixiang" value='{$vo.jixiang|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">胎面</label>
        <div class="layui-input-block">
            <input type="text" name="taimian" value='{$vo.taimian|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">防滑</label>
        <div class="layui-input-block">
            <input type="text" name="fanghua" value='{$vo.fanghua|default=""}'  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">防火</label>
        <div class="layui-input-block">
            <input type="text" name="fanghuo" value='{$vo.fanghuo|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">建议</label>
        <div class="layui-input-block">
            <input type="text" name="jianyi" value='{$vo.jianyi|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">加载</label>
        <div class="layui-input-block">
            <input type="text" name="jiazai" value='{$vo.jiazai|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">普通颜色</label>
        <div class="layui-input-block">
            <input type="text" name="yanse" value='{$vo.yanse|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型</label>
        <div class="layui-input-block">
            <input type="text" name="model" value='{$vo.model|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系</label>
        <div class="layui-input-block">
            <input type="text" name="lianxi" value='{$vo.lianxi|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">颜色</label>
        <div class="layui-input-block">
            <textarea name="color" class="layui-textarea">{if isset($vo['id'])}{$vo.color}{/if}</textarea>
            <span style="color: #ff2600;">多个信息请以英文,号来分割。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">服务</label>
        <div class="layui-input-block">
            <textarea name="fuwu" class="layui-textarea">{if isset($vo['id'])}{$vo.fuwu}{/if}</textarea>
            <span style="color: #ff2600;">多个信息请以英文,号来分割。</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">招标文书PDF</label>
        <div class="layui-input-block">
            <input type="text" name="zhaobiao_text" value='{$vo.zhaobiao_text|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='zhaobiao_text' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">装修现代化PDF</label>
        <div class="layui-input-block">
            <input type="text" name="zhuangxiu" value='{$vo.zhuangxiu|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='zhuangxiu' data-type='pdf'>上传文件</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手册PDF</label>
        <div class="layui-input-block">
            <input type="text" name="shouce" value='{$vo.shouce|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='shouce' data-type='pdf'>上传文件</button>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">建筑物业主PDF</label>
        <div class="layui-input-block">
            <input type="text" name="wuye" value='{$vo.wuye|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='wuye' data-type='pdf'>上传文件</button>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">产品数据表pdf</label>
        <div class="layui-input-block">
            <input type="text" name="chanp" value='{$vo.chanp|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='chanp' data-type='pdf'>上传文件</button>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">3区清洁PDF</label>
        <div class="layui-input-block">
            <input type="text" name="clear" value='{$vo.clear|default=""}'  class="layui-input">
            <button type='button' data-file='one' data-field='clear' data-type='pdf'>上传文件</button>
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--<button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        $('form [name="tuzhi"]').uploadOneImage();
        $('form [name="tubiao"]').uploadMultipleImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>

{/block}

