{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">地理位置</label>
        <div class="layui-input-inline">
            <input type="text" name="address" value='{$vo.address|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专家级别</label>
        <div class="layui-input-inline">
            <select name="jibie">
                <option value=""></option>
                {volist name="zhuan" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.jibie"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <!--
    <div class="layui-form-item">
        <label class="layui-form-label">专家级别</label>
        <div class="layui-input-inline">
            <input type="text" name="jibie" value='{$vo.jibie|default=""}' required="required"  class="layui-input">
        </div>
    </div>
    -->
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <input type="text" name="sex" value='{$vo.sex|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">名字</label>
        <div class="layui-input-inline">
            <input type="text" name="names" value='{$vo.names|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">姓氏</label>
        <div class="layui-input-inline">
            <input type="text" name="xing" value='{$vo.xing|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">街道</label>
        <div class="layui-input-inline">
            <input type="text" name="street" value='{$vo.street|default=""}' required="required"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">门牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="number" value='{$vo.number|default=""}' required="required"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮政编码</label>
        <div class="layui-input-inline">
            <input type="text" name="zip_code" value='{$vo.zip_code|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">城市</label>
        <div class="layui-input-inline">
            <input type="text" name="city" value='{$vo.city|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">国家</label>
        <div class="layui-input-inline">
            <input type="text" name="county" value='{$vo.county|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱地址</label>
        <div class="layui-input-inline">
            <input type="text" name="email" value='{$vo.email|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
            <input type="text" name="tel" value='{$vo.tel|default=""}' required="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="info" class="layui-textarea">{if isset($vo['id'])}{$vo.info}{/if}</textarea>
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!-- <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>
{/block}

