<footer id="footer">
    <div class="container">
        <div class="columns">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col">
                        <ul class="footer-nav">
                            <li><strong class="title">产品</strong></li>
                            <li><a href="{:url('index/entrance_mats')}">emco 入口垫</a></li>
                            <li><a href="{:url('index/carpet_mats')}">emco 地毯垫</a></li>
                            <li><a href="{:url('index/clean_off')}">emco 净化系统</a></li>
                            <li><a href="{:url('index/swimming')}">emco 游泳池格栅</a></li>
                            <li><a href="{:url('index/entrance_mats_range')}">入口垫范围</a></li>
                            <li><a href="{:url('index/zone_cleaning')}">3区的清洁</a></li>
                            <li><a href="{:url('index/ecolinerpioneer')}">ECOLINE®PIONEER</a></li>
                            <li><a href="{:url('index/tactile_guidance_system')}">emco 触觉引导系统</a></li>
                            <li><a href="{:url('index/inox')}">emco INOX®</a></li>
                            <li><a href="{:url('index/entrance_mat_accessories')}">入口垫配件</a></li>
                            <ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col">
                        <ul class="footer-nav">
                            <li><strong class="title">顾客</strong></li>
                            <li><a href="{:url('index/architects')}">建筑师和规划师</a></li>
                            <li><a href="{:url('index/building_contractors')}">物业投资者和开发商</a></li>
                            <li><a href="{:url('index/floor_fitters')}">贸易和工匠</a></li>
                            <li><a href="{:url('index/commercial_laundries')}">洗衣店</a></li>
                            <ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col">
                        <ul class="footer-nav">
                            <li><strong class="title">快速访问</strong></li>
                            <li><a href="/designing-clean-entrances.html#top"
                                   onclick="jQuery('html, body').animate({scrollTop: 0}, 'fast'); return false;">回到顶部</a></li>
                            <li><a href="{:url('index/index')}">首页</a></li>
                            <li><a href="{:url('index/contact')}">联系</a></li>
                            <li><a href="{:url('index/press_contact')}">按联系人</a></li>
                            <li><a href="{:url('index/credits')}">积分</a></li>
                            <li><a href="{:url('index/private_policy')}">数据保护</a></li>
                            <li><a href="{:url('index/general_terms_and_conditions')}">服务条款</a></li>
                            <ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="col"><strong class="title">通讯</strong>
                        <form action="{:url('index/newsletter')}?email="  method="post" class="newsletter-form footerForm"
                              data-parsley-validate="data-parsley-validate" data-validate="html5"><label>在这里注册我们的时事通讯
                        </label>
                            <div class="form-group">
                                <button type="submit"><span></span></button>
                                <div class="input-holder">
                                    <input required="required" type="email" class="form-control" name="email" value="{$Think.get.email}" placeholder="输入电子邮件 ..."/>
                                </div>
                            </div>
                            <div class="checkbox"><label>
                                <input type="checkbox" name="privacy" required="required" data-parsley-required-message="必须填写此字段!" value="1"/>
                                我已阅读<a href="{:url('index/private_policy')}" target="_blank">隐私声明</a>并同意处理这些数据以处理我的查询。.</label></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <ul class="bottom-links">
                        <li><a href="https://www.emco-group.de/index.html" target="_blank">emco<strong>集团</strong></a></li>
                        <li><a href="https://www.emco-bath.com/en/home.html" target="_blank">emco<strong>bad</strong></a></li>
                        <li><a href="https://www.novus-dahle.com/" target="_blank"><strong>诺瓦斯</strong></a></li>
                        <li><a href="https://www.novus-dahle.com/" target="_blank"><strong>达勒</strong></a></li>
                        <li><a href="https://www.emco-elektroroller.de/index.html" target="_blank">emco<strong>电动滑板车</strong></a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="social-area">
                        <ul class="social-networks">
                            <li><a href="https://www.facebook.com/emco.bautechnik" target="_blank"
                                   class="icon-facebook" title="Facebook"></a></li>
                            <li><a href="https://twitter.com/emco_group" target="_blank" class="icon-twitter"
                                   title="Twitter"></a></li>
                            <li>
                                <a href="https://plus.google.com/u/0/+Emco-bau/posts" target="_blank"
                                   class="icon-google-plus" title="Google"></a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCZsbPvR3y3CVgee4NZF-W5Q" target="_blank"
                                   class="icon-youtube" title="Youtube"></a></li>
                            <li><a href="https://www.xing.com/companies/emcobau-undklimatechnikgmbh%26co.kg"
                                   target="_blank" class="icon-xing" title="Xing"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!--<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery.js" type="text/javascript"></script>-->

<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery-migrate-1.2.1.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/bootstrap.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery.colorbox-min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery-ias.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery.infinitescroll.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/isotope.pkgd.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/packery-mode.pkgd.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/masonry-horizontal.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Libraries/jquery.lazyload.min.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/revoslider/js/jquery.themepunch.revolution.min.js?1450455934" type="text/javascript"></script>
<script src="__STATIC__/index/revoslider/js/jquery.themepunch.plugins.min.js?1450455934" type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/femanager/Resources/Public/JavaScripts/jquery.fineuploader-3.5.0.min.js"
        type="text/javascript"></script>

<!--<script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyB5eRTwf2kURKx1PBJh9Y3fbjouOjdlzi4&amp;libraries=places&amp;language=en"-->
        <!--type="text/javascript"></script>-->

<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Powermail/parsleyConfig.js?1450455934"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/JavaScript/jquery.cookie.js?1450459360"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/JavaScript/jszip.min.js?1450459360"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/JavaScript/jszip-utils.js?1450459360"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/JavaScript/FileSaver.js?1450459360"
        type="text/javascript"></script>
<!-- 注释掉
<script src="__STATIC__/index/typo3conf/ext/sz_comdbproducts/Resources/Public/JavaScript/sz_comdbproducts.js?1519737948" type="text/javascript"></script>
-->
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/SzIndexedSearch/main.js?1499350126"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/jquery.main.js?1534763178"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/additional.js?1534763191" type="text/javascript"></script>
<script src="__STATIC__/index/typo3temp/javascript_dd82474708.js?1526395832" type="text/javascript"></script>

<script src="__STATIC__/index/typo3conf/ext/revoslider/Resources/Public/JavaScript/rs-main.js?1450359372"type="text/javascript"></script>

<script src="__STATIC__/index/typo3conf/ext/powermail/Resources/Public/JavaScripts/parsley.min.js?1456392530"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Powermail/tabs.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/Powermail/form.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/sz_contactfinder/Resources/Public/JavaScript/sz_contactfinder.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/femanager/Resources/Public/JavaScripts/Validation.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3conf/ext/typo3sz_assets/Resources/Public/JavaScript/FeManager/Femanager.js"
        type="text/javascript"></script>
<script src="__STATIC__/index/typo3temp/javascript_2619955b93.js" type="text/javascript"></script>


<!-- 公共的联系-->

<script>
        $("div#powermail_fieldwrap_30").click(function(){
            console.log(222);
            var names = $("#powermail_field_name").val();
            var email= $("#powermail_field_e_mail").val();
            var tel  =$("#powermail_field_telefon").val();
            var info =$("#powermail_field_nachricht").val();
            console.log(tel);
            $.ajax({
                url:"{:url('index/menu_commit')}",
                type:"post",
                data:{names:names,email:email,tel:tel,info:info},
                success:function(res){
                    console.log(res.code);
                    if(res.code == 200){
                        $('div#col1').show();
                        $("div#col2").hide();
                    }
                }
            })
        });
</script>
